     <table class="table tabel-virifier " id="myTable3">
              <thead>
                <tr>
                 <th width="5%">Sr.No.</th>
                  <th width="5%">User Id</th>
                 <!--  <th width="20%">Name</th>
                  <th width="20%">Email</th>
                  <th width="20%">Contact Number</th>
                  <th width="20%">DOB</th>
                  <th width="20%"class="hide_link">Profile</th>
                  <th width="20%"class=""><center>Status</center></th>
 -->
                  <!-- <th width="20%">Status</th> -->
                  <th width="10%">Created At</th>

                  <th width="5%"class="hide_link">View Wallet</th>
                  <th width="5%"class="hide_link">View Levels</th>

                </tr>
              </thead>
              <tbody id="myTable">
                    <% if(user_list.length>0)
                    { 
                       var i=0;k=1;
                       user_list.forEach(function(each_data){
                          %>
                <tr>
                   <td><%=k%>.</td>
                   <td>
                     <div>
                       <p class="">UI-<%=each_data.reg_user_id%></p>
                     </div>
                   </td>
                  <!--  <td>
                     <div> 
                       <p class="upper"><%=each_data.full_name%></p>
                     </div>
                    </td>
                    <td>
                            <div> 
                              <p class="upper"><%=each_data.email%></p>
                            </div>
                    </td>
                    <td>
                            <div> 
                              <p class="upper"><%=each_data.mobile_number%></p>
                            </div>
                    </td>
                    <td>
                            <% if(each_data.dob){ %>
                            <div> 
                              <p class="upper"><%=each_data.dob%></p>
                            </div>
                            <%}else{%>
                             <div> 
                          <p class="upper">----------</p>
                            </div>
                            <%}%>

                    </td>
                    <td>
                            <% if(each_data.profile_pic){ %>
                            
                            <div class=""> 
                             <img src="<%=each_data.profile_pic%>">
                            </div>
                            <%}else{%>
                            <div class=""> 
                                    <img src="admin-assets/images/user-icon.jpg">

                            </div>
                            <%}%>
                     </td> -->
                  
                     <!-- <td class="show_link">
                        <% 
                        if(each_data.status=="active"){ %>

                            <div> 
                               <p class="upper"><%=each_data.status%></p>
                           </div>
                      <%}else{%>
                       <div> 
                           <p class="upper"><%=each_data.status%></p>
                       </div>
                       <%}%> -->
                      <!-- </td> -->
                    <!--   <td class="hide_status"><p class="upper"><%=each_data.status%></p>
                      </td> -->
                    <!-- <td class="hide_link">  -->
                        <!-- <% 
                        if(each_data.status=="active"){ %>
                           -->
                          <!-- <button type="button" value="<%-each_data.reg_user_id%>" id="inactivebut"  class="btn  mr-2 btn-success_2 block-id ">Block </button> -->
                              
                      <!-- <%  }else{ %> -->
                          
                        <!-- <button type="button" value="<%-each_data.reg_user_id%>" id="activebut"  class="btn  btn-danger_1 mr-2 unblock-id " >Unblock</button> -->
              
                      <!-- <%  }
                        %> -->
                        <!-- <% 
                        if(each_data.status=="active"){ %>
                          
                          <div class="for-flex-align">
                          <div class="form-check">
                          <label class="form-check-label">
                             <input type="radio" class="form-check-input " name="optionsRadios<%=i%>"value="<%-each_data.reg_user_id%>" checked> Active  <i class="input-helper"></i></label>
                         </div>
                         <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input inacvtive-id_1" name="optionsRadios<%=i%>"value="<%-each_data.reg_user_id%>" id="inactivebut"> Inactive <i class="input-helper"></i></label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                             <input type="radio" class="form-check-input block-id_1 " name="optionsRadios<%=i%>"value="<%-each_data.reg_user_id%>"> Block  <i class="input-helper"></i></label>
                         </div>
                   
                          </div>
                      <%  }else if(each_data.status=="inactive"){ %>
                        

                        <div class="for-flex-align">
                          <div class="form-check">
                          <label class="form-check-label">
                             <input type="radio" class="form-check-input acvtive-id_1" name="optionsRadios<%=i%>"value="<%-each_data.reg_user_id%>" > Active  <i class="input-helper"></i></label>
                         </div>
                         <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input " name="optionsRadios<%=i%>"value="<%-each_data.reg_user_id%>" id="inactivebut" checked> Inactive <i class="input-helper"></i></label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                             <input type="radio" class="form-check-input block-id_1" name="optionsRadios<%=i%>"value="<%-each_data.reg_user_id%>"> Block  <i class="input-helper"></i></label>
                         </div>
                   
                          </div>
                   
                      <%  }else{ %>
                        
                             
                        <div class="for-flex-align">
                          <div class="form-check">
                          <label class="form-check-label">
                             <input type="radio" class="form-check-input acvtive-id_1 " name="optionsRadios<%=i%>"value="<%-each_data.reg_user_id%>" > Active  <i class="input-helper"></i></label>
                         </div>
                         <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input inacvtive-id_1" name="optionsRadios<%=i%>"value="<%-each_data.reg_user_id%>" id="inactivebut"> Inactive <i class="input-helper"></i></label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                             <input type="radio" class="form-check-input  " name="optionsRadios<%=i%>"value="<%-each_data.reg_user_id%>" checked> Block  <i class="input-helper"></i></label>
                         </div>
                   
                          </div>
  
                      <%  }%> -->
                    <td>
                     <p><%=moment(each_data.createdAt).format('MMM DD, YYYY')%></p>
                   </td>
                  <td class="hide_link">
                        <a class="dropdown-item" href="/view-wallet-by-userid?reg_user_id=<%=each_data.reg_user_id%>"><i class="fas fa-eye"></i> </a>
                     </td>
                   <td class="hide_link">
                        <a class="dropdown-item" href="/view-reflet-by-userid?reg_user_id=<%=each_data.reg_user_id%>"><i class="fas fa-eye"></i> </a>
                   </td>
                 
                </tr>
                <%
                i++;     k++; 
            });
                }else{
     %>
                       <tr>
            <td colspan="8"><center>No record found.</center> </td>
             </tr>       <%}%>
              </tbody>
          </table>

          <script type="text/javascript">

    $(".acvtive-id_1").click(function(evnt){
         
         var id = $(this).attr("value");

         
     var checkstr =  confirm('Are You Sure You Want To update status active?');
       if(checkstr == true){
            $.ajax({
                       type : "POST",
                       url  : "/change-status-user",
                       data: { reg_user_id: id,
                         status:"active" },
                       success:function(resp)
                       {
                         location.reload();

                   
                         
                       }           
             });
       }else{
       return false;
       }
   })
    $(".inacvtive-id_1").click(function(evnt){

         var id = $(this).attr("value");

   
     var checkstr =  confirm('Are You Sure You Want To update status inactive?');
       if(checkstr == true){
            $.ajax({
                       type : "POST",
                       url  : "/change-status-user",
                       data: { reg_user_id: id,
                         status:"inactive" },
                       success:function(resp)
                       {
                       
                         location.reload();
                         
                       }           
             });
       }else{
       return false;
       }
   }) 
     $(".block-id_1").click(function(evnt){
         
         var id = $(this).attr("value");

         // alert(id)

     var checkstr =  confirm('Are You Sure You Want To update status block?');
       if(checkstr == true){
            $.ajax({
                       type : "POST",
                       url  : "/change-status-user",
                       data: { reg_user_id: id,
                         status:"block" },
                       success:function(resp)
                       {
                       
                         location.reload();
                         
                       }           
             });
       }else{
       return false;
       }
   })
</script>