    <table class="table tabel-virifier "id="myTable3">
              <thead>
                <tr>
                  <th width="15%">Sr.No.</th>
                  <!-- <th width="20%">Icon</th> -->
                  <th width="20%">Label</th>
                  <th width="20%">Username</th>
                  <th width="20%">Status</th>
                  <th width="20%">Created At</th>
                  <!-- <th width="20%">Updated At</th> -->
<!--                   <th width="20%"class="hide_link">Action</th>
 -->
                  <!-- <th width="5%">Updated At</th> -->
                </tr>
              </thead>
              <tbody id="myTable">
                    <% if(mp_list.length>0)
                    { 
                       var i=0;
                       var j=1;
                       mp_list.forEach(function(each_data){
                          %>
                <tr>
                   <td>
                     <div>
                       <p class=""><%=j%>.</p>
                     </div>
                   </td>
                 
                   <td> 
                     <div> 
                       <p class="upper"><%=each_data.label%></p>
                       <%
                    if(each_data.icon)
                    {
                        %>
                        <img id="user_profile_image_preview" src="../addMPIcon/<%= each_data.icon %>" class="m-t-5" >
                        <%
                    }
                    else
                    {
                        
                        %>
                       ----------
                        <%
                    }
                %>

                     </div>
                    </td>
                    <td>
                        <div> 
                          <p class="upper"><%=each_data.rep_username%></p>
                        </div>
                    </td>
                   <td>
                      <% 
                      if(each_data.status=="active"){ %>
                        
                        <button type="button" value="<%-each_data.mp_reflect_id%>" id="inactivebut"  class="btn  mr-2 btn-success_1 acvtive-id-1 ">Active </button>
                            
                    <%  }else{ %>
                        
                      <button type="button" value="<%-each_data.mp_reflect_id%>" id="activebut"  class="btn  btn-danger mr-2 inacvtive-id-1 " >Inactive</button>
            
                    <%  }
                      %> 
                 
                    <td>
                     <p><%=moment(each_data.createdAt).format('MMM DD, YYYY')%></p>
                   </td>
                    <!--  <td>
                     <p><%=moment(each_data.updatedAt).format('MMM DD, YYYY')%></p>
                   </td> -->
                </tr> 
                <%
                i++;     j++; 
            });}
              else{
          %>
              <tr>
                              <td colspan="8"><center>No record found.</center> </td>
             </tr>       <%}%>
             
              </tbody>
          </table>

<script type="text/javascript">
  
  
    $(".acvtive-id-1").click(function(evnt){
         
         var id = $(this).attr("value");
     
     var checkstr =  confirm('Are You Sure You Want To Inactive?');
       if(checkstr == true){
            $.ajax({
                       type : "POST",
                       url  : "/change-status-allot-market-place",
                       data: { mp_reflect_id: id,
                         status:"inactive" },
                       success:function(resp)
                       {
                      
                         location.reload();
                         
                       }           
             });
       }else{
       return false;
       }
   })
 
 
  
  
             $(".inacvtive-id-1").click(function(evnt){

             var id = $(this).attr("value");
           
          var checkstr =  confirm('Are You Sure You Want To Active?');
          if(checkstr == true){
            $.ajax({
                       type : "POST",
                       url  : "/change-status-allot-market-place",
                       data: { mp_reflect_id:id,
                         status:"active" },
                       success:function(resp)
                       {
                        
                         location.reload();
                         
                       }           
             });
       }else{
       return false;
       }
   })
 </script>