<%- include('header'); -%>

<div>
   <div class="main-bredcrum-box">
        <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            Basic-Level Features List
          </li>
        </ul> 
      </nav>
    </div>
	<div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
          <i class="mdi mdi-contacts"></i>
        </span>              Basic-Level Features List
      </h3>
            <!-- <div>
                <a href="#" class="btn btn-common bg-gradient-primary text-center m-0" data-target="#newAccredation" data-toggle="modal">Allot Features</a>
            </div> -->
    </div>
    
  
    <div class="row align-bottom-flex">
    	<div class="col-md-2">
        <div>
          <div class="form-group">
              <a href="javascript:void(0);" onclick="export_table();">
                <span class="page-title">
                   <span class="page-title-icon bg-gradient-primary text-white mr-2">
                     <i class="mdi mdi-export"></i>
                   </span> 
                 </span>
               </a>
              <a href="javascript:void(0);" onclick="print_table();">
                <span class="page-title">
                   <span class="page-title-icon bg-gradient-primary text-white mr-2">
                     <i class="mdi mdi-printer"></i>
                   </span> 
                 </span>
              </a>
          </div>
        </div>
        
      </div>
    	<div class="col-md-2"> 
    		<div>
    			<!-- <div class="form-group">
                    <label for="exampleInputUsername1">MyReflet ID</label>
                    <select class="form-control form-control-sm" id="exampleFormControlSelect3">
                        <option>All</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                  </div> -->
    		</div>
    	</div>
    	<div class="col-md-3 offset-md-5">
          <% if(err_msg!=undefined && err_msg !='' ){ %>
            <div class="alert alert-danger text-center  flash_msg " id="error_msg">
                <%= err_msg %>
               </div>
             
            <% }%>
          
    			<div class="form-group">
              
                      <div class="input-group search-input">
                        <input type="text" class="form-control"id="myInput" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-sm" type="button"><i class=" mdi mdi-magnify"></i></button>
                        </div>
                      </div>
                    </div>
    		</div>
    	</div>
    </div>
    <div class="row">
    	<div class="col-md-12">
    		<div class="table-responsive">
          <% if(success_msg!=undefined && success_msg !='' ){ %>
            <div class="alert alert-success text-center  flash_msg "id="success_message">
            <%= success_msg %>
           </div>
          <% }%>
          
      <div>
    			<table class="table tabel-virifier "id="myTable3">
              <thead>
                <tr>
                  <th width="15%">S.NO.</th>
                  <!-- <th width="20%">Icon</th> -->
                  <!-- <th width="20%">Accredation Level</th> -->
                  <th width="20%">Accredation Features</th>
                  <th width="20%">Status</th>
                  <th width="20%">Created At</th>
<!--                   <th width="20%"class="hide_link">Action</th>
 -->
                  <!-- <th width="5%">Updated At</th> -->
                </tr>
              </thead>
              <tbody id="myTable">
                    <% if(accredation_list.data.length>0)
                    { 
                       var i=0;
                       accredation_list.data.forEach(function(each_data){
                          %>
                <tr>
                   <td>
                     <div>
                       <p class="">AF-<%=each_data.acc_feature_id%></p>
                     </div>
                   </td>
                   
                   <!-- <td class="upper"> 
                    <%=each_data.accreditation_level%>
                    </td> -->
                    <td class="upper"> 
                      <%=each_data.acc_feature%>
                      </td>
                   
                   <td>
                      <% 
                      if(each_data.acc_status=="active"){ %>
                        
                        <button type="button" value="<%-each_data.acc_feature_id%>" id="inactivebut"  class="btn  mr-2 btn-success_1 acvtive-id ">Active </button>
                            
                    <%  }else{ %>
                        
                      <button type="button" value="<%-each_data.acc_feature_id%>" id="activebut"  class="btn  btn-danger mr-2 inacvtive-id " >Inactive</button>
            
                    <%  }
                      %> 
                    <!-- <div class="switch-option">
                       <div class="inner-div ">
                          <label class="switch ">
                            <input type="checkbox"class="switch_user"  onchange="switchUserType(value)"> 
                           
                            <span class="slider round"></span>
                          </label> 
                       </div> 
                    </div>
    
                  <p class="change"><%=each_data.status%></p> -->
                   <!-- </td> -->
                    <td>
                     <p><%=moment(each_data.createdAt).format('MMM DD, YYYY')%></p>
                   </td>
                  
                  <!--  <td class="hide_link"> 
                     <div class="dropdown-menu-new">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">

                             <a href="#" class="dropdown-item data_value" data-target="#editMarketPlace<%=i%>" data-toggle="modal">Edit</a>

                          <a href="/delete-market-place?id=<%=each_data.market_place_id%>"class="dropdown-item" href="#"><i class="mdi mdi-delete "></i> Delete</a>
                        </div>
                     </div>
                   </td> -->
                </tr> 
                <%
								i++;			
            });
               }else{
           %>

           <tr>
            <td colspan="4"><center>No record found.</center> </td>
             </tr>      
             <%}%>
              </tbody>
          </table>
          <table class="paginate_table">
              <div class="pagination-list for-ava">
            <% if (accredation_list.totalPages> 0) { %>
              
              <ul class="pagination text-center">
                <% if (accredation_list.currentPage == 1) { %>
                  <li class="disabled"><a>First &nbsp;</a></li>
                <% } else { %>
                  <li><a href="/allot-reflect-list?page=1">First &nbsp;</a></li>
                <% } %>
                <% var i = (Number(accredation_list.currentPage) > 5 ? Number(accredation_list.currentPage) - 4 : 1) %>
                <% if (i !== 1) { %>
                  <li class="disabled"><a>...</a></li>
                <% } %>
                <% for (; i <= (Number(accredation_list.currentPage) + 4) && i < accredation_list.totalPages; i++) { %>
                  <% if (i == accredation_list.currentPage) { %>
                    
                    <li class="active"><a><%= i %> &nbsp;</a></li>
                  <% } else { %>
                    <li><a href="/allot-reflect-list?page=<%= i %>"><%= i %> &nbsp;</a></li>
                  <% } %>
                  <% if (i == Number(accredation_list.currentPage) + 4 && i <= accredation_list.totalPages) { %>
                    <li class="disabled"><a>...</a></li>
                  <% } %>
                <% } %>
                <% if (accredation_list.currentPage ==accredation_list.totalPages) { %>
                  <li class="disabled"><a>Next</a></li>
                <% } else { %>
                  <li><a href="/allot-reflect-list?page=<%= accredation_list.totalPages %>"> &gt;Next</a></li>
                <% } %>
              </ul>
            <% } %>
              </div>
          </table>
    		</div>
    	</div>
    </div>
<!-- </div> -->


<!--ADD Modal -->



<!--EDIT Modal -->  
  



<%- include('footer'); -%>
<script>
    $(document).on('click.bs.dropdown.data-api', '.dropdown.keep-inside-clicks-open', function (e) {
      e.stopPropagation();
    });
</script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>


<script>

    function export_table(){
        // alert('hhh')
      // $('.hide_link').show(); 
    
        $("#myTable3").table2excel({
          filename: "market-place-list.xls",
          exclude:'.hide_link',
        });
      //   $('.hide_link').show();
      window.location.reload(true);
    
      };
	function print_table(){
		
	  var restorepage = $('body').html();
		// $('.nodata').hide();
	   var printcontent = $('#myTable3').clone();
	   $('body').empty().html(printcontent);
	   window.print();
	   $('body').html(restorepage);
	 
     window.location.reload(true);

    }
      
</script>
<script type="text/javascript">
var plan_status;
  // $('.d1').on('click', '.menu-for-id a', function() {

	//    $('.d2').$(this).val(); 

	// //   var lastID = $(this).html();
	//    plan_status = $(this).find(".change_status").attr("value");
	// 	// console.log("text", lastID); 


  //  });
 $('.active_change').click(()=>{
  var plan_status= $('.change_status').val()
  var plan_id= $('.plan_id_1').val()

  alert(plan_status)
  alert(plan_id)

  $.ajax({
			type: "post",
			url: "/status-submit",
			data:{plan_is:plan_id,plan_status:plan_status},
			success: function (data) {
				
				location.reload();

			
			}
		});
 })

  $('.validate').validate({
     onfocusout: function(element) {
     this.element(element);
     },
     errorClass: 'error_validate',
     errorElement:'span', 
     highlight: function(element, errorClass) {
     $(element).removeClass(errorClass);
     },
     submitHandler:function(form)
      {
        $('#submit_signup').attr('disabled',true);
        form.submit();
      }
     });
     $('#validate1').validate({
     onfocusout: function(element) {
     this.element(element);
     },
     errorClass: 'error_validate',
     errorElement:'span',
     highlight: function(element, errorClass) {
     $(element).removeClass(errorClass);
     },
     submitHandler:function(form)
      {
        $('#submit_signup').attr('disabled',true);
        form.submit();
      }
     });
 
     setTimeout(function() {
    $('#success_message').fadeOut('fast');
    }, 3000);
    
    setTimeout(function() {
    $('#error_msg').fadeOut('fast');
    }, 3000);
  </script>

<!-- <script>
function switchUserType(value){

var value1 = $(".switch_user").val();
alert(value1)
var plan_status;
  // alert($("#switch_user").val())
if(value1=="on"){
  plan_status='active';
  $(".switch_user").val("off");
  $(".change").text("active");


}
if(value1=="off"){
  plan_status='inactive';

  $(".switch_user").val("on");
  $(".change").text("inactive");

}
alert(plan_status)
$.ajax({
            type: "post",
            url: "/change-plan-status",
            data: { plan_status : plan_status},
            success: function(data){
            alert('ver')

            //   $('#div_sidebar').html("");
            // $('#div_sidebar').html(``);
            location.reload()
            }
    });
}



</script> -->
<script type="text/javascript">
  
  // function activestatuschnage(){
    // alert($(this).find("button").val("value"))
    $(".acvtive-id").click(function(evnt){
         
         var id = $(this).attr("value");
        //  alert(id)
    //       alert('active')
    // // var id =$("#activebut").val()
    // alert(id);
     var checkstr =  confirm('Are You Sure You Want To Inactive?');
       if(checkstr == true){
            $.ajax({
                       type : "POST",
                       url  : "/active_inactive_features",
                       data: { mp_reflect_id: id,
                         status:"inactive" ,
                        levelType:"basic"},
                       success:function(resp)
                       {
                        // alert('t')

                        // alert(id);
                       
                         // $('#pro_img').hide();  
                         // $('#inactivebut').hide(); 
                         // $('#activebut').show(); 
                         location.reload();
                         
                       }           
             });
       }else{
       return false;
       }
   })
 
 
  
  // function inactivestatuschnage(obj1){
             // alert(obj1)
             $(".inacvtive-id").click(function(evnt){

             var id = $(this).attr("value");
            //  alert(id)
            //  alert('inactive')
             //  console.log($(".abc").find("button"))
            // var preview_div=$(this).parent(".inabc").parent().attr('id');
            //  var image_name = $(this).parent(".inabc").find('input').attr('value');
    
     
     //var id =$("#inactivebut").val()
          //alert("Are You Sure You Want To inctive");
          var checkstr =  confirm('Are You Sure You Want To Active?');
          if(checkstr == true){
            $.ajax({
                       type : "POST",
                       url  : "/active_inactive_features",
                       data: { mp_reflect_id:id,
                         status:"active" ,
                        levelType:"basic"},
                       success:function(resp)
                       {
                        //  alert(id);
                         // alert(status);
                         // $('#pro_img').hide(); 
                         // $('#activebut').hide();  
                         // $('#inactivebut').show(); 
                        
                         location.reload();
                         
                       }           
             });
       }else{
       return false;
       }
   })
 </script>
 <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
        </script>
        <script>
            $(document).on('click', '.browse', function(){
           var file = $(this).parent().parent().parent().find('.file');
           file.trigger('click');
         });
         $(document).on('change', '.file', function(){
           $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i,''));
         }); 
        </script>
<!-- <script>
$('.check').click(function() {

  var plan_id= $(".plan_id").html()
  var plan_name= $('.plan_name').html()
  var plan_price= $(".plan_price").html()

	// if(plan_name==''&& plan_price=='')
	// {
	// 	window.location.reload(true);
  //   false;
	// }

  alert(plan_name)
  alert(plan_price)
  alert(plan_id)

	       
})
                

</script> -->
<script type="text/javascript" > 
    function readURL(input) {
    if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
    
        // alert(e.target.result);
     
    $('#text_img_name').val(e.target.result);
    
    $('#user_profile_image_preview')
    .attr('src', e.target.result)
    .width(200)
    .height(150);
    };
    
     reader.readAsDataURL(input.files[0]);
    
     
    
      
    
    }
    var src = $('#imgInp6').val(); // "static/images/banner/blue.jpg"
    var tarr = src.split('/');      // ["static","images","banner","blue.jpg"]
    var file = tarr[tarr.length-1]; // "blue.jpg"
    var data = file.split('.')[0];  // "blue"
    
    //alert(data);
      //$('#text_img_name').val(src);
    }
    
    </script>
    <script>
        	var accreditation_id
 
 $('.d1').on('click', '.menu-for-id a', function() {
     $('.dropbtn_1').html($(this).html()); 

  // alert(reflect_id)
      // console.log("text", lastID); 


 });
 $('.mp_select').click(function() {
    //  $('.dropbtn_2').html($(this).html()); 

  //   var lastID = $(this).html();
  // alert('mp_id')
  // mp_id = $(this).find(".getId2").attr("value");
  accreditation_id = $(this).children("option:selected").val();
      // console.log("text", lastID); 
  alert(accreditation_id)

 });

 
      
  
  

  // }
      // ##################### Add complaint #######################
$('#add_accredation').click(function()
  {
    // alert('mp_id')
    var feature_id_list = $('input[type=checkbox]:checked').map(function(_, el) {
        return $(el).val();
	}).get();
      // $('.close').modal('hide');

    

      alert(feature_id_list)
      alert(accreditation_id)


          $.ajax({
          type: "post",
          url: "/post-allot-accreation-features-list",
          data:{feature_id_list:JSON.stringify(feature_id_list),accreditation_id:accreditation_id},
          success: function (data) {
            alert(data)
            $('#success').html('<h2>Your Entry successfully updated !<h2>');
            setTimeout(function() {
    $('.success_message_div').fadeOut('fast');
    }, 3000);
              location.reload();

          
          }
      });
  })


        </script>
<script>
        $('.get_feature_list').click(function() {
    //  $('.dropbtn_2').html($(this).html()); 
alert('cje')
  //   var lastID = $(this).html();
  // alert('mp_id')
  // mp_id = $(this).find(".getId2").attr("value");
  // accreditation_id = $(this).children("option:selected").val();
      // console.log("text", lastID); 
  alert('get_features_list : '+accreditation_id)

  $.ajax({
          type: "post",
          url: "/get-features-list",
          data:{accreditation_id:accreditation_id},
          success: function (data) {
            alert(data)
            $('#div_data').html("");
			    	$('#div_data').html(data);
          }
        
        })
 });

</script>

