  <!-- <% -->
                        <!-- if(each_data.status=="active"){ %> -->
                          
                          <!-- <div class="for-flex-align">
                          <div class="form-check">
                          <label class="form-check-label">
                             <input type="radio" class="form-check-input " name="optionsRadios<%=i%>"value="<%-each_data.country_id%>" checked> Active  <i class="input-helper"></i></label>
                         </div>
                         <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input inacvtive-id" name="optionsRadios<%=i%>"value="<%-each_data.country_id%>" id="inactivebut"> Inactive <i class="input-helper"></i></label>
                        </div>
                      
                   
                          </div>
                      -->
                   
                      <!-- <%  }else{ %> -->
                        
                             
                        <!-- <div class="for-flex-align">
                          <div class="form-check">
                          <label class="form-check-label">
                             <input type="radio" class="form-check-input acvtive-id " name="optionsRadios<%=i%>"value="<%-each_data.country_id%>" > Active  <i class="input-helper"></i></label>
                         </div>
                         <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios<%=i%>"value="<%-each_data.country_id%>" id="inactivebut"checked> Inactive <i class="input-helper"></i></label>
                        </div>
                        
                   
                          </div> -->
  
                      <!-- <%  }%> -->