<%- include('header'); -%>

<div>
   <div class="main-bredcrum-box">
        <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            Verifier List
          </li>
        </ul>
      </nav>
    </div>
	<div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
          <i class="mdi mdi-contacts"></i>
        </span> Verifier List </h3>
    </div>
    <div class="row align-bottom-flex">
    	
     
    <div class="col-md-2">
        <div>
          <div class="form-group">
              <a href="javascript:void(0);" onclick="export_table();">
                <span class="page-title">
                   <span class="page-title-icon bg-gradient-primary text-white mr-2">
                     <i class="mdi mdi-export"></i>
                   </span> 
                 </span>
               </a>
              <a href="javascript:void(0);" onclick="print_table();">
                <span class="page-title">
                   <span class="page-title-icon bg-gradient-primary text-white mr-2">
                     <i class="mdi mdi-printer"></i>
                   </span> 
                 </span>
              </a>
          </div>
        </div>
        
      </div>
    	<!--
    		<div>
    			<div class="form-group">
                    <label for="exampleInputUsername1">MyReflet ID</label>
                    <select class="form-control form-control-sm" id="exampleFormControlSelect3">
                        <option>All</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                  </div>
    		</div>
    	</div> -->
    	<div class="col-md-3 offset-md-5">
    		<div>
    			<div class="form-group">
                      <div class="input-group search-input">
                        <input type="text" class="form-control"id="myInput" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-sm" type="button"><i class=" mdi mdi-magnify"></i></button>
                        </div>
                      </div>
                    </div>
    		</div>
    	</div>
    </div>
    <div class="row">
    	<div class="col-md-12"> 
    		<div class="table-responsive">
          <% if(success_msg!=undefined && success_msg !='' ){ %>
            <div class="alert alert-success text-center  flash_msg "id="success_message">
            <%= success_msg %>
           </div>
          <% }%>
          <% if(err_msg!=undefined && err_msg !='' ){ %>
            <div class="alert alert-danger text-center  flash_msg " id="error_msg">
                <%= err_msg %>
               </div>
             
            <% }%>
    		<table class="table tabel-virifier"id="myTable3">
              <thead> 
               <tr>
                   <th>Verifier Id</th>
<!--                   <th>Type</th>
 -->
                   <th>Verifier Name</th>
                  <!-- <th>Email ID</th> -->
                  <th>Country</th>

<!--                   <th width="20%"class="hide_link">Status</th>
 -->
                  <!-- <th width="20%">Status</th> -->
                  <th width="20%">Created At</th>

<!--                   <th width="5%">Action</th>
 -->                </tr>

              </thead>
              <tbody id="myTable" class="data_table">
                  <% if(count_verifier_list.data.length>0)
                  { 
                     var i=0;
                     var j=1;
                     count_verifier_list.data.forEach(function(each_data){
                        %>
              <tr>
                 
                 <td>
                   <div>
                     <p class="">VI-<%=each_data.invite_sub_id%></p>
                   </div>
                 </td>
             <!--     <td>
                        <% if(each_data.reflectid_by=='representative'){ %>
                                       <h5 class="mb-0 clearfix">
                
                                         <img class="type-img" src="/admin-assets/images/icons/repersentative.png">                             Representative   
                
                                      </h5>
                                      <%}else{%>
                
                                      <h5 class="mb-0 clearfix">
                                          <img class="type-img" src="/admin-assets/images/icons/entity.png">
                                          Entity   
                                       </h5>
                                       <%}%>
                 </td> -->
                 <td>
                   <div> 

                                        <%if(each_data.rep_firstname){%>
                                             <p class="upper"> <%=each_data.rep_firstname%> <%=each_data.rep_lastname%></p> 

                                      <%}else if(each_data.entity_company_name){%>
                                         <p class="upper">  <%=each_data.entity_company_name%> </p>

                                  <%}else{%>
                                          <p class="upper"> <%=each_data.full_name%> <%=each_data.last_name%> </p>

                                                    <%}%>



                   </div>
                  </td>
                 <!--  <td>
                          <div> 
                            <p class="upper"><%=each_data.email%></p>
                          </div>
                  </td> -->
                  <!-- <td>
                          <div> 
                            <p class="upper"><%=each_data.mobile_number%></p>
                          </div>
                  </td> -->
                
                  <td>
                      <% if(each_data.country_name){ %>
                      <div> 

                           <p class="upper"><%=each_data.country_name%></p>

                      </div>
                      <%}else{%>
                       <div> 
                                                <p class="upper"><%=each_data.birthplace%></p>

                      </div>
                      <%}%>

              </td>
              <!-- <td>
                 
                  <div> 
                    <p class="upper"><%=each_data.status%></p>
                  </div>
                 <td> -->
                   <td>
                      <p><%=moment(each_data.createdAt).format('MMM DD, YYYY')%></p>
                 </td>

           </td>
             
             <!--       <td class="hide_link">
                     <div class="dropdown-menu-new">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                        
                          <a class="dropdown-item" href="/view-verifier-by-subverifier?reflet_id=<%=each_data.reflect_id%>"><i class="fas fa-eye"></i> View Verifier</a>
                       
                        </div>
                     </div>
                   </td> -->
                </tr>
                <%
                i++;  j++;    
            });
                }else{
     %>
                       <tr>
            <td colspan="8"><center>No record found.</center> </td>
             </tr>       <%}%>
              </tbody>
              <tbody class="status_table"></tbody>
            </table>
         
       <div class="pagination-list for-user">
          
            <% if (count_verifier_list.totalPages > 0) { %>
             <ul class="pagination text-center">
               <% if (count_verifier_list.currentPage == 1) { %>
                 <li class="disabled page-item"><a class="page-link">&lt;</a></li>
               <% } else { %>
                 <li class="page-item"><a class="page-link" href="/verifier-list?page=1">&lt;</a></li>
               <% } %>
          
          
          
               <% var i = (Number(count_verifier_list.currentPage) > 5 ? Number(count_verifier_list.currentPage) - 4 : 1) %>
               <% if (i !== 1) { %>
                 <!-- <li class="disabled"><a>...</a></li> -->
                 <li class="page-item disabled"><a class="page-link" >...</a></li>
               <% } %>
               <% for (; i <= (Number(count_verifier_list.currentPage) + 4) && i <= count_verifier_list.totalPages; i++) { %>
                 <% if (i == count_verifier_list.currentPage) { %>
                   <!-- <li class="active"><a><%= i %></a></li> -->
                   <li class="page-item active">
                   <a class="page-link" href="#"><%= i %><span class="sr-only">(count_verifier_list.currentPage)</span></a>
                   </li>
                 <% } else { %>
                   <li class="page-item"><a class="page-link" href="/verifier-list?page=<%= i %>"><%= i %></a></li>
                 <% } %>
                 <% if (i == Number(count_verifier_list.currentPage) + 4 && i < count_verifier_list.totalPages) { %>
                   <!-- <li class="disabled"><a>...</a></li> -->
                   <li class="page-item disabled"><a class="page-link" >...</a></li>
                 <% } %>
               <% } %>
          
          
               <% if (count_verifier_list.currentPage == count_verifier_list.totalPages) { %>                       
                 <li class="disabled page-item"><a class="page-link">&gt;</a></li>
               <% } else { %>
                 <li><a class="page-link" href="/verifier-list?page=<%= count_verifier_list.totalPages %>">&gt;</a></li>
               <% } %>
          
             </ul>
          <% } %>
          
           </div>
    		</div>
    	</div>
    </div>
</div>

<%- include('footer'); -%>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>

<script>


    function export_table(){
        // alert('hhh')
      // $('.hide_link').show();
    
        $("#myTable3").table2excel({
          filename: "Verifier-list.xls",
          exclude:'.hide_link',
        });
      //   $('.hide_link').show();
      window.location.reload(true);
    
      };
      
      function print_table(){
        $('.hide_link').hide();
     
     // $("#user_div").print();
     var restorepage = $('body').html();
  // $('.nodata').hide();
   var printcontent = $('#myTable3').clone();
   $('body').empty().html(printcontent);
   window.print();
   $('body').html(restorepage);
 
   window.location.reload(true);
        }   
   </script>
<script>
    $(document).ready(function(){
      // (".status_table").hide();
                $("#myInput1").on("keyup", function() {
                
            var value = $(this).val().toLowerCase();
             if(value)
            {
            // alert(value)
            $.ajax({
                          type: "post",
                          url: "/search-verifier-by-sub-verifier",
                          data:{query:value,sub_verifier_id:`<%=sub_verifier_id%>`,sub_verifier_reflectId:`<%=sub_verifier_reflectId%>`},
                          success: function (data) {
                            // alert(data);
                            
                                 $('.data_table').html("");
                                          $('.data_table').html(data);
                                  
      
  
    
    }
  })
 }
            else
            {
              location.reload(true);
            }
  })
    });
 </script> 

 <script>
  $('.select_option').click(function() {
    $('.status_table').html(" ")

    var option = $('option:selected', this).attr('mytag');
    //  alert(option)
     // if(option==0)
     // {
     //  location.reload(true);     
     //  }
     
    //  var checkstr =  confirm('Are You Sure You Want To Active?');
    $.ajax({
                      type : 'POST',
                      url  : '/show-verifier-by-status',
					            data: {option_value:option},
					  
                       success: function(verifier_data) {


                     if(verifier_data.length==0)
                      {

                             $(".data_table").hide();

                                    $(".status_table").append(`<td><td><td>No record found</td></td></td>`);

                      }
                    else{
                      

                    console.log("ajax success data : ")	
                    $('.data_table').hide();
                  $(".status_table").show();
                  verifier_data.forEach(function(each_data){
                    
                      
                    $(".status_table").append(`  <tr>
                 
                 <td>
                   <div>
                     <p class="">UI-${each_data.user_id}</p>
                   </div>
                 </td>
                 <td>
                   <div> 
                     <p class="upper">${each_data.full_name}</p>
                   </div>
                  </td>
                  <td>
                          <div> 
                            <p class="upper">${each_data.email}</p>
                          </div>
                  </td>
                  <!-- <td>
                          <div> 
                            <p class="upper">${each_data.mobile_number}</p>
                          </div>
                  </td> -->
                  <td>
                          <div> 
                            <p class="upper">${each_data.dob}</p>
                          </div>
                           

                  </td>
                  <td>
                      <div> 
                        <p class="upper">${each_data.birthplace}</p>
                      </div>
                     

              </td>
              <td>
                 
                  <div> 
                    <p class="upper">${each_data.status}</p>
                  </div>
                 

           </td>
              <td>
                 
                  <div> 
                    <p class="upper">${each_data.numReflect}</p>
                  </div>
                 

           </td>
                   <td>
                     <div class="dropdown-menu-new">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                          <a class="dropdown-item" href="manage_request.php"><i class="fas fa-cogs"></i> Manage MyReflet ID</a>
                          <!-- <a class="dropdown-item" href="#"><i class="mdi mdi-close-box"></i> Reject</a> -->
                          <a class="dropdown-item" href="/delete/:${each_data.user_id}"><i class="mdi mdi-delete"></i> Delete</a>
                          <a class="dropdown-item" href="/block-verifier/:${each_data.user_id}"><i class="mdi mdi-delete-forever"></i> Block</a>
                        </div>
                     </div>
                   </td>
                </tr>`);

                    });


          } 
              }                                                    
           
})
})
 
     $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $(".data_table tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
 
           
 </script>