<%-include('innerHeader')%>
<section class="heading-sec">
	<div class="container">
		<ul class="breadcrumb custom-braed">
			<li><a href="/manage-category">Manage Category</a><span class="arrowBread">>></span> </li>
			<li><%=p_cat_name%></li>
		</ul>
		<div class="row align-item-center">
			<div class="col-lg-9 col-md-6 col-sm-6">
				<div class="main-heading-dash">
					<h4>Opening of account</h4>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
            <form action="/submit_edit_mang_cat" method="POST">
        <div class="table-bdr-wrapper">
            <div class="personal-info-box for-download-view-table table-responsive table-another-wrapper">
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th>Document Name</th>
                            <th>Include</th>
                            <th>Self Certify</th>
                            <th>Certify</th>
                            <th>Sign</th>
                            <th>Complete</th>
                            <th><div class="tooltip fade" data-title="Record your video so that we can do the identity verification">
                                Video Proof
                                <img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
                            </div></th>
                        </tr>
                    <thead>
                            
                    <tbody>
                       
            	<%if(all_document_Data.length>0)
				{
                    var i=0;
					all_document_Data.forEach(function(each_data){
					  %>
                        <tr>
                                   <%DocumentMasterData.forEach(masterdata=>{%>

                                <%if(each_data.doc_id==masterdata.doc_id){%>
                            <td class="upper"><%=masterdata.document_name%></td>
                              <%}%>
                            <%})%>

                            <td>
                                <div class="checkbox">
                                    <label>
                                            <%if(each_data.include=="yes"){%>
                                        <input type="checkbox" name="include<%=i%>" value="yes" onclick="test(value)"checked>
                                        <%}else{%>
                                            <input type="checkbox" name="include<%=i%>" value="yes">
                                            <%}%>
                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                            <%if(each_data.self_certified=="yes"){%>
                                                <input type="checkbox" name="self_certify<%=i%>" value="yes" checked>
                                                <%}else{%>
                                                    <input type="checkbox" name="self_certify<%=i%>" value="yes">
                                                    <%}%>
                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                            <%if(each_data.certified=="yes"){%>
                                                <input type="checkbox" name="certify<%=i%>" value="yes" checked>
                                                <%}else{%>
                                                    <input type="checkbox" name="certify<%=i%>" value="yes">
                                                    <%}%>
                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                            <%if(each_data.sign=="yes"){%>
                                                <input type="checkbox" name="sign<%=i%>" value="yes" checked>
                                                <%}else{%>
                                                    <input type="checkbox" name="sign<%=i%>" value="yes">
                                                    <%}%>
                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                            <%if(each_data.complete=="yes"){%>
                                                <input type="checkbox" name="complete<%=i%>" value="yes" checked>
                                                <%}else{%>
                                                    <input type="checkbox" name="complete<%=i%>" value="yes">
                                                    <%}%>
                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                            <%if(each_data.video_proof=="yes"){%>
                                                <input type="checkbox" name="video_proof<%=i%>" value="yes" checked>
                                                <%}else{%>
                                                    <input type="checkbox" name="video_proof<%=i%>" value="yes">
                                                    <%}%>
                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    </label>        
                                    <input type="hidden" name="manage_doc_id<%=i%>" value="<%=each_data.manage_doc_id%>">
                                    <input type="hidden" name="category_doc_id<%=i%>" value="<%=each_data.category_doc_id%>">
                                </div>
                            </td>
                        </tr>

                        <%
                  i++;  });
      
                      }
                  %>
                      
                    </tbody>
                
                </table>
            </div>
        </div>
        <input type="hidden" name="cat_id" value="<%=category_id%>">
        
        <div class="text-center btn-set-doc m-top-40">
            <div class="row">
                <div class="col-xl-3 offset-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <!-- <a href="" class="btn-common-new">EDIT</a> -->
                    <button type="submit" class="btn-common-new">EDIT</button>
                </div>
                <div class="col-xl-3  col-lg-6 col-md-6 col-sm-6">
                    <a href="/manage-category" class="btn-common-new">Cancel</a>
                </div>
            </div>
        </div>
    </form>
	</div>
</section>
<%- include('innerFooter')%>
<script>
function test(){
    alert("ldshvhdsfk")
}
</script>