                    <div class="form-group">
						    <label>Mobile Number<span style="color: red;">*</span></label>
						     <div class="input-group">
						     	<div class="input-group-prepend mobile-no-select">
							      <select class="form-control select2-country-append" name="country_code_select">
							      	<%if(countryCode.length>0){%>

							    <option value="<%=country_code_id%>">+<%=phonecode%> - <%=iso%></option>

									<%countryCode.forEach(codes=>{
                                       if(codes.country_name!=selected_country){
									%>
	                               
								  <option value="<%=codes.country_code_id%>">+<%=codes.phonecode%> - <%=codes.iso%></option>
								
									<%}})%>
								<%}%>  
							      
							      </select>
							  </div>
							  <input type="text" name="mobile" id="mobile" class="form-control test2" placeholder=""
							data-rule-required="true" maxlength="15" minlength="10"data-msg-required="Please enter mobile number." data-rule-digits="true">
							</div>
							<span for="test2"class="error_validate"></span>
                           

							
						  </div>

            <script>
            	$(document).ready(function() {
                $(".select2-country-append").select2();
         });
     </script>
