<%- include('partials/header.ejs') %>  

<link rel="stylesheet" type="text/css" href="../assets/css/keyboard.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
    <!-- <script type="text/javascript" src="assets/js/jquery-1.11.3.min.js"></script> -->
    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <!-- dropdownhover effects JavaScript -->
    <script type="text/javascript" src="assets/js/bootstrap-dropdownhover.min.js"></script>
    <!-- wow JavaScript -->
    <script type="text/javascript" src="assets/js/wow.min.js"></script>
    <!-- video player JavaScript -->

    <!-- Custom JavaScript -->
    <script type="text/javascript" src="assets/js/custom.js"></script>

    <script type="text/javascript" src="../assets/js/keyboard.js"></script>


<script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<section class="login-sec">
	<div class="container-fluid p-0">
		<div class="row m-0">
			<div class="col-md-6 p-0">
				<div class="left-side-login">
					<div class="logo-box">
						<a href="">
							<img src="../assets/images/logo.png">
						</a>
					</div>
					<div class="side-text">
						<h2>
							Reset Password.
						</h2>
					</div>
				</div>
			</div>
			<div class="col-md-6 p-0">
				<div class="right-side-login forgot-pass">
					<div class="inner-div">
						<p class="first-line entert-pin-line">Please enter verification code sent to your email ID and reset password.</p>
						<div class="login-form-main">
                 <% if(err_msg!=undefined && err_msg !='' ){ %>
						<div class="alert alert-danger text-center  flash_msg " id="error_msg">
								<%= err_msg %>
							 </div>
					   
						<% }%>
					   <% if(success_msg!=undefined && success_msg !='' ){ %>
						  <div class="alert alert-success text-center  flash_msg "id="success_message">
							<%= success_msg %>
						 </div>
						<% }%>
              <form name="reset-password-form" method="post" action="/reset-pin-form" id="form_change_pin">
							 <!-- <div class="form-group">
                                <label>Enter Pin</label>
                                <input type="text"  class="form-control restrict_key" name="user_pin" id="user_pin" placeholder=""  data-rule-required="true" data-msg-required="Please enter your pin." />
							  </div> -->
							  <input class=""type="hidden" id="emailId" name="emailId" value="<%=emailid%>">
							  <input type="hidden" name="token" value="<%=token%>">

                              <div class="form-group">
                                <label>Verification code<span style="color: red;">*</span></label>
                                <input type="text"  class="form-control" name="verification_code" data-rule-required="true" data-msg-required="Please enter your verification code." placeholder="" />
                              </div>
                              
							  <div class="form-group">
								<label>New Pin</label>
								<div class="otp-box digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off">
                                    <input type="text" id="otp1" name="otp1" class="form-control text-center use-keyboard-input restrict_key" placeholder="-" maxlength="1" data-next="otp2" onkeypress="return isNumber(event)" tabindex="1" />

                                    <input type="text" id="otp2" name="otp2" class="form-control use-keyboard-input restrict_key" placeholder="-" maxlength="1" data-next="otp3" data-previous="otp1" onkeypress="return isNumber(event)" tabindex="2"/>

                                    <input type="text" id="otp3" name="otp3" class="form-control use-keyboard-input restrict_key" placeholder="-" maxlength="1" data-next="otp4" data-previous="otp2" onkeypress="return isNumber(event)" tabindex="3">
                                    <input type="text" id="otp4" name="otp4" class="form-control use-keyboard-input restrict_key" placeholder="-" maxlength="1" data-previous="otp3" onkeypress="return isNumber(event)" tabindex="4">
                                </div>
                                <span id="otp_err"  style="color: red;"></span>
							  </div>
							   
							   <div class="form-group">
								<label>Confirm Pin</label>
								<div class="otp-box digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off">
                                    <input type="text" id="otp6" name="otp5" class="form-control text-center use-keyboard-input restrict_key" placeholder="-" maxlength="1" data-next="otp7" onkeypress="return isNumber(event)" tabindex="5">
                                    <input type="text" id="otp7" name="otp6"  class="form-control use-keyboard-input restrict_key" placeholder="-" maxlength="1" data-next="otp8" data-previous="otp6" onkeypress="return isNumber(event)" tabindex="6" >
                                    <input type="text" id="otp8" name="otp7"  class="form-control use-keyboard-input restrict_key" placeholder="-" maxlength="1" data-next="otp9" data-previous="otp7" onkeypress="return isNumber(event)" tabindex="7">
                                    <input type="text" id="otp9" name="otp8" class="form-control use-keyboard-input restrict_key" placeholder="-" maxlength="1" data-previous="otp8" onkeypress="return isNumber(event)" tabindex="8">
                                </div>
                                <span id="con_otp_err"  style="color: red;"></span>
							  </div>
                              

				         <button type="submit" name="submit" class="purple-btn">Submit</button>

                  </form>
                </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

	
<!-- JQuery -->
    
<script type="text/javascript">

// 	$(document).ready(function(){

// 		$('#reset-password-form').validate({
// 		 onfocusout: function(element) {
// 		 this.element(element);
// 		 },
// 		 errorClass: 'error_validate',
// 		 errorElement:'span',
// 		 highlight: function(element, errorClass) {
// 		 $(element).removeClass(errorClass);
// 		 },
// 		 submitHandler:function(form)
// 			{
// 			  //$('#submit_pass').attr('disabled',true);
// 			  form.submit();
// 			}
// 		 });
// 		 $('.restrict_key').bind('keyup keydown keypress', function (evt) {
//             return false;
//        });  

// 		// $('#user_pin').onkeydown = function (e) {
//   //   		e.preventDefault();		
//   // 		}

//   		//  $('#user_pin').bind('keyup keydown keypress', function (evt) {
//        	// 		return false;
//   		//  });


// 	});
	

setTimeout(function() {
        $('#success_message').fadeOut('fast');
        }, 3000);
        
        setTimeout(function() {
        $('#error_msg').fadeOut('fast');
        }, 3000);
</script>
<script>
$(document).ready(function(){


	$('#form_change_pin').validate({
              
			  onfocusout: function(element) {
			  this.element(element);
			  },
			  errorClass: 'error_validate',
			  errorElement:'span',
			  highlight: function(element, errorClass) {
			  $(element).removeClass(errorClass);
			  },
			  submitHandler:function(form)
				 {
				   $('#submit_signup').attr('disabled',true);
				var otp1=   $("#otp1").val();
				var otp2= $("#otp2").val();
				var otp3=  $("#otp3").val();
				var otp4= $("#otp4").val();

				var otp6=   $("#otp6").val();
					var otp7= $("#otp7").val();
					var otp8=  $("#otp8").val();
					var otp9=  $("#otp9").val();

				var totalOtp1 = otp1+otp2+otp3+otp4
					var totalOtp2 = otp6+otp7+otp8+otp9
				   if($("#otp1").val()==""||$("#otp2").val()==""||$("#otp3").val()==""||$("#otp4").val()==""){
				   //    alert("dnsfjksd")
					  $("#otp_err").text("All fields are required.")
					}else{
					   $("#otp_err").text("")
					}

				  
				   if($("#otp6").val()==""||$("#otp7").val()==""||$("#otp8").val()==""||$("#otp9").val()==""){
				   //    alert("dnsfjksd")
					  $("#con_otp_err").text("All fields are required.")
					}else{
					   // $("#con_otp_err").text("")
					   if(totalOtp1!=totalOtp2){
						   $("#con_otp_err").text("Set-pin and confirm pin should be same.")
					   }else{
						   $("#con_otp_err").text("")
						   form.submit();
					   }
				   }
					
				   //  alert(totalOtp1)
				   //  alert(totalOtp2)

				  // 
				 }
			  });

   /**remove keyboard start**/
   $('.restrict_key').bind('keyup keydown keypress', function (evt) {
			  return false;
	  });
   /**remove keyboard end**/
});
</script>

<script>
	// WRITE THE VALIDATION SCRIPT.
	function isNumber(evt) {
		
		var iKeyCode = (evt.which) ? evt.which : evt.keyCode
		if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
			return false;

		return true;
	}  
	
	
 

</script>
 <%- include('partials/footer.ejs') %>    



 