<style>
	.tooltip {
	  position: relative;
	  display: inline-block;
	}
	
	.tooltip .tooltiptext {
	  visibility: hidden;
	  width: 140px;
	  background-color: #555;
	  color: #fff;
	  text-align: center;
	  border-radius: 6px;
	  padding: 5px;
	  position: absolute;
	  z-index: 1;
	  bottom: 150%;
	  left: 50%;
	  margin-left: -75px;
	  opacity: 0;
	  transition: opacity 0.3s;
	}
	
	.tooltip .tooltiptext::after {
	  content: "";
	  position: absolute;
	  top: 100%;
	  left: 50%;
	  margin-left: -5px;
	  border-width: 5px;
	  border-style: solid;
	  border-color: #555 transparent transparent transparent;
	}
	
	.tooltip:hover .tooltiptext {
	  visibility: visible;
	  opacity: 1;
	}


/* new css for loader */






	</style>
	


<%-include('./innerHeader')%>
<section class="heading-sec">
	<div class="container">
		<div class="row align-item-center">
			<div class="col-lg-12">
				<div class="custom-space-btw align-items-center">
					<!--<div class="main-heading-dash">
						<img src="../assets/images/icons/home-assets/dashbord-grey.png">
						<h4>Dashboard: What Can I Do With My Reflet?</h4>
					</div>-->
					<div>
						
					</div>
				</div>
			</div>
				<!-- message -->
	<% if(err_msg!=undefined && err_msg !='' ){ %>
		<div class="alert alert-danger text-center  flash_msg " id="error_msg">
			<%= err_msg %>
		   </div>
		 
		<% }%>
		 <% if(success_msg!=undefined && success_msg !='' ){ %>
		  <div class="alert alert-success text-center  flash_msg "id="success_message">
		  <%= success_msg %>
		 </div>
		<% }%>
			<div class="col-md-12">
				<div>

					<!--<ul class="nav nav-tabs dashboard-tabs-outer" id="myTab" role="tablist">
					  <li class="nav-item search-dash">
						  	<div class="responsive-search">
								<form class="response-search"> 
				                     <div class="input-group search-address-book">
				                        <input type="text" class="form-control autocomplete" id="myInput" placeholder="Search" onkeypress="autoSearch(this);">
				                        <div class="input-group-append">
				                            <button class="btn btn-search" type="button"><img src="../assets/images/icons/search-black.png"></button>
				                        </div>
				                    </div>
			                  	</form>
							</div>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link active" id="dash-tab" data-toggle="tab" href="#dashtab1" role="tab" aria-controls="home" aria-selected="true">
					    <span>
					    	<img class="gray" src="../assets/images/icons/home-assets/wallet.png">
					    	<img class="purple" src="../assets/images/icons/home-assets/wallet-purple.png">
					    </span> 	
					    Manage Wallet</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="dash-tab" data-toggle="tab" href="#dashtab2" role="tab" aria-controls="profile" aria-selected="false">
					    <span>
					    	<img class="gray" src="../assets/images/icons/home-assets/myrequests.png">
					    	<img class="purple" src="../assets/images/icons/home-assets/myrequests-purple.png">
					    </span> 
					    New Requests
					    </a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="dash-tab" data-toggle="tab" href="#dashtab3" role="tab" aria-controls="contact" aria-selected="false">
					    <span>
					    	<img class="gray" src="../assets/images/icons/home-assets/myrefletID.png">
					    	<img class="purple" src="../assets/images/icons/home-assets/myrefletID-purple.png">
					    </span> 
					    Create New MyReflet ID</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="dash-tab" data-toggle="tab" href="#dashtab4" role="tab" aria-controls="contact" aria-selected="false">
					    <span>
					    	<img class="gray" src="../assets/images/icons/home-assets/icon_message1.png">
					    	<img class="purple" src="../assets/images/icons/home-assets/icon_message.png">
					    </span> 
					    Send Messages</a>
					  </li>
					  <li class="nav-item">
					  	<div class="dropdown-menu-new">
				                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
				                          <span>
									    	<img class="gray" src="../assets/images/icons/home-assets/dashbord-grey.png">
									    	<img class="purple" src="../assets/images/icons/home-assets/dashboard.png">
									      </span> 
				                          All Dashboards
				                        </a>
				                        <div class="dropdown-menu" aria-labelledby="profileDropdown">
				                            <a class="dropdown-item" href="" >
				                            	<img src="../assets/images/icons/home-assets/addressbook.png"> Address Book
				                            </a>
											<a class="dropdown-item" href="">
												<img src="../assets/images/icons/home-assets/complaints.png"> Manage Complaints
											</a>
											<a class="dropdown-item" href=""><img src="../assets/images/icons/home-assets/code-verification-tool.png"> Self Certification
											</a>
											<a class="dropdown-item" href="">
												<img src="../assets/images/icons/home-assets/mydocuments.png"> Send Document
											</a>
											<a class="dropdown-item" href="">
												<img src="../assets/images/icons/home-assets/myrequests.png"> Create New Report
											</a>
											<a class="dropdown-item" href="">
												<img src="../assets/images/icons/home-assets/verifiers.png"> Become A Verifier
											</a>

				                        </div>
				        </div>
					  </li>
					</ul>-->
				</div>
			</div>
			<!--<div class="col-lg-12 col-md-8 col-sm-8">
				<div class="text-right">
					<a class="btn-common-new" href="../my-reflet-id/protact-your-wallet.php">Add New Wallet</a>
					<a class="btn-common-new" href="../my-reflet-id/import-wallet.php">Import Wallet</a>
				</div>
			</div>-->
			<div class="col-md-12"> 
				<div class="white-box client">
					<div class="tab-content" id="myTabContent">
					  <div class="tab-pane fade show active" id="dashtab1" role="tabpanel" aria-labelledby="dash-tab">
					  	<!--<h4 class="small-heading text-center">Manage your existing wallets or create a new wallet.</h4>-->
						<div class="row">
							<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="margin: auto;">
								<div class="white-box full-box wallet-box">
									<div class="row align-item-center">
									   <!--<div class="col-xl-6 col-lg-12 col-md-12">
									   	  <div class="id-code-represent-heading"> 
											  <img src="../assets/images/icons/home-assets/Representative.png">
											  <span>Representative</span>
										  </div>
									   </div>-->
									   <!--<div class="col-xl-6 col-lg-12 col-md-12">
									   	 <h5 class="mb-0 balance-value">Balance : 0.245 ETH</h5>
									   </div>-->
									</div>
									<div>
										<div class="private-key-copy-box mt-15">
											<div class="form-group">
												<label>Public key</label>
												<div class="input-group mb-3">
												  <input type="text" class="form-control" value="<%= public_key %>" id="wallet_addr1" readonly>
												  <div class="input-group-append">
													<span class="tooltip">
												  	<a class="btn-copy" href="javascript:void(0);"  onclick="myFunction1(1)" onmouseout="outFunc(1)"><img src="../assets/images/icons/createidentity-assets/copy.png">
														<span class="tooltiptext" id="myTooltip1">Copy to clipboard</span>
													</a>
													  </span>
												  </div>
												</div>
											</div>
										</div>
										<div class="row inner-box-id-code">
											<div class="col-md-4 p-0">
												<div class="for-flex-align">
													<!--<img src="../assets/images/icons/home-assets/user.png">-->
													<p>Wallet ID</p>
												</div>
											</div>
											<div class="col-md-6 dubble-dot-after p-0">
												<p><%= wallet_address %></p>
											</div>
										</div>
										<div class="row inner-box-id-code">
											<div class="col-md-4 p-0">
												<div class="for-flex-align">
													<img src="../assets/images/icons/home-assets/user.png">
													<p>MyReflet ID</p>
												</div>
											</div>
											<div class="col-md-6 dubble-dot-after p-0">
												<p><%= reflet_id %></p>
											</div>
										</div>
										<div class="row inner-box-id-code">
											<div class="col-md-4 p-0">
												<div class="for-flex-align">
													<img src="../assets/images/icons/7.png">
													<p  >Balance</p>
												</div>
											</div>
											<div class="col-md-6 dubble-dot-after p-0">
												<p><%= balance %></p>
											</div>
										</div>
										<div class="row inner-box-id-code">
											<div class="col-md-4 p-0">
												<div class="for-flex-align">
													<img src="../assets/images/icons/7.png">
													<p>Wallet type</p>
												</div>
											</div>
											<div class="col-md-6 dubble-dot-after p-0">
												<p><%= wallet_type %></p>
											</div>
										</div>
										<div class="row">
											<!--<div class="col-md-3">
												<img src="../assets/images/icons/wallet/qrcode.png" class="img-fluid">
											</div>-->
											<div class="col-md-9" style="margin: auto;">
												<!--<h4 class="purple-heading">Just scan the wallet address</h4>
												<p>You can share this QR code with friends to receive ether or tokens in your wallet.</p>-->
												<div class="row mt-15">
													<div class="col-xl-6 col-lg-12 col-md-12">
														<a class="btn-common-new single-color-btn" href="#" data-toggle="modal" data-target="#Send"><img src="../assets/images/icons/wallet/send.png"> Send</a>
													</div>
													<div class="col-xl-6 col-lg-12 col-md-12">
													<a class="btn-common-new single-color-btn" href="all-docs-folder" onclick="location.href=this.href+'?wallet_type='+ `<%=encrypt(wallet_type) %>`+'&wallet_address='+`<%=encrypt(public_key) %>`;
														return false"><img src="../assets/images/icons/document.png"> Document</a>
													</div>
												</div>
											</div>
										</div>
							         </div>
							    </div>
				            </div>
				           
						 </div>
						 <h4 class="small-heading text-center"> Transaction History</h4>
						 <div class="row">
						 <div class="col-lg-12">
					  	 		<!--<h4 class="small-heading text-left mb-15">New Requests</h4>-->
								<div class="personal-info-box table-responsive another-table">
									<table class="table" id="myTable3">
										<thead>
									    	<tr> 
										      	<th scope="col" width="10%">Due Date</th>
										      	<th scope="col" width="10%">Amount</th>
										      	<th scope="col" width="10%">Action</th>
									    	</tr>
									  	</thead>
										<tbody>
											<% for(let i=0;i<cryptoTransArr.length;i++){ %>
										    <tr>
												
											    <td> <%= cryptoTransArr[i].operation %> <%= cryptoTransArr[i].date %></td>
												<% if(cryptoTransArr[i].operation=='shared'||cryptoTransArr[i].operation=='sent') {%>
											    <td> <span class="pending-status" style="color: red;"><%= cryptoTransArr[i].amount %></span></td>
												<% }else{ %>
													<td> <span class="pending-status" style="color: green;"><%= cryptoTransArr[i].amount %></span></td>
													<% } %>
											    <td>
											      	<a href="#" class="view-link" id="rec-id<%=i %>" data-toggle="modal" data-target="" onclick="showReceipt(`<%= cryptoTransArr[i].transaction_id %>`,`<%= wallet_type  %>`,`<%=i %>`)">View Recipt</a>
										      	</td>
												 
										    </tr>
											  <!--modal transaction rceipt-->
			<div class="modal fade field-edit-modal" id="details<%=i %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
				  <div class="modal-content">
					<div class="modal-body">
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					  </button>
					  <div class="create-wallet-box" style="    padding: 1px 35px;">
						  <div class="row align-item-center">
							  <div class="col-xl-2 col-lg-3 col-md-3">
								  <div>
									  <img src="../assets/images/icons/createidentity-assets/receipt.png">
								  </div>
							  </div>
							  <div class="col-xl-7 col-lg-7 col-md-7">
								  <h5 class="heading-purple">Receipt</h5>
							  </div>
						  </div>
						  <div class="row">
							  <div class="col-xl-12 col-lg-12 col-md-12 m-auto">
								  <div class="setup-inner-box for-protact" style="padding: 14px 0 10px;">
									  <div class="create-rflet-id-form">
										  <div class="form-group">
											  <label>From wallet address</label>
											  <div class="input-group">
												<input type="text" class="form-control" readonly id="from-id<%=i %>" value="" >
											  </div>
										  </div>
										  <div class="form-group">
											  <label>To wallet address</label>
											  <div class="input-group">
												<input type="text" class="form-control" readonly id="to-id<%=i %>" value="">
											  </div>
										  </div>
										  <div class="form-group">
											  <label>Name</label>
											  <div class="input-group">
												<input type="text" class="form-control" readonly  id="rec-name-id<%=i %>" value="">
											  </div>
										  </div>
										  <div class="form-group">
											  <label>Address</label>
											  <div class="input-group">
												<input type="text" class="form-control" readonly id="rec-add-id<%=i %>" value="">
											  </div>
										  </div>
										  <div class="form-group">
											  <label>My reflet ID</label>
											  <div class="input-group">
												<input type="text" class="form-control" readonly id="ref-id<%=i %>" value="">
											  </div>
										  </div>
										  <div class="form-group">
											  <label>Document Sent</label>
											  <div class="input-group">
												<input type="text" class="form-control" readonly id="doc-name-id<%=i %>" value="">
											  </div>
										  </div>
										  <div class="form-group">
											  <label>Address Proof</label>
											  <div class="input-group">
												<input type="text" class="form-control" readonly id="rec-addp-id<%=i %>" value="">
											  </div>
										  </div>
										  <div class="form-group">
											  <label>Date & Time</label>
											  <div class="input-group">
												<input type="text" class="form-control" readonly id="time-id<%=i %>" value="">
											  </div>
										  </div>
										  <div class="form-group">
											  <label>Transaction Hash</label>
											  <div class="input-group">
												<input type="text" class="form-control" readonly id='hash-id<%=i %>' value="">
											  </div>
										  </div>
										  <div class="form-group">
											  <label>Amount</label>
											  <div class="input-group">
												<input type="text" class="form-control" readonly id="amount-id<%=i %>" value="">
											  </div>
										  </div>
										  <img src="../assets/images/approve.png" alt="Accepted" style="margin-top: -14px;">
									  </div>
									 
								  </div>
							  </div>
						   </div>
						 </div>
					 </div>
				  </div>
				</div>
			  </div>
											<% } %>
										  
										</tbody>
									</table>
								</div>
							</div>
						
						 </div>
					  </div>
					  <!--<div class="tab-pane fade" id="dashtab2" role="tabpanel" aria-labelledby="dash-tab">
					  	 <div class="row">
					  	 	<div class="col-lg-12">
					  	 		<h4 class="small-heading text-left mb-15">New Requests</h4>
								<div class="personal-info-box table-responsive another-table">
									<table class="table" id="myTable3">
										<thead>
									    	<tr> 
										      	<th scope="col" width="10%">Request ID</th>
										      	<th scope="col" width="20%">Requested By/From Verifier</th>
										      	<th scope="col" width="10%">MyReflet ID</th>
										      	<th scope="col" width="10%">Type</th>
										      	<th scope="col" width="15%">Requested On</th>
										      	<th scope="col" width="10%">Due Date</th>
										      	<th scope="col" width="10%">Status</th>
										      	<th scope="col" width="10%">Action</th>
									    	</tr>
									  	</thead>
										<tbody>
										    <tr>
										    	<td>350052</td>
										      	<td>
											      	<div class="for-flex-align">
											      		<div class="checkbox">
												          	<label>
													            <img class="profile-table" src="../assets/images/other/img_user1.png">
											      		     	<p class="line-hgt">
											      		     		<span class="font-w-600">Jack Ma</span> <br>
											      		     		25102
											      		     	</p>
												         	 </label>
												        </div>
													</div>
										      	</td>
											    <td><span class="font-w-600">John Doe </span> <br> 132556</td>
											    <td>Requested by me</td>
											    <td>20 jan, 2020</td>
											    <td>30 jan, 2020</td>
											    <td class="text-center"> <span class="pending-status">Pending</span></td>
											    <td>
											      	<a href="requested-by-verifier.php" class="view-link">View</a>
										      	</td>
										    </tr>
										     <tr>
										    	<td>350052</td>
										      	<td>
											      	<div class="for-flex-align">
											      		<div class="checkbox">
												          	<label>
													            <img class="profile-table" src="../assets/images/other/img_user1.png">
											      		     	<p class="line-hgt">
											      		     		<span class="font-w-600">Jack Ma</span> <br>
											      		     		25102
											      		     	</p>
												         	 </label>
												        </div>
													</div>
										      	</td>
											    <td><span class="font-w-600">John Doe </span> <br> 132556</td>
											    <td>Requested by me</td>
											    <td>20 jan, 2020</td>
											    <td>30 jan, 2020</td>
											    <td class="text-center"> <span class="pending-status">Pending</span></td>
											    <td>
											      	<a href="requested-by-verifier.php" class="view-link">View</a>
										      	</td>
										    </tr>
										     <tr>
										    	<td>350052</td>
										      	<td>
											      	<div class="for-flex-align">
											      		<div class="checkbox">
												          	<label>
													            <img class="profile-table" src="../assets/images/other/img_user1.png">
											      		     	<p class="line-hgt">
											      		     		<span class="font-w-600">Jack Ma</span> <br>
											      		     		25102
											      		     	</p>
												         	 </label>
												        </div>
													</div>
										      	</td>
											    <td><span class="font-w-600">John Doe </span> <br> 132556</td>
											    <td>Requested by me</td>
											    <td>20 jan, 2020</td>
											    <td>30 jan, 2020</td>
											    <td class="text-center"> <span class="pending-status">Pending</span></td>
											    <td>
											      	<a href="requested-by-verifier.php" class="view-link">View</a>
										      	</td>
										    </tr>
										     <tr>
										    	<td>350052</td>
										      	<td>
											      	<div class="for-flex-align">
											      		<div class="checkbox">
												          	<label>
													            <img class="profile-table" src="../assets/images/other/img_user1.png">
											      		     	<p class="line-hgt">
											      		     		<span class="font-w-600">Jack Ma</span> <br>
											      		     		25102
											      		     	</p>
												         	 </label>
												        </div>
													</div>
										      	</td>
											    <td><span class="font-w-600">John Doe </span> <br> 132556</td>
											    <td>Requested by me</td>
											    <td>20 jan, 2020</td>
											    <td>30 jan, 2020</td>
											    <td class="text-center"> <span class="pending-status">Pending</span></td>
											    <td>
											      	<a href="requested-by-verifier.php" class="view-link">View</a>
										      	</td>
										    </tr>
										</tbody>
									</table>
								</div>
							</div>
					  	 </div>
					  </div>-->
					  <!--<div class="tab-pane fade" id="dashtab3" role="tabpanel" aria-labelledby="dash-tab">
					  	<div class="row">
					  	 	<div class="col-lg-12">
					  	 		<h4 class="small-heading text-left ">MyReflet ID Code</h4>
					  	 		<div class="row">
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
										<div class="white-box full-box">
											<div class="id-code-represent-heading"> 
												<img src="../assets/images/icons/home-assets/Representative.png">
												<span>Representative</span>
											</div>
											<div>
												<div class="row inner-box-id-code">
													<div class="col-md-6 p-0">
														<div class="for-flex-align">
															<img src="../assets/images/icons/home-assets/user.png">
															<p>MyReflet ID</p>
														</div>
													</div>
													<div class="col-md-6 dubble-dot-after p-0">
														<p>1201</p>
													</div>
												</div>
												<div class="row inner-box-id-code">
													<div class="col-md-6 p-0">
														<div class="for-flex-align">
															<img src="../assets/images/icons/home-assets/user.png">
															<p>Name</p>
														</div>
													</div>
													<div class="col-md-6 dubble-dot-after p-0">
														<p>John Doe</p>
													</div>
												</div>
												<div class="row inner-box-id-code">
													<div class="col-md-6 p-0">
														<div class="for-flex-align">
															<img src="../assets/images/icons/home-assets/verified-emailID.png">
															<p>Email ID</p>
														</div>
													</div>
													<div class="col-md-6 dubble-dot-after p-0">
														<p>johndoe@gmail.com</p>
													</div>
												</div>
												<div class="row inner-box-id-code">
													<div class="col-md-6 p-0">
														<div class="for-flex-align">
															<img src="../assets/images/icons/home-assets/phone.png">
															<p>Phone Number</p>
														</div>
													</div>
													<div class="col-md-6 dubble-dot-after p-0">
														<p>+81 7869586748</p>
													</div>
												</div>
												<div class="row inner-box-id-code">
													<div class="col-md-6 p-0">
														<div class="for-flex-align">
															<img src="../assets/images/icons/home-assets/ETHwallet.png">
															<p>Wallet Address</p>
														</div>
													</div>
													<div class="col-md-6 dubble-dot-after p-0">
														<p>85676e7d65g7ds6g7586765fdf76f76f65s676s756s756s756f756sf</p>
													</div>
												</div>
												<div class="row inner-box-id-code">
													<div class="col-md-6 p-0">
														<div class="for-flex-align">
															<img src="../assets/images/icons/home-assets/user.png">
															<p>Digital ID</p>
														</div>
													</div>
													<div class="col-md-6 dubble-dot-after p-0">
														<p>
															<a href=""><img src="../assets/images/icons/home-assets/drivinglicense.png"></a>
															<a href=""><img src="../assets/images/icons/home-assets/passport.png"></a>
															<a href=""><img src="../assets/images/icons/home-assets/photoID.png"></a>
															<a href="" class="add-icon"><i class="fas fa-plus"></i></a>
														</p>
													</div>
												</div>
												<div class="view-icon">
													<a href="my-reflet-id-view.php"><i class="fas fa-eye"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
										<div class="white-box full-box">
											<div class="id-code-represent-heading"> 
												<img src="../assets/images/icons/entity.png">
												<span>Entity</span>
											</div>
											<div>
												<div class="row inner-box-id-code">
													<div class="col-md-6 p-0">
														<div class="for-flex-align">
															<img src="../assets/images/icons/home-assets/user.png">
															<p>MyReflet ID</p>
														</div>
													</div>
													<div class="col-md-6 dubble-dot-after p-0">
														<p>1201</p>
													</div>
												</div>
												<div class="row inner-box-id-code">
													<div class="col-md-6 p-0">
														<div class="for-flex-align">
															<img src="../assets/images/icons/home-assets/user.png">
															<p>Company Name</p>
														</div>
													</div>
													<div class="col-md-6 dubble-dot-after p-0">
														<p>Quest GLT</p>
													</div>
												</div>
												<div class="row inner-box-id-code">
													<div class="col-md-6 p-0">
														<div class="for-flex-align">
															<img src="../assets/images/icons/home-assets/verified-emailID.png">
															<p>Email ID</p>
														</div>
													</div>
													<div class="col-md-6 dubble-dot-after p-0">
														<p>johndoe@gmail.com</p>
													</div>
												</div>
												<div class="row inner-box-id-code">
													<div class="col-md-6 p-0">
														<div class="for-flex-align">
															<img src="../assets/images/icons/home-assets/phone.png">
															<p>Phone Number</p>
														</div>
													</div>
													<div class="col-md-6 dubble-dot-after p-0">
														<p>+81 7869586748</p>
													</div>
												</div>
												<div class="row inner-box-id-code">
													<div class="col-md-6 p-0">
														<div class="for-flex-align">
															<img src="../assets/images/icons/home-assets/ETHwallet.png">
															<p>Wallet Address</p>
														</div>
													</div>
													<div class="col-md-6 dubble-dot-after p-0">
														<p>85676e7d65g7ds6g7586765fdf76f76f65s676s756s756s756f756sf</p>
													</div>
												</div>
												<div class="row inner-box-id-code">
													<div class="col-md-6 p-0">
														<div class="for-flex-align">
															<img src="../assets/images/icons/home-assets/user.png">
															<p>Digital ID</p>
														</div>
													</div>
													<div class="col-md-6 dubble-dot-after p-0">
														<p>
															<a href=""><img src="../assets/images/icons/home-assets/drivinglicense.png"></a>
															<a href=""><img src="../assets/images/icons/home-assets/passport.png"></a>
															<a href=""><img src="../assets/images/icons/home-assets/photoID.png"></a>
															<a href="" class="add-icon"><i class="fas fa-plus"></i></a>
														</p>
													</div>
												</div>
												<div class="view-icon">
													<a href="my-reflet-id-view.php"><i class="fas fa-eye"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row align-item-center">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="text-center">
											<a class="btn-common-new" href="set-up-code.php">Create New Myreflet ID</a>
										</div>
									</div>
								</div>
					  	 	</div>
					  	 </div>
					  </div>-->
					  <!--<div class="tab-pane fade" id="dashtab4" role="tabpanel" aria-labelledby="dash-tab">
					  	 <div class="row">
					  	 	<div class="col-lg-12">
					  	 		<h4 class="small-heading text-left mb-15">Messages</h4>
								<div class="personal-info-box table-responsive another-table">
									<table class="table" id="myTable3">
										<thead>
									    	<tr> 
										      	<th scope="col">Date</th>
										      	<th scope="col">Verifier</th>
										      	<th scope="col">Message</th>
										      	<th scope="col">MyReflet ID</th>
										      	<th scope="col">Action</th>
									    	</tr>
									  	</thead>
										<tbody>
										    <tr>
										    	
										      	<td>15 Aug, 2020</td>
											    <td><span class="font-w-600">Jack MA </span> <br> 25102</td>
											    <td>Lorem ipsume has</td>
											    <td><span class="font-w-600">John Doe</span> <br> 25102</td>
											    <td>
											    	<div>
											    		<a href="#">
								                          <div class="doc-img">
													      		<img src="../assets/images/icons/home-assets/eye.png">
													      	</div>
								                        </a>
											    	</div>
											      
										      	</td>
										    </tr>
										    <tr>
										    
										      	<td>15 Aug, 2020</td>
											    <td><span class="font-w-600">Jack MA </span> <br> 25102</td>
											    <td>Lorem ipsume has</td>
											    <td><span class="font-w-600">John Doe</span> <br> 25102</td>
											   <td>
											    	<div>
											    		<a href="#">
								                          <div class="doc-img">
													      		<img src="../assets/images/icons/home-assets/eye.png">
													      	</div>
								                        </a>
											    	</div>
											      
										      	</td>
										    </tr>
										    <tr>
										    	
										      	<td>15 Aug, 2020</td>
											    <td><span class="font-w-600">Jack MA </span> <br> 25102</td>
											    <td>Lorem ipsume has</td>
											    <td><span class="font-w-600">John Doe</span> <br> 25102</td>
											    <td>
											    	<div>
											    		<a href="#">
								                          <div class="doc-img">
													      		<img src="../assets/images/icons/home-assets/eye.png">
													      	</div>
								                        </a>
											    	</div>
											      
										      	</td>
										    </tr>
										    <tr>
										    	
										      	<td>15 Aug, 2020</td>
											    <td><span class="font-w-600">Jack MA </span> <br> 25102</td>
											    <td>Lorem ipsume has</td>
											    <td><span class="font-w-600">John Doe</span> <br> 25102</td>
											    <td>
											    	<div>
											    		<a href="#">
								                          <div class="doc-img">
													      		<img src="../assets/images/icons/home-assets/eye.png">
													      	</div>
								                        </a>
											    	</div>
											      
										      	</td>
										    </tr>
										</tbody>
									</table>
								</div>
							</div>
					  	 </div>
					  </div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


          

            <!-- modal crypto  transaction -->
			<div class="modal fade field-edit-modal" id="Send" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
				  <div class="modal-content">
					<div class="modal-body">
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					  </button>
					  <div class="create-wallet-box" style="    padding: 1px 35px;">
						  <div class="row align-item-center">
							  <div class="col-xl-2 col-lg-3 col-md-3">
								  <div>
									  <img src="../assets/images/icons/createidentity-assets/popup-upload-icon.png">
								  </div>
							  </div>
							  <div class="col-xl-7 col-lg-7 col-md-7">
								<% if(wallet_type=="BTC"){ %>
								  <h5 class="heading-purple">Send BTC</h5>
								<%}else{%>
									<h5 class="heading-purple">Send ETH</h5>
									<%}%>
							  </div>
							  <div class="col-xl-7 col-lg-7 col-md-7">
								<h5 id="err_msg" style="color: red;"></h5>
							  </div>
						  </div>
						  <div class="row">
							  <div class="col-xl-12 col-lg-12 col-md-12 m-auto">
								<form action="send-crypto" method="POST">
								  <div class="setup-inner-box for-protact" style="padding: 14px 0 10px;">
								
									  <div class="create-rflet-id-form">
										  <div class="form-group">
											  <div class="input-group">
												<input type="text" class="form-control" placeholder="Enter recipient Wallet ID" id="rec_add" required name="rec_wallet_id">
												<input type="hidden" value="<%=wallet_type  %>" name="wallet_type">
												<input type="hidden" value="<%= wallet_address %>" name="sender_wallet_id">
											  </div>
										  </div>
										  <div class="form-group">
											<label id="msg" style="color: red;"></label>
											  <div class="input-group">
												
												<input type="text" name="pvtKey" class="form-control" placeholder="Enter Private Key" id="pvtKey" onchange="checkValidPvtKey(this.value,`<%= wallet_type%>`,`<%= wallet_address %>`)" required>
											  </div>
										  </div>
										  <div class="form-group">
											  <div class="input-group">
												<input type="text" name="amount" class="form-control" placeholder="Enter Amount"  onchange="getTransactionFee(this.value,`<%= wallet_type%>`,`<%= wallet_address %>`)" required>
											  </div>
										  </div>
										  <div class="form-group">
											  <div class="input-group">
												<input type="text" class="form-control" placeholder=" Recived Amount" readonly id="receive_amount" required>
											  </div>
											  <label for="name" style="margin-top: -28px;; float: right;" >MX TX FEE: <span id="tr_fee">0.00000000</span></label>
										  </div>
									  </div>
									  <div >
										  <button class="btn-common-new" type="reset" onclick="removeLabel()">Cancel</button>
										  <button class="btn-common-new" type="submit">Sumbit</button>
									  </div>
								  </div>
								  </form>
							  </div>
						   </div>
						 </div>
					 </div>
				  </div>
				</div>
			  </div>


	

<%- include('./innerFooter')%>

<script>
	function myFunction1(i_val) {
	  var copyText = document.getElementById("wallet_addr"+i_val);
	  copyText.select();
	  copyText.setSelectionRange(0, 99999);
	  document.execCommand("copy");
	  
	  var tooltip = document.getElementById("myTooltip"+i_val);
	  tooltip.innerHTML = "Copied";
		// tooltip.innerHTML = "Copied: " + copyText.value;
	
	}
	
	function outFunc(i_val) {
	  var tooltip = document.getElementById("myTooltip"+i_val);
	  tooltip.innerHTML = "Copy to clipboard";
	}


	function getTransactionFee(amount, wallet_type,wallet_address){
		console.log("amount entered:",amount,wallet_type,wallet_address)
		let rec_address=document.getElementById('rec_add').value;
		if(rec_address==''||rec_address==undefined){
			alert("Please enter recipient Wallet ID !");
		}else{
			$.ajax({
				type : 'POST',
				url:'/crypto-transaction-fee', 
				data:{receiver_wallet_id:rec_address,amount:amount,sender_wallet_id:wallet_address,wallet_type:wallet_type},
				success:function(data)
				{
					console.log("data1",data);
				data=JSON.parse(data);
				if(data=="1"){
                  let msg="Amount should be more than transaction fees!";
				  document.getElementById("err_msg").innerHTML=msg;
				}else if(data=="3"){
                  let msg="insufficient balance!";
				  document.getElementById("err_msg").innerHTML=msg;
				}else{
				document.getElementById('receive_amount').value=data.receivingAmount;
                document.getElementById('tr_fee').innerHTML=data.transactionFee;
				document.getElementById("err_msg").innerHTML="";
				}
			//	console.log("data2",data);
			
				}});
		}
	

	}

	function checkValidPvtKey(pvtkey,sender_add,wallet_type){
		console.log("pk entered:",pvtkey,sender_add,wallet_type)
		$.ajax({
				type : 'POST',
				url:'/check-pvt-key', 
				data:{pvtkey:pvtkey,sender_add:sender_add,wallet_type:wallet_type},
				success:function(data)
				{
					console.log("data1",data);
					if(data=="Invalid private key!"){
						document.getElementById('msg').innerHTML=data;
					}else{
						document.getElementById('msg').innerHTML=""
					}
			        
				}});
}


function removeLabel(){
	document.getElementById('msg').innerHTML='';
	document.getElementById('err_msg').innerHTML="";
	$('#Send').modal('hide');
}
	
//get receipt
function showReceipt(transaction_id,wallet_type,i){
	
	$.ajax({
           type: "post",
           url: "/view-receipt",
           data:{transaction_id:transaction_id,wallet_type:wallet_type},
           success: function (data) {
        console.log(data);
		 let dataInJson=JSON.parse(data);
		
		 document.getElementById('from-id'+i).value=dataInJson.sender_wallet_addr;
		 document.getElementById('to-id'+i).value=dataInJson.receiver_wallet_addr;
		 document.getElementById('rec-name-id'+i).value=dataInJson.name;
		 document.getElementById('rec-add-id'+i).value=dataInJson.address;
		 document.getElementById('ref-id'+i).value=dataInJson.reflet_id;
		 document.getElementById('hash-id'+i).value=dataInJson.transaction_hash;
		 document.getElementById('amount-id'+i).value=dataInJson.amount;
		// document.getElementById('amount-id').value=dataInJson.amountInDollar;
		 document.getElementById('time-id'+i).value=dataInJson.date+" "+dataInJson.time;
		 document.getElementById('doc-name-id'+i).value=dataInJson.document_sent;
		 document.getElementById('rec-addp-id'+i).value=dataInJson.address_proof;
		 document.getElementById("rec-id"+i).dataset.target="#details"+i;
		     
    }
  })
}	
	
	</script>
	