<!-- <div class="col-xl-9"> -->
    <div class="personal-info-box table-responsive another-table">
        <table class="table"id="myTableData" >
            <%if(checked_array_con===0){%>
            <thead>
                <tr> 
                    <%if(checked_array.includes('complain_id')){%>
                      <th width="15%" scope="col">Complaint Id</th>
                     <%}
                  %>

                      <%if(user_type==='verifier'){%>
                        <%if(checked_array.includes('verifier')){%> 
                           <th width="15%" scope="col">Client ID</th>
                           <%}
                       }else
                       {
                           if(checked_array.includes('verifier')){%> 
                               <th width="15%" scope="col">Verifier</th>
                               <%}
                       }%>
                     <%if(checked_array.includes('complaint_message')){%> 
                      <th width="20%" scope="col">Message</th>
                      <%}%>

                      <%if(user_type==='verifier'){%>
                        <%if(checked_array.includes('reflect_code')){%> 
                           <th width="15%" scope="col">MyReflect ID</th>
                           <%}
                       }else
                       {
                           if(checked_array.includes('reflect_code')){%> 
                               <th width="15%" scope="col">MyReflect ID</th>
                               <%}
                       }%>
                     <%
                     if(checked_array.includes('status')){%> 
                      <th width="10%" scope="col">Status</th>
                      <%}%>
                      <!-- <th width="15%" scope="col">Status</th> -->
                </tr>
              </thead>
            <tbody id="myTable3">
                <%if(complaint_data.length!=0){
                for(let complaint of complaint_data){    
                %>
                <tr>
                    <%if(checked_array.includes('complain_id')){%>
                        <td>C - <%=complaint.complain_id%></td>
                        <%}
                     if(checked_array.includes('verifier')){%> 
                        <td class="upper">
                            <%
                              if(user_type=='client')
                              {
                                  %>

                              
                                  <%if(complaint.rep_firstname){%>
                                    <span class="font-w-600"><%= complaint.rep_firstname%> </span> <br> <%= complaint.reflect_code %>

                                  <%}else if(complaint.entity_company_name){%>
                                    <span class="font-w-600"> <%=complaint.entity_company_name%> </span>
                                <br> <%= complaint.reflect_code %><%}else{%>
                                    <span class="font-w-600"> <%=decrypt(complaint.full_name)%> </span>
                               <br> <%= complaint.reflect_code %> <%}%>
                              
                                  <%
                              }
                              else
                              {
                                  %>
                                      <span class="font-w-600">
                                <%= complaint.client_reflect_name %>
                                </span> <br><%= complaint.client_reflect_code %> 
                                  <%
                              }
                            %>
                        </td>  <%}
                     if(checked_array.includes('complaint_message')){%> 
                        <td><%=complaint.complain_message%></td>
                        <%}
                    if(checked_array.includes('reflect_code')){%> 
                        <td class="upper">

                            <%
                              if(user_type=='client')
                              {
                                  %>

                                  <span class="font-w-600">
                                <%= complaint.client_reflect_name %>
                                </span> <br><%= complaint.client_reflect_code %> 
                                  <%
                              }
                              else
                              {
                                  %>
                                   <%if(complaint.rep_firstname){%>
                                    <span class="font-w-600"><%= complaint.rep_firstname%> </span> <br> <%= complaint.reflect_code %>

                                  <%}else if(complaint.entity_company_name){%>
                                    <span class="font-w-600"> <%=complaint.entity_company_name%> </span>
                              <br> <%= complaint.reflect_code %>  <%}else{%>
                                    <span class="font-w-600"> <%=decrypt(complaint.full_name)%> </span>
                                <br> <%= complaint.reflect_code %><%}%>
                                  <%
                              }
                            %>
                            

                        </td>          <%}
                     if(checked_array.includes('status')){%> 
                <td class="upper"><span class="pending-status"><%=complaint.complaint_status%></span></td>
                                        <%}%>

                </tr>  
                <%}}else{%>
                     <tr>
            <td colspan="6"><center>No record found.</center> </td>
             </tr>  
                    <%}%>  

            </tbody>
            <%}else{%>
                <thead>
                    <tr> 
                        <th width="15%" scope="col">Complaint Id</th>
                          <th width="10%" scope="col">Verifier</th>
                          <th width="25%" scope="col">Message</th>
                          <th width="20%" scope="col">My reflect Id</th>
                          <th width="15%" scope="col">Status</th>
                          <!-- <th width="15%" scope="col">Status</th> -->
                    </tr>
                  </thead>
                <tbody id="myTable3">
                    <%if(complaint_data.length!=0){
                    for(let complaint of complaint_data){    
                    %>
                    <tr>
                        <td>C - <%=complaint.complain_id%></td>
                        <td class="upper">
                            <%
                              if(user_type=='client')
                              {
                                  %>
                                    <%if(complaint.rep_firstname){%>
                                    <span class="font-w-600"><%= complaint.rep_firstname%> </span> <br> <%= complaint.reflect_code %>

                                  <%}else if(complaint.entity_company_name){%>
                                    <span class="font-w-600"> <%=complaint.entity_company_name%> </span>
                              <br> <%= complaint.reflect_code %>  <%}else{%>
                                    <span class="font-w-600"> <%=decrypt(complaint.full_name)%> </span>
                              <br> <%= complaint.reflect_code %>  <%}%>

                              
                                  <%
                              }
                              else
                              {
                                  %>
                                      <span class="font-w-600">
                                <%= complaint.client_reflect_name %>
                                </span> <br><%= complaint.client_reflect_code %> 
                                  <%
                              }
                            %>
                        </td>
                    </td>							  
                   <td class="upper"><%=complaint.complain_message%></td>
                   <td class="upper">

                    <%
                      if(user_type=='client')
                      {
                          %>

                          <span class="font-w-600">
                        <%= complaint.client_reflect_name %>
                        </span> <br><%= complaint.client_reflect_code %> 
                          <%
                      }
                      else
                      {
                          %>
                          <%if(complaint.rep_firstname){%>
                                    <span class="font-w-600"><%= complaint.rep_firstname%> </span> <br> <%= complaint.reflect_code %>

                                  <%}else if(complaint.entity_company_name){%>
                                    <span class="font-w-600"> <%=complaint.entity_company_name%> </span>
                               <br> <%= complaint.reflect_code %> <%}else{%>
                                    <span class="font-w-600"> <%=decrypt(complaint.full_name)%> </span>
                              <br> <%= complaint.reflect_code %>  <%}%>
                          <%
                      }
                    %>
                    

                </td>
                <td class="upper"><span class="pending-status"><%=complaint.complaint_status%></span></td>
                        
                    </tr>  
                    <%}}else{%>
                     <tr>
            <td colspan="6"><center>No record found.</center> </td>
             </tr>  
                    <%}%>  
                </tbody>
                <%}%>

        </table>
    </div>
<!-- </div> -->
