<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color:#88beda ;
  color: white;
}
.upper {
  text-transform: capitalize;
}
</style>
</head>
<body>
  <div style="font-family: sans-serif;color: #274794;    ">
    <h3 style="margin: 10px 0;font-weight: 500;">Report Name : <%=report_data[0].report_name%></h3>
    <h3 style="margin: 10px 0;font-weight: 500;">Descriptions : <%=report_data[0].description%></h3>
    <h3 style="margin: 10px 0;font-weight: 500;">Start time: <%=moment(report_data[0].start_date).format('MMM DD, YYYY')%></h3>
    <h3 style="margin: 10px 0;font-weight: 500;">End time:<%=moment(report_data[0].end_date).format('MMM DD, YYYY')%>
    </h3>
  </div>
<div class="personal-info-box table-responsive another-table" style="font-family: sans-serif;">
        <table class="table" id="myTableData">
          <thead>
              <tr> 
                  <!-- <%if(checked_array.includes('rep_emailid')){%>
                    <th width="25%" scope="col">Email</th>
                   <%}%> -->
                   <%
                   if(checked_array.includes('reflectid_by')){%> 
                    <th width="15%" scope="col">MyReflet Type</th>
                    <%}
                   if(checked_array.includes('rep_firstname')){%> 
                    <th width="20%" scope="col">Name</th>
                    <%}
                   if(checked_array.includes('reflect_code')){%> 
                    <th width="15%" scope="col">MyReflet Code</th>
                    <%}
                    if(checked_array.includes('status')){%> 
                      <th width="10%" scope="col">Status</th>
                    <%}
                    if(checked_array.includes('country')){%> 
                      <th width="10%" scope="col">Country</th>
                  <%}%>
                    <!-- <th width="15%" scope="col">Status</th> -->
              </tr>
            </thead>
          <tbody id="myTable3">
              <%if(report_data_type.length!=0){
              for(let client of report_data_type){    
              %>
              <tr>
                  <%if(checked_array.includes('rep_emailid')){%>
                  <!-- <td><%=client.email%></td> -->
                  <%}if(checked_array.includes('reflectid_by')){%> 
                    <td><%=client.reflectid_by%></td>
                    <%}if(checked_array.includes('rep_firstname')){%> 
                      <td class="upper">
                                  <%if(client.rep_firstname){%>
                                      <span class="font-w-600"><%=client.rep_firstname%></span>
                              <%}else if(client.entity_company_name){%>
                                  <span class="font-w-600"> <%=client.entity_company_name%> </span>
      
                              <%}else{%>
                                  <span class="font-w-600"> <%=decrypt(client.full_name)%> </span>
                              <%}%>
                              </td>
      
                 <%}if(checked_array.includes('reflect_code')){%> 
                  <td><%=client.reflect_code%></td>
                  <%}%>
                  <%if(checked_array.includes('status')){%> 
                      <td><span class="approved-status"><%=client.status%></span></td>
                      <%}%>
                  <%if(checked_array.includes('country')){%> 
                  <td><%=client.country_name%></td>						
                  <%}%>
              
      
              </tr>  
              <%}}else{%>
      <tr>
          <td colspan="6"><center>No record found.</center> </td>
           </tr>          
                  <%}%>  
          </tbody>
      </div>
</body>
</html>
