<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color:#88beda ;
  color: white;
}
.upper {
  text-transform: capitalize;
}
</style>
</head>
<body>
   <div style="font-family: sans-serif;color: #274794;    ">
      <h3 style="margin: 10px 0;font-weight: 500;">Report Name : <%=report_data[0].report_name%></h3>
      <h3 style="margin: 10px 0;font-weight: 500;">Descriptions : <%=report_data[0].description%></h3>
      <h3 style="margin: 10px 0;font-weight: 500;">Start time: <%=moment(report_data[0].start_date).format('MMM DD, YYYY')%></h3>
      <h3 style="margin: 10px 0;font-weight: 500;">End time:<%=moment(report_data[0].end_date).format('MMM DD, YYYY')%>
      </h3>
    </div>
<div class="personal-info-box table-responsive another-table" style="font-family: sans-serif;">
        <table class="table" id="myTableData">
            <thead>
                <tr> 
                    <%if(checked_array.includes('request_code')){%>
                      <th width="10%" scope="col">Request Code</th>
                      <%}
                         if(checked_array.includes('reflectid')){%> 
                      <th width="10%" scope="col"> MyReflet Code</th>
                      <%}
                         if(checked_array.includes('client_info')){%> 
                      <th width="10%" scope="col">Client</th>
                      <%}
                         if(checked_array.includes('parent_cat')){%> 
                      <th width="10%" scope="col">Parent Category</th>
                      <%}
                         if(checked_array.includes('sub_cat')){%> 
                      <th width="10%" scope="col">Sub-Category</th>
                      <%}
                         if(checked_array.includes('request_status')){%> 
                      <th width="10%" scope="col">Status</th>
                      <%}%>
                </tr>
              </thead>
            <tbody>
                <%if(report_data_type.length>0){
                for(let request_data of report_data_type){    
                   if(request_data.client_sub!==1){
                %>
                <tr>
                    <%if(checked_array.includes('request_code')){%>
                    <td><%=request_data.request_code%></td>
                    <%}
                         if(checked_array.includes('reflectid')){%> 
                      <td><%=request_data.reflect_code%></td>
                      <%}
                         if(checked_array.includes('client_info')){%> 
                    <td>
                        <%if(request_data.client_sub[0].rep_firstname){%>
                                          <%=request_data.client_sub[0].rep_username%> - <%=request_data.client_sub[0].reflect_code%></td>

                                    <%}else if(request_data.client_sub[0].entity_company_name){%>
                                        <%=request_data.client_sub[0].entity_company_name%> - <%=request_data.client_sub[0].reflect_code%></td>
                                    <%}else{%>
                                        <%=decrypt(request_data.client_sub[0].full_name)%> - <%=request_data.client_sub[0].reflect_code%></td>
                                    <%}%>
                    <%}
                         if(checked_array.includes('parent_cat')){%> 
                    <td><%=request_data.category_name%></td>
                    <%}
                         if(checked_array.includes('sub_cat')){%> 
                    <td><%=request_data.client_sub[0].category_name%></td>
                    <%}
                         if(checked_array.includes('request_status')){%> 
                            <td>
                               <%if(request_data.request_status=="pending"){%>
                               <div class="pending-status">
                                  Pending
                               </div>
                               <%}%>
                               <%if(request_data.request_status=="reject"){%>
                                  <div class="cancel-status">
                                     Reject
                                  </div>
                               <%}%>
                               <%if(request_data.request_status=="accept"){%>
                                     <div class="approved-status">
                                        Accept
                                     </div>
                               <%}%>
    
                            </td>                <%}%>
                </tr>  
                <%}}}else{
         %>
                           <tr>
                <td colspan="6"><center>No record found.</center> </td>
                 </tr>       <%}%>  
            </tbody>
      </div>
</body>
</html>
