<style>
	.upper {
  text-transform: capitalize;
}
.create-rflet-id-form .form-control[readonly] {
    background-color: transparent;
    color: #606161;
}
</style>
<%-include('../innerHeader')%>

<section class="heading-sec">
	<div class="container">
		<div class="row align-item-center">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="main-heading-dash">
					<img src="../assets/images/icons/home-assets/mydocuments.png">
					<h4>My Documents</h4>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="text-right">
                    <a href="javascript:void(0)" onclick="getVerifierList()" id="setpermissionbtn" class="btn-common-new hide_click" data-toggle="modal" >Send to verifier</a>
					<a class="btn-common-new" href="" data-toggle="modal" data-target="#add-new-doc-Modal">Add New Document</a>
					<a class="btn-common-new" href="" data-toggle="modal" data-target="#add-new-request">Request For Document</a>

				</div>

			</div>
			
		</div>
	</div>
</section>


<section>
	<div class="container">
		<div class="row align-item-center">
			<div class="col-lg-12">
				<div class="custom-space-btw another-drop-down for-search-document align-items-end">
					<div class="for-select-existing-doc">
					    <div class="input-group">
							<div class="dropdown keep-inside-clicks-open">
								<h3 class="small-title">MyReflet ID</h3>
								<button class="dropdwn-btn checkboxdata" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    All
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start">
								    <div class="for-doc-select">
								    	<div class="checkbox"> 	
								        	<label>
								          		All
								            	<input type="checkbox" value=""id="user_check"name="userid">
								            	<span class="cr"><i class="cr-icon fa fa-check"></i></span>
											  </label>
										</div>
										<%
										if(unique_reflect_code.length>0)
										{
										
                                            for(var i=0;i< unique_reflect_code.length;i++ ){
												if(unique_reflect_code[i].user_as=='client')
												{
											  %>
										<div class="checkbox" >
											<label>
											 <div class="upper">
											 	     <%if(unique_reflect_code[i].rep_firstname){%>

											 	<%= unique_reflect_code[i].rep_firstname %> - <%= unique_reflect_code[i].reflect_code %>

											 		<%}else if(unique_reflect_code[i].entity_company_name){%>
											 		<%= unique_reflect_code[i].entity_company_name %> - <%= unique_reflect_code[i].reflect_code %>

											 		<%}else{%>
                                                 <%= decrypt(unique_reflect_code[i].full_name) %> - <%= unique_reflect_code[i].reflect_code %>
									<%}%>

											 	</div>
											  <input type="checkbox" value="<%= unique_reflect_code[i].reflect_code %>"class="checkbox2">

											  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
											</label>
                                       
										</div>	
										<%
									}}
					  
									  }
								  %>

								    </div>
								    
								</div>

							</div>
						</div>
					</div>
					<div class="custom-flex-row">
						<form class=" response-search"> 
		                     <div class="input-group search-address-book">
		                      <input type="text" class="form-control autocomplete" id="myInputSearch" placeholder="Search" >
		                        <div class="input-group-append">
		                            <button class="btn btn-search" type="button"><img src="../assets/images/icons/search-black.png"></button>
		                        </div>
		                    </div>
	                  	</form>
                  	</div>
				</div>
				<div class="personal-info-heading">
					<div class="text-right">
						<a href="javascript:void(0);" onclick="export_table();">							<div class="icon-for-dwnload">		
							
								<div class="tooltip fade" data-title="Export Data">
									<img src="../assets/images/icons/dashboard-assets/export.png">
							     	<img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
								</div>
							</div>
						</a>
						<a href="javascript:void(0);" onclick="print_table();">
							<div class="icon-for-dwnload">
								<div class="tooltip fade" data-title="Print Data">
									<img src="../assets/images/icons/dashboard-assets/print.png">
								    <img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="personal-info-box table-responsive another-table" id="">
					 <% if(success_msg!=undefined && success_msg !='' ){ %>
				            <div class="alert alert-success text-center  flash_msg "id="success_message">
				            <%= success_msg %>
				           </div>
				          <% }%>
					<table class="table" id="myTable3">
						<thead>
					    	<tr> 
								
                                <th scope="col">No.</th>
						      	<th scope="col">Name/Type</th>
						      	<th scope="col">MyReflet Id</th>
						      	<th scope="col">Send To</th>
						      	<th scope="col">Verifier Status</th>
						      	<th scope="col">Certified</th>
						      	<th scope="col">Self Certified</th>
						      	<th scope="col">Creation Date</th>
						      	<th scope="col" class="hide_link">Action</th>
					    	</tr>
					  	</thead>
						<tbody id="div_data">
						   
								<%
				if(reflect_code_array.data.length>0)
				{
                    var k=1;
					reflect_code_array.data.forEach(function(each_data){
					  %>
					  <input type="hidden" id="userid" name="userid" value="<%= each_data.reg_user_id %>">
					   <tr class="content_search">
					   	<td><%=k%></td>
						    	<td><%= each_data.document_name %>
								</td>
						      	<td>
							      	<div class="for-flex-align">
							      		<div class="checkbox">
								          	<label>
											
                                  <%if(each_data.profile_pic){
                                                          %>
															<img class="profile-table hide_link" src="<%= each_data.profile_pic%>">
                                                                            <%}else{%>
                                                <img  class="profile-table"src="/admin-assets/images/user-icon.jpg">

                                                    <%}%>
							      		     

                                  <%if(each_data.rep_firstname){
                                                          %>
																<p class="line-hgt">
							      		     		<span class="font-w-600 upper"><%= each_data.rep_firstname %></span> <br>
													   <%= each_data.reflect_code %>

							      		     	</p>
  <%}else if(each_data.entity_company_name){%>
                                        <p class="line-hgt">
                                <span class="font-w-600 upper"><%= each_data.entity_company_name %></span> <br>
                             <%= each_data.reflect_code %>

                              </p>
                                                    <%}else{%>
  <p class="line-hgt">
                                <span class="font-w-600 upper"><%= decrypt(each_data.full_name) %></span> <br>
                             <%= each_data.reflect_code %>

                              </p>
                                                    <%}%>
								         	 </label>
								        </div>
									</div>
						      	</td>

							    <!-- <td><%=moment(each_data.expire_date).format('MMM DD, YYYY')%></td> -->
							    <td>  
							    	<%if(each_data.request_data=='undefined'){%>
                                                     <p class="upper"style="color: red"> Request not sent yet! </p>
                                         <%}else{%> 
                                                <%if(each_data.request_data[0].rep_firstname){%>

                                                     <p class="upper"><%=each_data.request_data[0].rep_firstname%> -  <%=each_data.request_data[0].reflect_code%></p>

                                                <%}else if(each_data.request_data[0].entity_company_name){%> 
                                                     <p class="upper"><%=each_data.request_data[0].entity_company_name%> - <%=each_data.request_data[0].reflect_code%></p>
                                               
                                         <%}}%> 
                                </td>
                                 <td>  
							    	<%if(each_data.request_data=='undefined'){%>
                                                     <p class="upper"style="color: red"> Request not sent yet! </p>
                                         <%}else{%> 
                                                <%if(each_data.request_data[0].approve_status=='pending'){%>

                                                     <p class="upper"style="color: green">Pending</p>

                                                <%}else if(each_data.request_data[0].approve_status=='approved'){%> 
                                                     <p class="upper"style="color: blue">Approved</p>
                                                <%}else  if(each_data.request_data[0].approve_status=='rejected'){%>
                                                     <p class="upper"style="color: red">Rejected</p> 
                                         <%}}%> 
                                </td>

							    <td class="upper"><%= each_data.certified_status %>
								</td>
							    <td class="upper"><%= each_data.self_assested %>
								</td>
							    <td><%=moment(each_data.created_doc).format('MMM DD, YYYY')%>
								</td>
							    <td >
							      	<a href="/my-doc-license?id=<%= each_data.doc_id%>&reflect_id=<%= each_data.reflect_id%>" class="view-link hide_link">View</a>
						      	</td>
						     </tr>
						     <%k++;
			  });

				}else
				{
			%>
		           	<tr>
		 				<td colspan="8"><center>No record found.</center> </td>
					   </tr>

              <%}%>
						</tbody>
					
						   
							
					</table>
				
								<div class="pagination-list for-user">
          
						<% if (reflect_code_array.totalPages > 0) { %>
					   <ul class="pagination text-center">
						   <% if (reflect_code_array.currentPage == 1) { %>
							   <li class="disabled page-item"><a class="page-link">&lt;</a></li>
						   <% } else { %>
							   <li class="page-item"><a class="page-link" href="/document-list?page=1">&lt;</a></li>
						   <% } %>
					
					
					
						   <% var i = (Number(reflect_code_array.currentPage) > 5 ? Number(reflect_code_array.currentPage) - 4 : 1) %>
						   <% if (i !== 1) { %>
							   <!-- <li class="disabled"><a>...</a></li> -->
							   <li class="page-item disabled"><a class="page-link" >...</a></li>
						   <% } %>
						   <% for (; i <= (Number(reflect_code_array.currentPage) + 4) && i <= reflect_code_array.totalPages; i++) { %>
							   <% if (i == reflect_code_array.currentPage) { %>
								   <!-- <li class="active"><a><%= i %></a></li> -->
								   <li class="page-item active">
									 <a class="page-link" href="#"><%= i %><span class="sr-only">(reflect_code_array.currentPage)</span></a>
								   </li>
							   <% } else { %>
								   <li class="page-item"><a class="page-link" href="/document-list?page=<%= i %>"><%= i %></a></li>
							   <% } %>
							   <% if (i == Number(reflect_code_array.currentPage) + 4 && i < reflect_code_array.totalPages) { %>
								   <!-- <li class="disabled"><a>...</a></li> -->
								   <li class="page-item disabled"><a class="page-link" >...</a></li>
							   <% } %>
						   <% } %>
					
					
						   <% if (reflect_code_array.currentPage == reflect_code_array.totalPages) { %>                       
							   <li class="disabled page-item"><a class="page-link">&gt;</a></li>
						   <% } else { %>
							   <li><a class="page-link" href="/document-list?page=<%= reflect_code_array.totalPages %>">&gt;</a></li>
						   <% } %>
					
					   </ul>
					<% } %>
					
					 </div>
				</div>
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-md-12">
				<div class="setup-inner-box for-protact">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<h5 class="heading-purple text-left mb-30">Selcet Form</h5>
								<select class="form-control">
									<option>1 Form</option>
									<option>2 Form</option>
									<option>3 Form</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 m-auto">
							<div class="setup-inner-box for-protact white-box">
								<div class="create-rflet-id-form">
								    <div class="form-group browse-file-section">
						                  <input type="file" name="staff_image" class="file" style="visibility: hidden;position: absolute;" accept="image/x-png,image/jpeg">
						                  <div class="input-group col-xs-12">
						                    <span class="input-group-btn">
						                      <button class="browse btn btn-primary input-lg" type="button"> Choose a file</button>
						                    </span>
						                    <input type="text" class="form-control" readonly="" placeholder="">
						                  </div>
		                              </div>
		                              <div class="form-group">
										<div class="input-group">
										  <input type="text"  class="form-control" placeholder="Document Name">
										</div>
									</div>  
								    <div class="form-group">
										<div class="input-group">
										 <select class="form-control ">
										<option value="select">Select document</option>
											
														
											<option value="1">Passport</option>
											
														
											<option value="2">Driving licence</option>
											
														
											<option value="4">Utility bills</option>
											
														
											
											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="input-group">
										  <input type="text" class="form-control" placeholder="Document ID Number">
										</div>
									</div>
								</div>
								<div >
									<a class="btn-common-new" href="">Submit</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</section>
<!-- ADD Document Modal -->
<div class="modal fade field-edit-modal" id="add-new-doc-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-body">
		  <button type="button" class="close hide_click hide_btn" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		  <div class="create-wallet-box">
			  <div class="row align-item-center">
				  <div class="col-xl-2 col-lg-3 col-md-3">
					  <div>
						  <img src="../assets/images/icons/createidentity-assets/popup-upload-icon.png">
					  </div>
				  </div>
				  <div class="col-xl-7 col-lg-7 col-md-7">
					  <h5 class="heading-purple">Add New Document</h5>
				  </div>
			  </div>
			  <div class="row">
				  <div class="col-xl-12 col-lg-12 col-md-12 m-auto">
					  <form method="POST" action="/add-new-document" enctype="multipart/form-data" id="form_add_doc">
					  <div class="setup-inner-box for-protact">
						  <div class="create-rflet-id-form">
							  <div class="form-group browse-file-section">
									<input type="file" name="document" class="file" style="visibility: hidden;position: absolute;" accept="image/x-png,image/jpeg,application/pdf">
									<div class="input-group col-xs-12">
									  <span class="input-group-btn">
										<button class="browse btn btn-primary input-lg" type="button"> Choose a file</button>
									  </span>
									  <input type="text" class="form-control" readonly="" placeholder="" data-rule-required="true" data-msg-required="Please select document file.">
									</div>
								</div>
							</div>
							<center><span class="span_text"style="color:red"></span></center>

							<div class="form-group for-warning choose-pin-radio">
								<label>Choose Document Type</label>
								<div class="row">
									<div class="col-md-4">
										<div class="radio">
										  <label>
											<input type="radio" value="master" name="request_type" class="form-control choose_doc_type" data-rule-required="true" data-msg-required="Please choose any value ."  />
											<span class="cr"><i class="cr-icon fa fa-circle"></i></span>
											Master
										  </label>
										</div>
									</div>
									<div class="col-md-4">
										  <div class="radio">
											  <label>
												<input type="radio" value="other" name="request_type" class="form-control choose_doc_type"  data-rule-required="true" data-msg-required="Please choose any value." />
												<span class="cr"><i class="cr-icon fa fa-circle"></i></span>
												Other
											  </label>
											</div>
									</div>
								</div>

							  </div>

								<%if(allDocs){
									for(let docu of allDocs){if(docu.document_name !== 'Other'){%>
							
							<input type="hidden" id="doc<%=docu.doc_id%>" value="<%=docu.document_name%>"/>
							<%}}}%>
								<div class="form-group master_doc">
								  <div class="input-group">
										<select class="form-control slect_doc_type select_document select_document_list" onchange="get_select_value(this.value)" name="document_id" data-rule-required="true" data-msg-required="Please select document type. ">
											<option value="select">Select document</option>

											<%if(allDocs){
													for(let docu of allDocs){if(docu.document_name !== 'Other'){%>
														
											<option value="<%=docu.doc_id%>" ><%=docu.document_name%></option>
											<%}}}%>
									</select>
								  </div>
							  </div>  
							      <div class="form-group user_defined_document_name">
									  <Label>Document Name</Label>
									<div class="input-group">
									  <input type="text"  class="form-control" name="document_name" placeholder="Document Name" autocomplete="off"data-rule-required="true" data-msg-required="Please enter document name.">
									</div>
							     </div>
							  <div class="form-group">
								<Label>Expiry Date</Label>
								  <div class="input-group">
									<input type="text" id="datepicker2" class="form-control" name="expiry_date" placeholder="Expiry Date" data-rule-required="true" data-msg-required="Please select expiry date." autocomplete="off">
								  </div>
                              </div>
                                <div class="form-group special_class">
									<Label>Issue Place</Label>
									<div class="input-group">
									  <input type="text"  class="form-control" name="issue_place" placeholder="Issue Place" autocomplete="off">
									</div>
								</div>
						     	<!-- 	 <div class="form-group">
									<div class="input-group">
									  <input type="textarea"  class="form-control" name="proof_of_address" placeholder="Proof of address" autocomplete="off">
									</div>
								</div> -->
								 <div class="form-group proof_of_address_class ">
									<Label>Proof of Address</Label>
				                    <div class="input-group">
				                      <textarea name="proof_of_address" id="" cols="30" rows="6" class="form-control" placeholder="Proof of address"data-rule-required="true" data-msg-required="Please enter proof of address."></textarea>  
				                    </div>
				                </div>

								  <div class="form-group  ">
									<Label>Issue Place</Label>
									<div class="input-group">
									  <input type="text" id="datepicker3" class="form-control" name="issue_date" placeholder="Issue Date"  autocomplete="off">
									</div>
								</div>
								  <div class="form-group">
									<Label>ID Number</Label>
								  <div class="input-group">
									<input type="text" class="form-control" name="id_number" placeholder="ID Number" >
								  </div>
							  </div>

                              <div class="form-group select-verifier-box  m-top-40">
							  <center><span class="span_client_text"style="color:red"></span></center>

                                <div class="input-group">
                                 <div class="dropdown d1">
                                     <button class="dropbtn dropbtn_1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Select Client Via Code
                                     </button>
                                     <div class="dropdown-menu menu-for-id dropbtn2" aria-labelledby="dropdownMenuButton">

                                       <%	if(all_reflect_codes.length>0)
                                       {
                                            
                                           for(var i=0;i< all_reflect_codes.length;i++ ){
                                             %>
                                       <a class="dropdown-item" href="#">
                                           <div class="for-verify-box-inner for-pending"id="">
                                               
                                               <%	if(all_reflect_codes[i].user_as=='client'){%>
                                               <i class="fas fa-check"></i>
                                               <span class="user-img-verify">
                                                 
												   <%if(all_reflect_codes[i].profile_pic){
                                                          %>
														  <img id="" src="<%= all_reflect_codes[i].profile_pic %>" class="m-t-5" >
                                                                            <%}else{%>
                                                <img  class="profile-table"src="/admin-assets/images/user-icon.jpg">

                                                    <%}%>
                                               </span>
                                             <%if(all_reflect_codes[i].rep_firstname){
                                                          %>
																<span class="upper"><%=all_reflect_codes[i].rep_firstname %>-<%=all_reflect_codes[i].reflect_code %></span>
                                        
													  
                                         <%}else if(all_reflect_codes[i].entity_company_name){%>
		                                
							      		     	<span class="upper"><%=all_reflect_codes[i].entity_company_name %>-<%=all_reflect_codes[i].reflect_code %></span>
							      		     
													   
                                                    <%}else{%>
                                                    <span class="upper"><%=decrypt(all_reflect_codes[i].full_name)%>-<%=all_reflect_codes[i].reflect_code %></span>
                                                  
													    
                                              <%}%>
                                              <!-- <input type="hidden"class="get_name"value="<%=all_reflect_codes[i].rep_firstname %>"> -->

                                             <input type="hidden"name=""class="getId2_doc"value="<%=all_reflect_codes[i].reflect_id %>">
                                            

                                           <%
                                   
                                       }
                         
                                         
                                     %>
                                       
                                   </div>
                               </a>
                               <%
                           }
                
                             }
                         %>
                                       
                           </div>  
                                   </div>
                                   </div>
                               </div>
                           </div>
							

						  </div>
						  <div>
						  	 <div class="reflect_id_jquery">
                                              
                                     </div>
						  	<center>
								<button class="btn-common-new hide_click show_hide hide_btn " id="form_add_doc_btn" type="submit">Save</button>

								<span class="loader"><img src="../assets/images/loader-3.gif"height="42" width="62"></span>
								<a class="btn-common-new hide_click show_hide hide_btn"  data-dismiss="modal" href="">Cancel</a>
						  </center>
						  </div>
					  </div>
					</form>
				  </div>
			   </div>
			 </div>
		 </div>
	  </div>
	</div>

<div class="modal fade field-edit-modal" id="add-new-request" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-body">
		  <button type="button" class="close hide_click hide_btn" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		  <div class="create-wallet-box">
			  <div class="row align-item-center">
				  <div class="col-xl-2 col-lg-3 col-md-3">
					  <div>
						  <img src="../assets/images/icons/createidentity-assets/popup-upload-icon.png">
					  </div>
				  </div>
				  <div class="col-xl-7 col-lg-7 col-md-7">
					  <h5 class="heading-purple">Add New Request</h5>
				  </div>
			  </div>
			  <div class="row">
				  <div class="col-xl-12 col-lg-12 col-md-12 m-auto">
					  <form method="POST" action="/add-new-document-request" enctype="multipart/form-data" id="form_add_request_doc">
					  <div class="setup-inner-box for-protact">
						  <div class="create-rflet-id-form">
						   <div class="form-group browse-file-section">
		                    <input type="file" name="icon" class="file" style="visibility: hidden;position: absolute;" accept="image/x-png,image/jpeg,application/pdf">
		                    <div class="input-group col-xs-12">
		                        <span class="input-group-btn">
		                          <button class="browse btn btn-primary input-lg" type="button"> Choose a file</button>
		                        </span>
		                        <input type="text" class="form-control" readonly="" placeholder=""data-rule-required="true" data-msg-required="Please choose file.">
		                    </div>
		                </div>
				            <div class="form-group ">
								<Label>Document Name</Label>
									<div class="input-group">
									  <input type="text"  class="form-control" name="document_name" placeholder="Document Name" autocomplete="off"data-rule-required="true" data-msg-required="Please enter document name.">
									</div>
							</div>
							<div class="form-group">
								<Label>Description</Label>
				                    <div class="input-group">
				                      <textarea name="descriptions" id="" cols="30" rows="6" class="form-control" placeholder="Descriptions"data-rule-required="true" data-msg-required="Please enter descriptions."></textarea>  
				                    </div>
				              </div>
                              <div class="form-group select-verifier-box  m-top-40">
								<Label>Verifier Code</Label>
                                <div class="input-group">
                                 <div class="dropdown d1">
                                     <button class="dropbtn dropbtn_1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Select Client Via Code
                                     </button>
                                     <div class="dropdown-menu menu-for-id dropbtn2" aria-labelledby="dropdownMenuButton">

                                       <%	if(all_reflect_codes.length>0)
                                       {
                                            
                                           for(var i=0;i< all_reflect_codes.length;i++ ){
                                             %>
                                       <a class="dropdown-item" href="#">
                                           <div class="for-verify-box-inner for-pending"id="">
                                               
                                               <%	if(all_reflect_codes[i].user_as=='client'){%>
                                               <i class="fas fa-check"></i>
                                               <span class="user-img-verify">
                                                 
												   <%if(all_reflect_codes[i].profile_pic){
                                                          %>
														  <img id="" src="<%= all_reflect_codes[i].profile_pic %>" class="m-t-5" >
                                                                            <%}else{%>
                                                <img  class="profile-table"src="/admin-assets/images/user-icon.jpg">

                                                    <%}%>
                                               </span>
                                             <%if(all_reflect_codes[i].rep_firstname){
                                                          %>
																<span class="upper"><%=all_reflect_codes[i].rep_firstname %>-<%=all_reflect_codes[i].reflect_code %></span>
                                        
													  
                                         <%}else if(all_reflect_codes[i].entity_company_name){%>
		                                
							      		     	<span class="upper"><%=all_reflect_codes[i].entity_company_name %>-<%=all_reflect_codes[i].reflect_code %></span>
							      		     
													   
                                                    <%}else{%>
                                                    <span class="upper"><%=decrypt(all_reflect_codes[i].full_name)%>-<%=all_reflect_codes[i].reflect_code %></span>
                                                  
													    
                                              <%}%>
                                              <!-- <input type="hidden"class="get_name"value="<%=all_reflect_codes[i].rep_firstname %>"> -->
                                             <input type="hidden"name=""class="getId2"value="<%=all_reflect_codes[i].reflect_id %>">

                                            

                                           <%
                                   
                                       }
                         
                                         
                                     %>
                                       
                                   </div>
                               </a>
                               <%
                           }
                
                             }
                         %>
                                       
                           </div>  
                                   </div>
                                   </div>
                               </div>
                           </div>
                            
                           <!--  <div class="form-group">
										  <div class="input-group">
											<input type="text" class="form-control" name="id_number" placeholder="ID Number" data-rule-required="true" data-msg-required="Please enter id number.">
										  </div>
								</div>
							  <div class="form-group">
								  <div class="input-group">
									<input type="text" class="form-control" name="id_number" placeholder="ID Number" data-rule-required="true" data-msg-required="Please enter ID number.">
								  </div>
							  </div> -->
            <div class="reflect_id_jquery">
                                              
                                     </div>
						  </div>
						  <div>
						  	<!--  <div class="reflect_id_jquery">
                                              
                             </div> -->
						  	<center>
								<button class="btn-common-new  hide_btn" id="form_add_request_btn" type="submit">Save</button>

								<span class="loader"><img src="../assets/images/loader-3.gif"height="42" width="62"></span>
								<a class="btn-common-new hide_click hide_btn"  data-dismiss="modal" href="">Cancel</a>
								</center>
						  </div>
					  </div>
					</form>
				  </div>
			   </div>
			 </div>
		 </div>
	  </div>
	</div>


<!-- ............................................................................................................................................. -->
<div class="modal  field-edit-modal" id="set-all-permission-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="create-wallet-box">
              <div class="row align-item-center">
                  <div class="col-xl-2 col-lg-3 col-md-3">
                      <div>
                          <img src="../assets/images/icons/createidentity-assets/popup-set-doc-permission-icon.png">
                      </div>
                  </div>
                  <div class="col-xl-7 col-lg-7 col-md-7">
                      <h5 class="heading-purple">Document Permission</h5>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 m-auto">
                      <div class="setup-inner-box for-protact pt-15">
                          <div class="create-rflet-id-form">
                                                      
                               <div class="form-group select-verifier-box">
								   <Label>Verifier Code</Label>
                                  <div class="input-group">
                                    <div class="dropdown">
                                        <button class="dropbtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Select Verifiers Via Code
                                        </button>
                                        <div class="dropdown-menu menu-for-id" id="verifierDropdown" aria-labelledby="dropdownMenuButton">
                                            
                                        </div>
                                      </div>
                                    
                                  </div>
                              </div>
                              <div class="info-line-blue">
                                  <img src="../assets/images/icons/dashboard-assets/info-icon.png"> On boarding request will be sent when you send this documents.
                              </div>
                              <div id="category_list" class="form-group">
                                  
                              </div>
                              <div id="sub_category_list" class="form-group">
                                  
                              </div>
  
                              <div id="category_docs" class="form-group">
                                  
                              </div>
  
                              <div class="input-group hide_sub ">
                                <select onchange="get_doc_by_myrefletids(this.value)" class="form-control valid" name="my_reflet_for_req" data-rule-required="true" data-msg-required="Please select sub-category." aria-invalid="false">
                                
                                    <option>Select MyReflet Id</option>
                                    <% if(myids.length>0){
                                        for(var j=0;j<myids.length;j++){
                                            %>
                                            <%if(myids[j].reflectid_by=="entity"){%>
                                    <option value="<%=myids[j].reflect_id%>"><%=myids[j].reflect_code%>-<%=myids[j].entity_company_name%></option>
                                <%}else{%>
                                    <option value="<%=myids[j].reflect_id%>"><%=myids[j].reflect_code%>-<%=myids[j].rep_username%></option>
                            
                                    <%}}}%>
                                
                                </select>
                            </div>
                            <div id="myreflect_doc"></div>
  
                              <!--  <div class="form-group for-select-existing-doc">
                                  <div class="input-group">
                                    <div class="dropdown keep-inside-clicks-open">
                                        <button class="dropdwn-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Select from existing documents
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="myreflect_doc">



                                           
                                        </div>
                                      </div>
                                    
                                  </div>
                              </div> -->
  
                              
  
                              <div class="personal-info-box for-download-view-table table-responsive for-perticuler-box">
                                  <table class="table" id="myTable">
                                    <thead>
                                      <tr>
										<th width="16%" scope="col">Label</th>
										<th width="12%" scope="col">Self Certify</th>
										<th width="12%" scope="col">Sign</th>
										<th width="12%" scope="col">Certify</th>
										<th width="12%" scope="col">Complete</th>
										<th width="12%" scope="col">Video proof</th>
										<th width="12%" scope="col">Download</th>
										<th width="12%" scope="col">View</th>
                                      </tr>
                                    </thead>
                                    <tbody id="doc_data">
                                      
                                    </tbody>
                                  </table>
                                  <span id="prm_error_span" class="error_validate"></span>

                                  <div class="form-group">
									  	<div class="input-group">
									  		<input type="text" class="form-control" placeholder="Note" id="note" name="note" maxlength="20">
									  	</div> 
									  </div>
                                 
                              </div>
                          </div>
                          <div >
                                  <input type="hidden" name="p_cat_id" id="p_cat_id">
                                  <input type="hidden" name="sub_cat_id" id="sub_cat_id">
                                  <input type="hidden" name="doc_reflect_id" id="doc_reflect_id" value="doc_reflect_id">
                                  <button class="btn-common-new" type="button" id="subPerm" onclick="submit_all_perm()">Save</button>
                                  <a class="btn-common-new"  data-dismiss="modal" href="#">Cancel</a>
                          </div>
                      </div>
                  </div>
               </div>
             </div>
         </div>
      </div>
    </div>
  </div>

  <div class="modal field-edit-modal" id="doc-permission-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="create-wallet-box">
              <div class="row align-item-center">
                  <div class="col-xl-2 col-lg-3 col-md-3">
                      <div class="for-icon-bg">
                          <img src="../assets/images/icons/createidentity-assets/popup-set-doc-permission-icon.png">
                      </div>
                  </div>
                  <div class="col-xl-10 col-lg-10 col-md-10">
                      <h5 class="heading-purple">Document Permission</h5>
                      
                  </div>
              </div>
              <div class="setup-inner-box for-protact mt-30 p-0">
                   <p>Are you sure you want to give document permission? click yes to continue.</p>
                          <div>
                              <a class="btn-common-new" href="" data-toggle="modal" data-target="#validate-pin-Modal" data-dismiss="modal">Yes</a>
                              <a class="btn-common-new" href="">No</a>
                          </div>
                      </div>
             </div>
         </div>
      </div>
    </div>
  </div>
  	  <!--pin modal start-->
        <div class="modal field-edit-modal" id="validate-pin-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
				<div class="modal-body">
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				  <div class="create-wallet-box">
					  <div class="row align-item-center">
						  <div class="col-xl-2 col-lg-3 col-md-3">
							  <div class="for-icon-bg">
								  <img src="../assets/images/icons/createidentity-assets/popup-set-doc-permission-icon.png">
							  </div>
						  </div>
						  <div class="col-xl-10 col-lg-10 col-md-10">
							  <h5 class="heading-purple">Validate Pin</h5>
							  <p>Enter Your PIN to Continue</p>
						  </div>
					  </div>
						 <div class="login-form-main phone-otp mt-15">
						   <div class="form-group mb-0">
							  <label>PIN</label>
							  <div class="otp-box digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off">
								  <input type="text" id="otp1" name="otp1" class="form-control text-center" placeholder="-" maxlength="1" data-next="otp2">
								  <input type="text" id="otp2" name="otp2" class="form-control" placeholder="-" maxlength="1" data-next="otp3" data-previous="otp1">
								  <input type="text" id="otp3" name="otp3" class="form-control" placeholder="-" maxlength="1" data-next="otp4" data-previous="otp2">
								  <input type="text" id="otp4" name="otp4" class="form-control" placeholder="-" maxlength="1" data-previous="otp3">
							  </div>
							</div>
					  </div>
					  <span class="error_validate" id="req_err_prm"></span>
					  <div class="setup-inner-box for-protact pt-15">
						  <div>
							  <a class="btn-common-new hide_click" href="javascript:void(0)" onclick="pin_for_prm()" id="pin_prm_btn">Confirm</a>
							 <span class="loader "><img src="../assets/images/loader-3.gif"height="42" width="62"></span>
							  <a class="btn-common-new hide_click" href="">Cancel</a>
						  </div>
					  </div>
					 </div>
				 </div>
			  </div>
			</div>
		  </div>
          <!--pin modal end-->
          <div class="modal  field-edit-modal" id="dsuccess-doc-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
				<div class="modal-body">
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				  <div class="create-wallet-box">
					  <div class="row align-item-center">
						  <div class="col-xl-2 col-lg-3 col-md-3">
							  <div class="for-icon-bg">
								  <img src="../assets/images/icons/createidentity-assets/popup-success-icon.png">
							  </div>
						  </div>
						  <div class="col-xl-10 col-lg-10 col-md-10">
							  <h5 class="heading-purple">Document Sent Successfully</h5>
							  
						  </div>
					  </div>
					  <div class="setup-inner-box for-protact mt-30 p-0">
						   <p>Your Document has been successfully sent to the verifier. Your document will be verified shortly and you'll ve notified in regards that.</p>
					  </div>
					  <div class="setup-inner-box for-protact pt-15">
						<div>
							<a href="" class="btn-common-new">OK!</a>
						</div>
						</div>
					 </div>
				 </div>
			  </div>
			</div>
		  </div>

<!-- .............................................................................................................................................. -->
<%- include('../innerFooter')%>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
// <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
// <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<script>

$(document).ready( function () {
	            // $('.hide_my_reflet_id').hide();
	            	$('.hide_sub').hide();

		  		$('.loader').hide();
		  		$('.proof_of_address_class').hide();
				  $('.passport_class').hide();
				  $('.master_doc').hide();

		  				  		$('.special_class').hide();
 	 	    $('.user_defined_document_name').hide();

		  		// $('.passport_class').hide();

	$('.table').DataTable();

} );
</script>
<script>
	$(document).on('click.bs.dropdown.data-api', '.dropdown.keep-inside-clicks-open', function (e) {
	  e.stopPropagation();
	});
</script> 

 <script>
    $("#datepicker2").datepicker({ minDate:  "+1M" });
    	$("#datepicker3").datepicker({ maxDate:  "-0M" });

 </script>
 <script>
	 $(document).on('click', '.browse', function(){
    var file = $(this).parent().parent().parent().find('.file');
    file.trigger('click');
  });
  $(document).on('change', '.file', function(){
    $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i,''));
  }); 
</script>
<script>
	$('#form_add_doc').validate({
   onfocusout: function(element) {
   this.element(element);
   },
   errorClass: 'error_validate',
   errorElement:'span',
   highlight: function(element, errorClass) {
   $(element).removeClass(errorClass);
   },
   submitHandler:function(form)
	{
				   return check_type()
				   return check_client()
				 	        	$('.loader').show();
	  $('#form_add_doc_btn').attr('disabled',true);
	  $('.hide_click').hide();
	  
	  form.submit();
	}
   });
	  

	  $('#form_add_request_doc').validate({
   onfocusout: function(element) {
   this.element(element);
   },
   errorClass: 'error_validate',
   errorElement:'span',
   highlight: function(element, errorClass) {
   $(element).removeClass(errorClass);
   },
   submitHandler:function(form)
	{
			$('.hide_click').hide();

				 	        	$('.loader').show();
	  $('#form_add_request_btn').attr('disabled',true);
	  form.submit();
	}
   });
	  
 </script>
 <script type="text/javascript">
	 var getClientId;
	 
 	$('.d1').on('click', '.menu-for-id a', function() {
	   $('.dropbtn_1').html($(this).html()); 
 $('.reflect_id_jquery').html("")
	//   var lastID = $(this).html();
	   getClientId = $(this).find(".getId2_doc").attr("value");
// alert(getVerifierID)
	   $('.reflect_id_jquery').append(` <input type="hidden"name="reflect_id"class=""value="${getVerifierID}">`)
		// console.log("text", lastID); 
// alert(getClientId)

   });

 </script>
<script>
	$('.submit-document').click(function() {
		// var userid = `${ userid}`
		$('.complaints_by_status_list').html(" ")
    var status_list = $('input[type=checkbox]:checked').map(function(_, el) {
        return $(el).val();
	}).get();
	// alert(status_list)
    console.log("check box select value : ",status_list) 
	$.ajax({
                      type : 'POST',
                      url  : '/show-complaints-by-status',
					  data: {status_list:JSON.stringify(status_list)},
					  
                        success: function(data) {
							console.log("out data : ",data)
						   var complaints=data.result_code_array
						   var moment=data.moment
							// $("#all").hide();
						if(!data)
					    {
						   
					     }
					   else{
						   

						console.log("ajax success data : ",complaints)	
						$(".all_list").hide();
						$(".complaints_by_reflect_codes").hide();
						$(".complaints_by_complain_id").hide();
						$(".complaints_by_status_list").show();
					
					for(var i=0;i<complaints.length;i++)
                   {            console.log("data lll : ",complaints[i].complain_id)
					  
					    
						$(".complaints_by_status_list").append(`<tr class="content_search">
						    	<td>C-${complaints[i].complain_id}</td>
						      	<td>${complaints[i].created_at}</td>
							    <td><span class="font-w-600">${complaints[i].full_name}</span> <br>${complaints[i].reflect_code}</td>
							    <td>${complaints[i].complain_message}</td>
							    <td><span class="font-w-600">${complaints[i].rep_firstname}</span> <br> ${complaints[i].client_reflect_code}</td>
							    <td> <span class="clr-purple">${complaints[i].complaint_status}</span></td>
							    <td>
							      	<a href="complaint-details.php" class="view-img"><img class="hide_link" src="../assets/images/icons/dashboard-assets/icon_view.png" alt="eye"></a>
						      	</td>
						    </tr>`);

					   }

	} 
			}                                                    
           
})
})

function autoSearch(value)
{
	alert('')
    $.ajax({
       type: "GET",
       url: "sample.php",
       data: {'search_keyword' : value},
       dataType: "text",
       success: function(msg){
                   //Receiving the result of search here
       }
    });
}
	
			

// **************** Search Data by Reflect Id ************************
$('.checkbox2').click(function() {
		// var userid = `${ userid}`
		// $('.complaints_by_reflect_codes').html(" ")
	// alert('reflect_code_list')

    var reflect_code_list = $('input[type=checkbox]:checked').map(function(_, el) {
        return $(el).val();
	}).get();
	// alert(reflect_code_list)

	if(reflect_code_list=='')
	{
		window.location.reload(true);

	}
	$.ajax({
                      type : 'POST',
                      url  : '/show-reflect-code-data',
					  data: {reflect_code_list:JSON.stringify(reflect_code_list)},
					  
                        success: function(data) {
							// alert(data)
						
						
							$('#div_data').html("");
			            	$('#div_data').html(data);
	// 					if(!data)
	
			}                                                    
           
})
})
                
                

</script>
<script>
$(document).ready( function () {
		  $("#myInputSearch").on("keyup", function() {

            var value = $(this).val().toLowerCase();
            // alert(value)
            if(value){
            $.ajax({
		type: "post",
		url: "/search-user-document",
		data:{query:value},
		success: function (data) {
			// alert(data);
			
			     $('#div_data').html("");
			            	$('#div_data').html(data);
						
			
	
		
		}
	})
}else{location.reload(true)}
	})
	$('.autocomplete').keyup(function(){
//  alert('search')
  // Search text
  		$('.loader').hide();

  var text = $(this).val();
  
  // Hide all content class element
  $('.content_search').hide();

  // Search and show
  $('.content_search:contains("'+text+'")').show();
  
 
 });
 
	$('#myTable1').hide();

	$('.table').DataTable();
} );

function export_table(){
//   alert('hhh')

  $("#myTable3").table2excel({
      filename: "document-list.xls",
	  exclude:'.hide_link',
  });
  
}

function print_table(){
	  // $("#user_div").print();
     var restorepage = $('body').html();
  // $('.nodata').hide();
   var printcontent = $('#myTable3').clone();
   $('body').empty().html(printcontent);
   window.print();
   $('body').html(restorepage);
 
   window.location.reload(true);
		} 

</script>
<script type="text/javascript">
  

  function get_select_value(option){

  var doc_name = $('#doc'+option).val();
         
 	// alert("option : "+doc_name)


if(doc_name==undefined)
 {
$('.proof_of_address_class').hide();
		  				  		$('.special_class').hide();

 	    $('.passport_class').hide();

 	     	 	    $('.user_defined_document_name').hide();

 }
  else if(doc_name=='Other')
 {

$('.proof_of_address_class').hide();
		  				  		$('.special_class').hide();

 	    $('.passport_class').hide();
 	 	    $('.user_defined_document_name').show();

 }
else if(doc_name=='Passport')
 {
 	 	// alert("option : "+doc_name)
   $('.proof_of_address_class').hide();

    $('.passport_class').show();

  $('.special_class').show();
 	 	    $('.user_defined_document_name').hide();

      // $('.proof_of_address_class').hide();

 }
  else if(doc_name=='Proof of Address')
 {
    $('.passport_class').hide();
		  				  		$('.special_class').hide();
 	 	    $('.user_defined_document_name').hide();

  $('.proof_of_address_class').show();
 } 
    else if(doc_name=='PAN Card')

 {
		  				  		$('.special_class').hide();
 	 	    $('.user_defined_document_name').hide();

 	       $('.proof_of_address_class').hide();

 	    $('.passport_class').show();


  //   $('.span_error').show();

  //      setTimeout(function() {
  //   $('.span_error').fadeOut('fast');
  //   }, 3000);
  // return false;
 }
  else if(doc_name=='Identity Card')

 {
 			  				  		$('.special_class').hide();
 	 	    $('.user_defined_document_name').hide();

 	       $('.proof_of_address_class').hide();


 	       $('.passport_class').show();
}
else if(doc_name=='Driving licence')

 {
		  				  		$('.special_class').hide();
 	 	    $('.user_defined_document_name').hide();

 	       $('.proof_of_address_class').hide();

 	    $('.passport_class').show();

}else if(doc_name=='Utility bills')

 {
  

 	    // $('.driving_lic').hide();
$('.passport_class').hide();
		  				  		$('.special_class').hide();

  $('.proof_of_address_class').show();}
//  else if(doc_name=='Identity Card')

//  {


//  	    $('.passport_class').show();
//  	       $('.proof_of_address_class').hide();
// }
     }
 </script>


<script type="text/javascript">
	
	 setTimeout(function() {
    $('#success_message').fadeOut('fast');
    }, 3000);
    
    setTimeout(function() {
    $('#error_msg').fadeOut('fast');
    }, 3000);
</script>

<!-- ............................................................................................................................................ -->

<script>
    	 function capitalize(str) {
  strVal = '';
  str = str.split(' ');
  for (var chr = 0; chr < str.length; chr++) {
    strVal += str[chr].substring(0, 1).toUpperCase() + str[chr].substring(1, str[chr].length) + ' '
  }
  return strVal
}

function getVerifierList(count){ 


    $('#doc_data').html(" ")
$('.hide_click').hide();
 $('.loader').show();
$.ajax({
        type: "get",
        url: "/get-verifier-list",
        data:{},
        success: function (data) {
            console.log(data);  
            for(var i=0;i<data.length;i++){ 
                if($(`#anchor${i}`).text()!=""){
                    $('.hide_click').show();
                    $('.loader').hide();
                    $('#set-all-permission-Modal').modal();

                }
                else{
                    // var firstname;
                    if(data[i].reflectid_by == 'entity'){
                        var firstname = capitalize(data[i].entity_company_name);
                    }else{
                        var firstname = capitalize(data[i].rep_username);
                    }
                    
                    // alert("firstname "+firstname);
                    $('#verifierDropdown').append(`<a class="dropdown-item" id="anchor${i}" onclick="get_category(${data[i].reflect_id})" href="javascript:void(0)">
                                        <div class="for-verify-box-inner for-pending">
                                             <i class="fas fa-check"></i>
                                            <span class="user-img-verify">
                                                    <img src="admin-assets/images/faces/face1.jpg" alt="image">
                                            </span>
                                            <span class="tooltip fade" data-title="On boarding Pending">
                                                <input type="hidden" class="getId" id="verifier_id${i}" value="${data[i].reg_user_id}-${data[i].reflect_id}">
                                                ${firstname}-${data[i].reflect_code}
                                                <img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
                                            </span>
                                        </div>
                                    </a>`)
                    // $('#set-all-permission-Modal').show();
                    $('.hide_click').show();
                    $('.loader').hide();
                    $('#set-all-permission-Modal').modal();

                }					
            }
        }
    });



}

function get_category(cat_val){
// alert(cat_val);
if(cat_val!=""){
    $.ajax({
        type: "post",
        url: "/get-category-list",
        data:{reflect_id:cat_val},
        success: function (data) {
            console.log(data);  
            $('#category_list').html(data);
        }
    });
}else{
            $('#category_list').html("");
}
}

function get_sub_category(sub_cat_val){
// alert(sub_cat_val);
$("#p_cat_id").val(sub_cat_val)

if(sub_cat_val!=""){
    $.ajax({
        type: "post",
        url: "/get-sub-category-list",
        data:{category_id:sub_cat_val},
        success: function (data) {
            console.log(data);  
            $('#sub_category_list').html(data);
        }
    });
}else{
            $('#sub_category_list').html("");
}
}
     var global_category_id;

function get_requested_doc(category_id){
$("#sub_cat_id").val(category_id)
   global_category_id = category_id;

//    alert(category_id);
if(category_id!=""){
    $.ajax({
        type: "post",
        url: "/get-requested-doc",
        data:{category_id:category_id,verifier_data:'yes'},
        success: function (data) {
            console.log(data);  
            	            	$('.hide_sub').show();

            $('#category_docs').html(data);
        }
    });
}else{
            $('#category_docs').html("");
}
}

function get_check_doc(value,user_doc_id){

// alert(value);
// var user_doc_id = $(`#doc_check${value}`).val();
var user_doc_id = user_doc_id;

var trow = $(`#docRow${value}`).text();
// alert(user_doc_id);
// console.log("user_doc_id",user_doc_id);
if(trow!=""){
    $(`#docRow${value}`).remove();
}else{
$.ajax({
    type: "post",
    url: "/get-checked-doc",
    data:{user_doc_id:user_doc_id,value},
    success: function (data) {
    
        $('#doc_data').append(data);
    }
});
}
}

var rowCount;
	var rowVal=[];
	var download = [];
	var view = [];
	var certify = [];

var self_certify = [];
	var video_proof = [];
	var sign = [];
	var complete = [];
function submit_all_perm(){

	if(getVerifierID!="" || getVerifierID!=undefined){
	//  alert(getVerifierID);
	 
	rowCount = $('table#myTable tr:last').index() + 1;
	//  alert(rowCount);

	var reflect_id = $('#doc_reflect_id').val();
	

	if(rowCount>0)
	{

		if($('input[name="doc_check"]:checked')){
	   	$('#doc_data tr').each(function(index) {
	   		var hidden_val=$(this).find('input[type="hidden"]').val();

	   		rowVal.push(hidden_val);


			   var down_val=$(this).find('input[name="downloadPerm"]:checked').val();
			   var view_val = $(this).find('input[name="viewPerm"]:checked').val();
			   var certify_val = $(this).find('input[name="certifyPerm"]:checked').val();

			   var self_certify_val = $(this).find('input[name="selfCertifyPerm"]:checked').val();
			   var video_proof_val = $(this).find('input[name="videoPerm"]:checked').val();
			   var sign_val = $(this).find('input[name="signPerm"]:checked').val();
			   var complete_val = $(this).find('input[name="completePerm"]:checked').val();

	   		if(down_val==undefined)
	   		{
	   			var dwn_per='no';
	   		}
	   		else
	   		{
	   		   var dwn_per='yes';	
			}
			if(view_val==undefined)
	   		{
	   			var vw_per='no';
	   		}
	   		else
	   		{
	   		   var vw_per='yes';	
			}
			   if(certify_val==undefined)
	   		{
	   			var crt_per='no';
	   		}
	   		else
	   		{
	   		   var crt_per='yes';	
	   		}
			
			if(self_certify_val==undefined)
	   		{
	   			var self_crt_per='no';
	   		}
	   		else
	   		{
	   		   var self_crt_per='yes';	
	   		}

	   		if(video_proof_val==undefined)
	   		{
	   			var vid_pr_val='no';
	   		}
	   		else
	   		{
	   		   var vid_pr_val='yes';	
	   		}

	   		if(complete_val==undefined)
	   		{
	   			var com_per='no';
	   		}
	   		else
	   		{
	   		   var com_per='yes';	
	   		}
	   		if(sign_val==undefined)
	   		{
	   			var sign_per='no';
	   		}
	   		else
	   		{
	   		   var sign_per='yes';	
	   		}
            self_certify.push(self_crt_per)
			video_proof.push(vid_pr_val)
			complete.push(com_per)
			sign.push(sign_per)

	   		download.push(dwn_per);
			view.push(vw_per);
			certify.push(crt_per)
	   	});
		   $('#subPerm').attr('data-toggle', 'modal');
			$('#subPerm').attr('data-target', '#doc-permission-Modal'); 
			$('#subPerm').attr('data-dismiss', 'modal');
	}else if(rowCount<=0){
		$('#prm_error_span').html("Please select atleast one document.");
	}
}
}else{
	$('#prm_error_span').html("Please select verifier.");
}
	
	
		
}



function pin_for_prm(){
	// alert("hellllllllllllll0000");
var otp1=$('#otp1').val();
var otp2=$('#otp2').val();
var otp3=$('#otp3').val();
var otp4=$('#otp4').val();
var otp = otp1+""+otp2+""+otp3+""+otp4;
if(otp1=="" || otp1=="" || otp1=="" || otp1==""){
	// alert(otp);
	// ('.hide_click').show();
 // 	        	$('.loader').hide();
 $('#req_err_prm').html("Please enter valid Pin.");
}else{
// alert(otp);
             $('.hide_click').hide();
 	        	$('.loader').show();
$('#req_err_prm').html("");
	$.ajax({
			type: "post",
			url: "/request-check-pin",
			data:{pin:otp},
			success: function (data) {
				// alert(data);
				if(data.success_data){
                    $('#req_err_prm').html('');
					// alert(data);
					submit_permission();
				}else{
					 // alert(otp);
					 					$('.hide_click').show();

					 	        	$('.loader').hide();

                    $('#req_err_prm').html('Please enter valid Pin');
				}
			}
	})
}
}

function submit_permission(){

	// alert("hiiii");
var reflect_id = $('#doc_reflect_id').val();
var vrfr = getVerifierID.split('-');
	 var vId = vrfr[0];
	 var vRefId = vrfr[1];
	 var p_cat_id1= $("#p_cat_id").val()
	 var sub_cat_id1= $("#sub_cat_id").val()
	 var note =$("#note").val()

	//  alert("vrfr "+vrfr);
	//  alert("vId "+vId);
	//  alert("vRefId "+vRefId);
$.ajax({
    type: "post",
	url:"/request-doc",
	data:{reflect_id:reflect_id,
		download:JSON.stringify(download),
		view:JSON.stringify(view),
		certify:JSON.stringify(certify),
		total_doc:JSON.stringify(rowVal),
		self_certify:JSON.stringify(self_certify),
		video_proof:JSON.stringify(video_proof),
		sign:JSON.stringify(sign),
		complete:JSON.stringify(complete),
		verifier_id:vId,
		verifier_reflect_id:vRefId,
		rowCount:rowCount,
		p_cat_id:p_cat_id1,
		sub_cat_id:sub_cat_id1,
		note:note

    },
    success:function(datas) {
        // alert("[[[[[[[[[[[[[[["+datas);
		
		$('#validate-pin-Modal').modal('hide');
		
		$('#dsuccess-doc-Modal').modal('show');
	}
});

}

var global_reflect_id;
function get_doc_by_myrefletids(reflect_id){

    // alert(reflect_id)
            $('#doc_data').html('');
         // alert(global_reflect_id)
    global_reflect_id = reflect_id;
    
    $('#doc_reflect_id').val(reflect_id);
	 var sub_cat_id= $("#sub_cat_id").val()

	$.ajax({
			type: "post",
			url: "/get-doc-by-myreflectis",
			data:{reflect_id:reflect_id,category_id:global_category_id},
			success: function (data) {
				// alert(data);
				if(data){

                   

                    $('#myreflect_doc').html(data);
				
				}else{
                    console.log(data)
                    // $('#req_err_prm').html('Please enter valid Pin');
				}
			}
	})

}

</script>
<script type="text/javascript">

    var getVerifierID ;
     $(document).on('click', '.menu-for-id a', function() {
         $(this).parent().parent().find("button").html($(this).html()); 
         getVerifierID = $(this).find(".getId").attr("value");
     });
  
     var getIndivVerifierID ;
     $(document).on('click', '.menu-for-id-indiv a', function() {
          $(this).parent().parent().find("button").html($(this).html()); 
             getIndivVerifierID = $(this).find(".getId").attr("value");
     });
  
     var getCheckedVerifierID ;
     $(document).on('click', '.menu-for-id-checked a', function() {
          $(this).parent().parent().find("button").html($(this).html()); 
          getCheckedVerifierID = $(this).find(".getId").attr("value");
     });
  
  </script>
  <script type="text/javascript">
	$('.add_file').click(()=>{
        
        $('.hide_btn').hide();

		$('.loader').show();

	})
	$('.click_eye').click(()=>{
					   // $('.hide_btn').hide();

					   $('.loader-box').show();

   })
   $('.choose_doc_type').click(()=>{

var request_type = $( "input[name='request_type']:checked").val();

//    alert(request_type)
	if(request_type==undefined){
	  $('.span_text').html('*Please select any document type')
	  return false;
	}   
	else if(request_type=='master'){
	  $('.master_doc').show();
	  $('.user_defined_document_name').hide();
	}
	else if(request_type=='other')
	{
		$('.master_doc').hide();

				$('.user_defined_document_name').show();


	}
})
function check_type(){
var request_type = $( "input[name='request_type']:checked").val();

// alert('getClientId : '+getClientId)

$('.span_text').html('')
$('.span_client_text').html('')


if(request_type==undefined){
	$('.hide_click').show();

	  $('.span_text').html('*Please select any document type')
	  return false;
	} 
	if(getClientId==undefined){
	$('.hide_click').show();

	  $('.span_client_text').html('*Please select any client')
	  return false;
	} else{
		$('.span_text').html('')

		$('.span_client_text').html('')

		return true;
	}

	
}


// function check_client(){
// // var client = $( "input[name='request_type']:checked").val();

// if(getVerifierID==undefined){
// 	$('.hide_click').show();

// 	  $('.span_client_text').html('*Please select any client')
// 	  return false;
// 	} else{
// 		$('.span_client_text').html('')

// 		return true;
// 	}
// }
</script>