<style>
	.upper {
  text-transform: capitalize;
}
.create-rflet-id-form .form-control[readonly] {
    background-color: transparent;
    color: #606161;
}
</style>
<%-include('../innerHeader')%>

<section class="heading-sec">
	<div class="container">
		<div class="row align-item-center">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="main-heading-dash">
					<img src="../assets/images/icons/home-assets/mydocuments.png">
					<h4>My Documents</h4>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<!-- <div class="text-right">
                    <a href="javascript:void(0)" onclick="getVerifierList()" id="setpermissionbtn" class="btn-common-new hide_click" data-toggle="modal" >Send to verifier</a>
					<a class="btn-common-new" href="" data-toggle="modal" data-target="#add-new-doc-Modal">Add New Document</a>
					<a class="btn-common-new" href="" data-toggle="modal" data-target="#add-new-request">Request For Document</a>

				</div> -->

			</div>
			
		</div>
	</div>
</section>


<section>
	<div class="container">
		<div class="row align-item-center">
			<div class="col-lg-12">
				<div class="custom-space-btw another-drop-down for-search-document align-items-end">
					<div class="for-select-existing-doc">
					    <div class="input-group">
							<div class="dropdown keep-inside-clicks-open">
								<h3 class="small-title">MyReflet ID</h3>
								<button class="dropdwn-btn checkboxdata" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    All
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start">
								    <div class="for-doc-select">
								    	<div class="checkbox"> 	
								        	<label>
								          		All
								            	<input type="checkbox" value=""id="user_check"name="userid">
								            	<span class="cr"><i class="cr-icon fa fa-check"></i></span>
											  </label>
										</div>
									
										<div class="checkbox" >
											<label>
											 <div class="upper">
											

											 	</div>
											 

											
											</label>
                                       
										</div>	
								

								    </div>
								    
								</div>

							</div>
						</div>
					</div>
					<div class="custom-flex-row">
						<form class=" response-search"> 
		                     <div class="input-group search-address-book">
		                      <input type="text" class="form-control autocomplete" id="myInputSearch" placeholder="Search" >
		                        <div class="input-group-append">
		                            <button class="btn btn-search" type="button"><img src="../assets/images/icons/search-black.png"></button>
		                        </div>
		                    </div>
	                  	</form>
                  	</div>
				</div>
				<div class="personal-info-heading">
					<div class="text-right">
						<a href="javascript:void(0);" onclick="export_table();">							<div class="icon-for-dwnload">		
							
								<div class="tooltip fade" data-title="Export Data">
									<img src="../assets/images/icons/dashboard-assets/export.png">
							     	<img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
								</div>
							</div>
						</a>
						<a href="javascript:void(0);" onclick="print_table();">
							<div class="icon-for-dwnload">
								<div class="tooltip fade" data-title="Print Data">
									<img src="../assets/images/icons/dashboard-assets/print.png">
								    <img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="personal-info-box table-responsive another-table" id="">
					 <% if(success_msg!=undefined && success_msg !='' ){ %>
				            <div class="alert alert-success text-center  flash_msg "id="success_message">
				            <%= success_msg %>
				           </div>
				          <% }%>
					<table class="table" id="myTable3">
						<thead>
					    	<tr> 
								
                                <th scope="col">No.</th>
						      	<th scope="col">Document Name</th>
								<th scope="col">My RefletID</th>
						      	<th scope="col">Document ID</th>
						      	<th scope="col">Transaction Hash</th>
						      	<th scope="col">Action</th>
						      	<!-- <th scope="col">Self Certified</th>
						      	<th scope="col">Creation Date</th>
						      	<th scope="col" class="hide_link">Action</th> -->
					    	</tr>
					  	</thead>
						<tbody id="div_data">
						   
								
			<% if(transArr.length>0){ %>
				<%for(let i=0;i<transArr.length;i++){   %>
					   <tr class="content_search">
						   <%var k=i+1;  %>
					   	<td><%=k%></td>
						    	<td><%= transArr[i].doc_name %>
								</td>
						      	<td>
									<%= transArr[i].reflet_id %>
						      	</td>

								  <%= transArr[i].doc_id_num %>
							    <td>  
							    	<%= transArr[i].transaction_hash %>
                                </td>
                                 <td>  
							    	<%= transArr[i].action %>
                                </td>
						     </tr>
						   
		<% }}else{  %>
		           	<tr>
		 				<td colspan="8"><center>No record found.</center> </td>
					   </tr>
					   <%  }%>

       
						</tbody>
					
						   
							
					</table>
				
					
				</div>
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-md-12">
				<div class="setup-inner-box for-protact">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<h5 class="heading-purple text-left mb-30">Selcet Form</h5>
								<select class="form-control">
									<option>1 Form</option>
									<option>2 Form</option>
									<option>3 Form</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 m-auto">
							<div class="setup-inner-box for-protact white-box">
								<div class="create-rflet-id-form">
								    <div class="form-group browse-file-section">
						                  <input type="file" name="staff_image" class="file" style="visibility: hidden;position: absolute;" accept="image/x-png,image/jpeg">
						                  <div class="input-group col-xs-12">
						                    <span class="input-group-btn">
						                      <button class="browse btn btn-primary input-lg" type="button"> Choose a file</button>
						                    </span>
						                    <input type="text" class="form-control" readonly="" placeholder="">
						                  </div>
		                              </div>
		                              <div class="form-group">
										<div class="input-group">
										  <input type="text"  class="form-control" placeholder="Document Name">
										</div>
									</div>  
								    <div class="form-group">
										<div class="input-group">
										 <select class="form-control ">
										<option value="select">Select document</option>
											
														
											<option value="1">Passport</option>
											
														
											<option value="2">Driving licence</option>
											
														
											<option value="4">Utility bills</option>
											
														
											
											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="input-group">
										  <input type="text" class="form-control" placeholder="Document ID Number">
										</div>
									</div>
								</div>
								<div >
									<a class="btn-common-new" href="">Submit</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</section>
<!-- ADD Document Modal -->
<div class="modal fade field-edit-modal" id="add-new-doc-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-body">
		  <button type="button" class="close hide_click hide_btn" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		  <div class="create-wallet-box">
			  <div class="row align-item-center">
				  <div class="col-xl-2 col-lg-3 col-md-3">
					  <div>
						  <img src="../assets/images/icons/createidentity-assets/popup-upload-icon.png">
					  </div>
				  </div>
				  <div class="col-xl-7 col-lg-7 col-md-7">
					  <h5 class="heading-purple">Add New Document</h5>
				  </div>
			  </div>
			  <div class="row">
				  <div class="col-xl-12 col-lg-12 col-md-12 m-auto">
					  <form method="POST" action="/add-new-document" enctype="multipart/form-data" id="form_add_doc">
					  <div class="setup-inner-box for-protact">
						  <div class="create-rflet-id-form">
							  <div class="form-group browse-file-section">
									<input type="file" name="document" class="file" style="visibility: hidden;position: absolute;" accept="image/x-png,image/jpeg,application/pdf">
									<div class="input-group col-xs-12">
									  <span class="input-group-btn">
										<button class="browse btn btn-primary input-lg" type="button"> Choose a file</button>
									  </span>
									  <input type="text" class="form-control" readonly="" placeholder="" data-rule-required="true" data-msg-required="Please select document file.">
									</div>
								</div>
							</div>
							<center><span class="span_text"style="color:red"></span></center>


							
							

                            
                           </div>
							

						  </div>
					
					  </div>
				
				  </div>
			   </div>
			 </div>
		 </div>
	  </div>
	</div>

<div class="modal fade field-edit-modal" id="add-new-request" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-body">
		  <button type="button" class="close hide_click hide_btn" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		  <div class="create-wallet-box">
			  <div class="row align-item-center">
				  <div class="col-xl-2 col-lg-3 col-md-3">
					  <div>
						  <img src="../assets/images/icons/createidentity-assets/popup-upload-icon.png">
					  </div>
				  </div>
				  <div class="col-xl-7 col-lg-7 col-md-7">
					  <h5 class="heading-purple">Add New Request</h5>
				  </div>
			  </div>
			
			   </div>
			 </div>
		 </div>
	  </div>
	</div>


<!-- ............................................................................................................................................. -->

<!-- .............................................................................................................................................. -->
<%- include('../innerFooter')%>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
// <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
// <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<script>

$(document).ready( function () {
	            // $('.hide_my_reflet_id').hide();
	            	$('.hide_sub').hide();

		  		$('.loader').hide();
		  		$('.proof_of_address_class').hide();
				  $('.passport_class').hide();
				  $('.master_doc').hide();

		  				  		$('.special_class').hide();
 	 	    $('.user_defined_document_name').hide();

		  		// $('.passport_class').hide();

	$('.table').DataTable();

} );
</script>
<script>
	$(document).on('click.bs.dropdown.data-api', '.dropdown.keep-inside-clicks-open', function (e) {
	  e.stopPropagation();
	});
</script> 

 <script>
    $("#datepicker2").datepicker({ minDate:  "+1M" });
    	$("#datepicker3").datepicker({ maxDate:  "-0M" });

 </script>
 <script>
	 $(document).on('click', '.browse', function(){
    var file = $(this).parent().parent().parent().find('.file');
    file.trigger('click');
  });
  $(document).on('change', '.file', function(){
    $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i,''));
  }); 
</script>
<script>
	$('#form_add_doc').validate({
   onfocusout: function(element) {
   this.element(element);
   },
   errorClass: 'error_validate',
   errorElement:'span',
   highlight: function(element, errorClass) {
   $(element).removeClass(errorClass);
   },
   submitHandler:function(form)
	{
				   return check_type()
				   return check_client()
				 	        	$('.loader').show();
	  $('#form_add_doc_btn').attr('disabled',true);
	  $('.hide_click').hide();
	  
	  form.submit();
	}
   });
	  

	  $('#form_add_request_doc').validate({
   onfocusout: function(element) {
   this.element(element);
   },
   errorClass: 'error_validate',
   errorElement:'span',
   highlight: function(element, errorClass) {
   $(element).removeClass(errorClass);
   },
   submitHandler:function(form)
	{
			$('.hide_click').hide();

				 	        	$('.loader').show();
	  $('#form_add_request_btn').attr('disabled',true);
	  form.submit();
	}
   });
	  
 </script>
 <script type="text/javascript">
	 var getClientId;
	 
 	$('.d1').on('click', '.menu-for-id a', function() {
	   $('.dropbtn_1').html($(this).html()); 
 $('.reflect_id_jquery').html("")
	//   var lastID = $(this).html();
	   getClientId = $(this).find(".getId2_doc").attr("value");
// alert(getVerifierID)
	   $('.reflect_id_jquery').append(` <input type="hidden"name="reflect_id"class=""value="${getVerifierID}">`)
		// console.log("text", lastID); 
// alert(getClientId)

   });

 </script>
<script>
	$('.submit-document').click(function() {
		// var userid = `${ userid}`
		$('.complaints_by_status_list').html(" ")
    var status_list = $('input[type=checkbox]:checked').map(function(_, el) {
        return $(el).val();
	}).get();
	// alert(status_list)
    console.log("check box select value : ",status_list) 
	$.ajax({
                      type : 'POST',
                      url  : '/show-complaints-by-status',
					  data: {status_list:JSON.stringify(status_list)},
					  
                        success: function(data) {
							console.log("out data : ",data)
						   var complaints=data.result_code_array
						   var moment=data.moment
							// $("#all").hide();
						if(!data)
					    {
						   
					     }
					   else{
						   

						console.log("ajax success data : ",complaints)	
						$(".all_list").hide();
						$(".complaints_by_reflect_codes").hide();
						$(".complaints_by_complain_id").hide();
						$(".complaints_by_status_list").show();
					
					for(var i=0;i<complaints.length;i++)
                   {            console.log("data lll : ",complaints[i].complain_id)
					  
					    
						$(".complaints_by_status_list").append(`<tr class="content_search">
						    	<td>C-${complaints[i].complain_id}</td>
						      	<td>${complaints[i].created_at}</td>
							    <td><span class="font-w-600">${complaints[i].full_name}</span> <br>${complaints[i].reflect_code}</td>
							    <td>${complaints[i].complain_message}</td>
							    <td><span class="font-w-600">${complaints[i].rep_firstname}</span> <br> ${complaints[i].client_reflect_code}</td>
							    <td> <span class="clr-purple">${complaints[i].complaint_status}</span></td>
							    <td>
							      	<a href="complaint-details.php" class="view-img"><img class="hide_link" src="../assets/images/icons/dashboard-assets/icon_view.png" alt="eye"></a>
						      	</td>
						    </tr>`);

					   }

	} 
			}                                                    
           
})
})

function autoSearch(value)
{
	alert('')
    $.ajax({
       type: "GET",
       url: "sample.php",
       data: {'search_keyword' : value},
       dataType: "text",
       success: function(msg){
                   //Receiving the result of search here
       }
    });
}
	
			

// **************** Search Data by Reflect Id ************************
$('.checkbox2').click(function() {
		// var userid = `${ userid}`
		// $('.complaints_by_reflect_codes').html(" ")
	// alert('reflect_code_list')

    var reflect_code_list = $('input[type=checkbox]:checked').map(function(_, el) {
        return $(el).val();
	}).get();
	// alert(reflect_code_list)

	if(reflect_code_list=='')
	{
		window.location.reload(true);

	}
	$.ajax({
                      type : 'POST',
                      url  : '/show-reflect-code-data',
					  data: {reflect_code_list:JSON.stringify(reflect_code_list)},
					  
                        success: function(data) {
							// alert(data)
						
						
							$('#div_data').html("");
			            	$('#div_data').html(data);
	// 					if(!data)
	
			}                                                    
           
})
})
                
                

</script>
<script>
$(document).ready( function () {
		  $("#myInputSearch").on("keyup", function() {

            var value = $(this).val().toLowerCase();
            // alert(value)
            if(value){
            $.ajax({
		type: "post",
		url: "/search-user-document",
		data:{query:value},
		success: function (data) {
			// alert(data);
			
			     $('#div_data').html("");
			            	$('#div_data').html(data);
						
			
	
		
		}
	})
}else{location.reload(true)}
	})
	$('.autocomplete').keyup(function(){
//  alert('search')
  // Search text
  		$('.loader').hide();

  var text = $(this).val();
  
  // Hide all content class element
  $('.content_search').hide();

  // Search and show
  $('.content_search:contains("'+text+'")').show();
  
 
 });
 
	$('#myTable1').hide();

	$('.table').DataTable();
} );

function export_table(){
//   alert('hhh')

  $("#myTable3").table2excel({
      filename: "document-list.xls",
	  exclude:'.hide_link',
  });
  
}

function print_table(){
	  // $("#user_div").print();
     var restorepage = $('body').html();
  // $('.nodata').hide();
   var printcontent = $('#myTable3').clone();
   $('body').empty().html(printcontent);
   window.print();
   $('body').html(restorepage);
 
   window.location.reload(true);
		} 

</script>
<script type="text/javascript">
  

  function get_select_value(option){

  var doc_name = $('#doc'+option).val();
         
 	// alert("option : "+doc_name)


if(doc_name==undefined)
 {
$('.proof_of_address_class').hide();
		  				  		$('.special_class').hide();

 	    $('.passport_class').hide();

 	     	 	    $('.user_defined_document_name').hide();

 }
  else if(doc_name=='Other')
 {

$('.proof_of_address_class').hide();
		  				  		$('.special_class').hide();

 	    $('.passport_class').hide();
 	 	    $('.user_defined_document_name').show();

 }
else if(doc_name=='Passport')
 {
 	 	// alert("option : "+doc_name)
   $('.proof_of_address_class').hide();

    $('.passport_class').show();

  $('.special_class').show();
 	 	    $('.user_defined_document_name').hide();

      // $('.proof_of_address_class').hide();

 }
  else if(doc_name=='Proof of Address')
 {
    $('.passport_class').hide();
		  				  		$('.special_class').hide();
 	 	    $('.user_defined_document_name').hide();

  $('.proof_of_address_class').show();
 } 
    else if(doc_name=='PAN Card')

 {
		  				  		$('.special_class').hide();
 	 	    $('.user_defined_document_name').hide();

 	       $('.proof_of_address_class').hide();

 	    $('.passport_class').show();


  //   $('.span_error').show();

  //      setTimeout(function() {
  //   $('.span_error').fadeOut('fast');
  //   }, 3000);
  // return false;
 }
  else if(doc_name=='Identity Card')

 {
 			  				  		$('.special_class').hide();
 	 	    $('.user_defined_document_name').hide();

 	       $('.proof_of_address_class').hide();


 	       $('.passport_class').show();
}
else if(doc_name=='Driving licence')

 {
		  				  		$('.special_class').hide();
 	 	    $('.user_defined_document_name').hide();

 	       $('.proof_of_address_class').hide();

 	    $('.passport_class').show();

}else if(doc_name=='Utility bills')

 {
  

 	    // $('.driving_lic').hide();
$('.passport_class').hide();
		  				  		$('.special_class').hide();

  $('.proof_of_address_class').show();}
//  else if(doc_name=='Identity Card')

//  {


//  	    $('.passport_class').show();
//  	       $('.proof_of_address_class').hide();
// }
     }
 </script>


<script type="text/javascript">
	
	 setTimeout(function() {
    $('#success_message').fadeOut('fast');
    }, 3000);
    
    setTimeout(function() {
    $('#error_msg').fadeOut('fast');
    }, 3000);
</script>

<!-- ............................................................................................................................................ -->

<script>
    	 function capitalize(str) {
  strVal = '';
  str = str.split(' ');
  for (var chr = 0; chr < str.length; chr++) {
    strVal += str[chr].substring(0, 1).toUpperCase() + str[chr].substring(1, str[chr].length) + ' '
  }
  return strVal
}

function getVerifierList(count){ 


    $('#doc_data').html(" ")
$('.hide_click').hide();
 $('.loader').show();
$.ajax({
        type: "get",
        url: "/get-verifier-list",
        data:{},
        success: function (data) {
            console.log(data);  
            for(var i=0;i<data.length;i++){ 
                if($(`#anchor${i}`).text()!=""){
                    $('.hide_click').show();
                    $('.loader').hide();
                    $('#set-all-permission-Modal').modal();

                }
                else{
                    // var firstname;
                    if(data[i].reflectid_by == 'entity'){
                        var firstname = capitalize(data[i].entity_company_name);
                    }else{
                        var firstname = capitalize(data[i].rep_username);
                    }
                    
                    // alert("firstname "+firstname);
                    $('#verifierDropdown').append(`<a class="dropdown-item" id="anchor${i}" onclick="get_category(${data[i].reflect_id})" href="javascript:void(0)">
                                        <div class="for-verify-box-inner for-pending">
                                             <i class="fas fa-check"></i>
                                            <span class="user-img-verify">
                                                    <img src="admin-assets/images/faces/face1.jpg" alt="image">
                                            </span>
                                            <span class="tooltip fade" data-title="On boarding Pending">
                                                <input type="hidden" class="getId" id="verifier_id${i}" value="${data[i].reg_user_id}-${data[i].reflect_id}">
                                                ${firstname}-${data[i].reflect_code}
                                                <img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
                                            </span>
                                        </div>
                                    </a>`)
                    // $('#set-all-permission-Modal').show();
                    $('.hide_click').show();
                    $('.loader').hide();
                    $('#set-all-permission-Modal').modal();

                }					
            }
        }
    });



}

function get_category(cat_val){
// alert(cat_val);
if(cat_val!=""){
    $.ajax({
        type: "post",
        url: "/get-category-list",
        data:{reflect_id:cat_val},
        success: function (data) {
            console.log(data);  
            $('#category_list').html(data);
        }
    });
}else{
            $('#category_list').html("");
}
}

function get_sub_category(sub_cat_val){
// alert(sub_cat_val);
$("#p_cat_id").val(sub_cat_val)

if(sub_cat_val!=""){
    $.ajax({
        type: "post",
        url: "/get-sub-category-list",
        data:{category_id:sub_cat_val},
        success: function (data) {
            console.log(data);  
            $('#sub_category_list').html(data);
        }
    });
}else{
            $('#sub_category_list').html("");
}
}
     var global_category_id;

function get_requested_doc(category_id){
$("#sub_cat_id").val(category_id)
   global_category_id = category_id;

//    alert(category_id);
if(category_id!=""){
    $.ajax({
        type: "post",
        url: "/get-requested-doc",
        data:{category_id:category_id,verifier_data:'yes'},
        success: function (data) {
            console.log(data);  
            	            	$('.hide_sub').show();

            $('#category_docs').html(data);
        }
    });
}else{
            $('#category_docs').html("");
}
}

function get_check_doc(value,user_doc_id){

// alert(value);
// var user_doc_id = $(`#doc_check${value}`).val();
var user_doc_id = user_doc_id;

var trow = $(`#docRow${value}`).text();
// alert(user_doc_id);
// console.log("user_doc_id",user_doc_id);
if(trow!=""){
    $(`#docRow${value}`).remove();
}else{
$.ajax({
    type: "post",
    url: "/get-checked-doc",
    data:{user_doc_id:user_doc_id,value},
    success: function (data) {
    
        $('#doc_data').append(data);
    }
});
}
}

var rowCount;
	var rowVal=[];
	var download = [];
	var view = [];
	var certify = [];

var self_certify = [];
	var video_proof = [];
	var sign = [];
	var complete = [];
function submit_all_perm(){

	if(getVerifierID!="" || getVerifierID!=undefined){
	//  alert(getVerifierID);
	 
	rowCount = $('table#myTable tr:last').index() + 1;
	//  alert(rowCount);

	var reflect_id = $('#doc_reflect_id').val();
	

	if(rowCount>0)
	{

		if($('input[name="doc_check"]:checked')){
	   	$('#doc_data tr').each(function(index) {
	   		var hidden_val=$(this).find('input[type="hidden"]').val();

	   		rowVal.push(hidden_val);


			   var down_val=$(this).find('input[name="downloadPerm"]:checked').val();
			   var view_val = $(this).find('input[name="viewPerm"]:checked').val();
			   var certify_val = $(this).find('input[name="certifyPerm"]:checked').val();

			   var self_certify_val = $(this).find('input[name="selfCertifyPerm"]:checked').val();
			   var video_proof_val = $(this).find('input[name="videoPerm"]:checked').val();
			   var sign_val = $(this).find('input[name="signPerm"]:checked').val();
			   var complete_val = $(this).find('input[name="completePerm"]:checked').val();

	   		if(down_val==undefined)
	   		{
	   			var dwn_per='no';
	   		}
	   		else
	   		{
	   		   var dwn_per='yes';	
			}
			if(view_val==undefined)
	   		{
	   			var vw_per='no';
	   		}
	   		else
	   		{
	   		   var vw_per='yes';	
			}
			   if(certify_val==undefined)
	   		{
	   			var crt_per='no';
	   		}
	   		else
	   		{
	   		   var crt_per='yes';	
	   		}
			
			if(self_certify_val==undefined)
	   		{
	   			var self_crt_per='no';
	   		}
	   		else
	   		{
	   		   var self_crt_per='yes';	
	   		}

	   		if(video_proof_val==undefined)
	   		{
	   			var vid_pr_val='no';
	   		}
	   		else
	   		{
	   		   var vid_pr_val='yes';	
	   		}

	   		if(complete_val==undefined)
	   		{
	   			var com_per='no';
	   		}
	   		else
	   		{
	   		   var com_per='yes';	
	   		}
	   		if(sign_val==undefined)
	   		{
	   			var sign_per='no';
	   		}
	   		else
	   		{
	   		   var sign_per='yes';	
	   		}
            self_certify.push(self_crt_per)
			video_proof.push(vid_pr_val)
			complete.push(com_per)
			sign.push(sign_per)

	   		download.push(dwn_per);
			view.push(vw_per);
			certify.push(crt_per)
	   	});
		   $('#subPerm').attr('data-toggle', 'modal');
			$('#subPerm').attr('data-target', '#doc-permission-Modal'); 
			$('#subPerm').attr('data-dismiss', 'modal');
	}else if(rowCount<=0){
		$('#prm_error_span').html("Please select atleast one document.");
	}
}
}else{
	$('#prm_error_span').html("Please select verifier.");
}
	
	
		
}



function pin_for_prm(){
	// alert("hellllllllllllll0000");
var otp1=$('#otp1').val();
var otp2=$('#otp2').val();
var otp3=$('#otp3').val();
var otp4=$('#otp4').val();
var otp = otp1+""+otp2+""+otp3+""+otp4;
if(otp1=="" || otp1=="" || otp1=="" || otp1==""){
	// alert(otp);
	// ('.hide_click').show();
 // 	        	$('.loader').hide();
 $('#req_err_prm').html("Please enter valid Pin.");
}else{
// alert(otp);
             $('.hide_click').hide();
 	        	$('.loader').show();
$('#req_err_prm').html("");
	$.ajax({
			type: "post",
			url: "/request-check-pin",
			data:{pin:otp},
			success: function (data) {
				// alert(data);
				if(data.success_data){
                    $('#req_err_prm').html('');
					// alert(data);
					submit_permission();
				}else{
					 // alert(otp);
					 					$('.hide_click').show();

					 	        	$('.loader').hide();

                    $('#req_err_prm').html('Please enter valid Pin');
				}
			}
	})
}
}

function submit_permission(){

	// alert("hiiii");
var reflect_id = $('#doc_reflect_id').val();
var vrfr = getVerifierID.split('-');
	 var vId = vrfr[0];
	 var vRefId = vrfr[1];
	 var p_cat_id1= $("#p_cat_id").val()
	 var sub_cat_id1= $("#sub_cat_id").val()
	 var note =$("#note").val()

	//  alert("vrfr "+vrfr);
	//  alert("vId "+vId);
	//  alert("vRefId "+vRefId);
$.ajax({
    type: "post",
	url:"/request-doc",
	data:{reflect_id:reflect_id,
		download:JSON.stringify(download),
		view:JSON.stringify(view),
		certify:JSON.stringify(certify),
		total_doc:JSON.stringify(rowVal),
		self_certify:JSON.stringify(self_certify),
		video_proof:JSON.stringify(video_proof),
		sign:JSON.stringify(sign),
		complete:JSON.stringify(complete),
		verifier_id:vId,
		verifier_reflect_id:vRefId,
		rowCount:rowCount,
		p_cat_id:p_cat_id1,
		sub_cat_id:sub_cat_id1,
		note:note

    },
    success:function(datas) {
        // alert("[[[[[[[[[[[[[[["+datas);
		
		$('#validate-pin-Modal').modal('hide');
		
		$('#dsuccess-doc-Modal').modal('show');
	}
});

}

var global_reflect_id;
function get_doc_by_myrefletids(reflect_id){

    // alert(reflect_id)
            $('#doc_data').html('');
         // alert(global_reflect_id)
    global_reflect_id = reflect_id;
    
    $('#doc_reflect_id').val(reflect_id);
	 var sub_cat_id= $("#sub_cat_id").val()

	$.ajax({
			type: "post",
			url: "/get-doc-by-myreflectis",
			data:{reflect_id:reflect_id,category_id:global_category_id},
			success: function (data) {
				// alert(data);
				if(data){

                   

                    $('#myreflect_doc').html(data);
				
				}else{
                    console.log(data)
                    // $('#req_err_prm').html('Please enter valid Pin');
				}
			}
	})

}

</script>
<script type="text/javascript">

    var getVerifierID ;
     $(document).on('click', '.menu-for-id a', function() {
         $(this).parent().parent().find("button").html($(this).html()); 
         getVerifierID = $(this).find(".getId").attr("value");
     });
  
     var getIndivVerifierID ;
     $(document).on('click', '.menu-for-id-indiv a', function() {
          $(this).parent().parent().find("button").html($(this).html()); 
             getIndivVerifierID = $(this).find(".getId").attr("value");
     });
  
     var getCheckedVerifierID ;
     $(document).on('click', '.menu-for-id-checked a', function() {
          $(this).parent().parent().find("button").html($(this).html()); 
          getCheckedVerifierID = $(this).find(".getId").attr("value");
     });
  
  </script>
  <script type="text/javascript">
	$('.add_file').click(()=>{
        
        $('.hide_btn').hide();

		$('.loader').show();

	})
	$('.click_eye').click(()=>{
					   // $('.hide_btn').hide();

					   $('.loader-box').show();

   })
   $('.choose_doc_type').click(()=>{

var request_type = $( "input[name='request_type']:checked").val();

//    alert(request_type)
	if(request_type==undefined){
	  $('.span_text').html('*Please select any document type')
	  return false;
	}   
	else if(request_type=='master'){
	  $('.master_doc').show();
	  $('.user_defined_document_name').hide();
	}
	else if(request_type=='other')
	{
		$('.master_doc').hide();

				$('.user_defined_document_name').show();


	}
})
function check_type(){
var request_type = $( "input[name='request_type']:checked").val();

// alert('getClientId : '+getClientId)

$('.span_text').html('')
$('.span_client_text').html('')


if(request_type==undefined){
	$('.hide_click').show();

	  $('.span_text').html('*Please select any document type')
	  return false;
	} 
	if(getClientId==undefined){
	$('.hide_click').show();

	  $('.span_client_text').html('*Please select any client')
	  return false;
	} else{
		$('.span_text').html('')

		$('.span_client_text').html('')

		return true;
	}

	
}


// function check_client(){
// // var client = $( "input[name='request_type']:checked").val();

// if(getVerifierID==undefined){
// 	$('.hide_click').show();

// 	  $('.span_client_text').html('*Please select any client')
// 	  return false;
// 	} else{
// 		$('.span_client_text').html('')

// 		return true;
// 	}
// }
</script>