<%-include('../innerHeader')%>


<section class="heading-sec">
	<div class="container">
		<div class="row align-item-center">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="main-heading-dash">
					<img src="../assets/images/icons/createidentity-assets/create-myreflet.png">
					<h4>Create MyReflet ID Code</h4>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="setup-id-sec">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="white-box">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 m-auto">
							<div class="setup-inner-box for-protact">
								<div class="create-rflet-id-form">
									<div class="input-group for-radio-check-id-as">
									  <input type="text" class="form-control" readonly placeholder="You are Creating ID as an">
									  <div class="input-group-append">
									    <span class="input-group-text">
									    	 <div class="radio">
												<label>
													<input type="radio" name="o1"  value="entity" onclick="entityLink()">
													<span class="cr"><i class="cr-icon fa fa-circle"></i></span>Entity
															<!-- <a href='/entity?wallet_id=<%=wallet_id%>&reflect_code=<%=reflect_code%>'>Entity</a> -->
												  </label>
									        </div>
									         <div class="radio">
									          <label>
									            <input type="radio" name="o1" class="representative" value="representative" checked>
									            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
									            Representative
									          </label>
									        </div>
									        <div class="radio text-left">
									          <label style="justify-content: flex-end;">
									            <input type="radio" name="o1" class="for-new-check" value="digitalWallet">
									            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
									            Digital Wallet
									          </label>
									        </div>
									    </span>
									  </div>
									</div>

									 
   

									
								  <!-- <div class="for-entity">  -->
								    <!-- <div class="input-group">
									  <input type="text" class="form-control" readonly="readonly" name="reflectcode" placeholder="MyReflet Code">
									  <div class="input-group-append">
									    <span class="input-group-text">
									    	<img src="../assets/images/icons/createidentity-assets/create-myreflet.png">
									    </span>
									  </div>
									</div> -->
									<!-- <div class="input-group">
									  <input type="text" class="form-control" name="company_name" placeholder="Company Name">
									  <div class="input-group-append">
									    <span class="input-group-text">
									    	<img src="../assets/images/icons/createidentity-assets/user.png">
									    </span>
									  </div>
									</div> -->
									<!-- <div class="input-group">
									  <input type="email" class="form-control" name="company_mail" placeholder="Company Email ID">
									  <div class="input-group-append">
									    <span class="input-group-text">
									    	<img src="../assets/images/icons/createidentity-assets/email.png">
									    </span>
									  </div>
									</div> -->
								 <!-- </div>	 -->
								  <div class="for-representative representative box"> 
								  	<form action="/submit-myreflect-code" method="POST" id="form_reflect_id">
								  		<div class="form-group">
								  			<label>MyReflet Username</label>
										    <div class="input-group">
											  <input type="text" class="form-control" name="reflect_username" placeholder="MyReflet Username" data-rule-required="true" data-msg-required="Please enter username." maxlength="40">
											  <div class="input-group-append">
											    <span class="input-group-text">
											    	<img src="../assets/images/icons/createidentity-assets/create-myreflet.png">
											    </span>
											  </div>
											</div>
								  		</div>
								  		<div class="form-group">
								  			<label>Wallet Name</label>
											<div class="input-group">
												<input type="text" class="form-control" name="wallet_name" placeholder="Wallet Name">
												<div class="input-group-append">
												  <span class="input-group-text">
													  <img src="../assets/images/icons/createidentity-assets/create-myreflet.png">
												  </span>
												</div>
											  </div>
											</div>
											<div class="form-group">
								  			<label>First Name</label>
												<div class="input-group">
												  <input type="text" class="form-control" name="firstname" placeholder="First Name" data-rule-required="true" data-msg-required="Please enter first name." maxlength="40">
												  <div class="input-group-append">
												    <span class="input-group-text">
												    	<img src="../assets/images/icons/createidentity-assets/user.png">
												    </span>
												  </div>
												</div>
											</div>
											<div class="form-group">
								  			<label>Last Name</label>
											<div class="input-group">
											  <input type="text" class="form-control" name="lastname" placeholder="Last Name" data-rule-required="true" data-msg-required="Please enter last name." maxlength="40">
											  <div class="input-group-append">
											    <span class="input-group-text">
											    	<img src="../assets/images/icons/createidentity-assets/user.png">
											    </span>
											  </div>
											</div>
										</div>
										<div class="form-group">
								  			<label>Last Name</label>
											<div class="input-group">
											  <input type="email" class="form-control" name="mail_id" value="<%=decrypt(email)%>" readonly="readonly">
											  <div class="input-group-append">
											    <span class="input-group-text">
											    	<img src="../assets/images/icons/createidentity-assets/email.png">
											    </span>
											  </div>
											</div>
										</div>

										    <input type="hidden" name="wallet_id" value="<%=wallet_id%>">
			                                <input type="hidden" name="reflect_code" value="<%=reflect_code%>">
											<div class="private-key-copy-box">
												<button type="submit" id="submit_reflect_id" class="btn-common-new  hide_btn">Create myreflet id code</button>
												<center><span class="loader"><img src="../assets/images/loader-3.gif"height="32" width="52"></span></center> 
											</div>
									</form>
								 </div>
								




								 <div class="for-new-btn for-new-check box" style="display: none;"> 
								    <form action="/submit-create-digital-wallet" method="POST" id="digitalWalletId">	
										<div class="input-group">
											<input type="text" class="form-control" name="wallet_name" placeholder="Wallet Name"
											data-rule-required="true" data-msg-required="Please wallet name." maxlength="40">
											<div class="input-group-append">
											  <span class="input-group-text">
												  <img src="../assets/images/icons/createidentity-assets/create-myreflet.png">
											  </span>
											</div>
										  </div>
										<div class="input-group">
										  <input type="text" class="form-control" name="property_name" placeholder="Property Name" data-rule-required="true" data-msg-required="Please enter property name." maxlength="40">
										  <div class="input-group-append">
										    <span class="input-group-text">
										    	<img src="../assets/images/icons/createidentity-assets/user.png">
										    </span>
										  </div>
										</div>

										

										<input type="hidden" name="wallet_id" value="<%=wallet_id%>">
										<input type="hidden" name="reflect_code" value="<%=reflect_code%>">
										<div class="private-key-copy-box">
											<button type="submit" id="digital-submit-btn"  class="btn-common-new">Submit</button>
										</div>
								    </form>
								 </div>

								</div>
                                
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- <div>
        <label><input type="radio" name="colorRadio" value="red"> red</label>
        <label><input type="radio" name="colorRadio" value="green"> green</label>
        <label><input type="radio" name="colorRadio" value="blue"> blue</label>
    </div>
    <div class="red box">You have selected <strong>red radio button</strong> so i am here</div>
    <div class="green box">You have selected <strong>green radio button</strong> so i am here</div>
    <div class="blue box">You have selected <strong>blue radio button</strong> so i am here</div> -->



<%- include('../innerFooter')%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
	$('#form_reflect_id').validate({
		 onfocusout: function(element) {
		 this.element(element);
		 },
		 errorClass: 'error_validate',
		 errorElement:'span',
		 highlight: function(element, errorClass) {
		 $(element).removeClass(errorClass);
		 },
		 submitHandler:function(form)
			{
				create_code ()
			  $('#submit_reflect_id').attr('disabled',true);
			  
			  form.submit();
			}
		 });


		 $('#digitalWalletId').validate({
		 onfocusout: function(element) {
		 this.element(element);
		 },
		 errorClass: 'error_validate',
		 errorElement:'span',
		 highlight: function(element, errorClass) {
		 $(element).removeClass(errorClass);
		 },
		 submitHandler:function(form)
			{
			  $('#digital-submit-btn').attr('disabled',true);
			  form.submit();
			}
		 });
</script>
<script>
        setTimeout(function() {
        $('#message').fadeOut('fast');
        }, 3000);
        </script>
<script>
	function entityLink(){
		var url = new URL( window.location.origin);
		// alert(url)
		window.location.href =`${url}entity?wallet_id=<%=wallet_id%>&reflect_code=<%=reflect_code%>`
	}
	</script>
<script>
	$(document).ready(function(){
    $('.loader').hide()

	    $('input[type="radio"]').click(function(){
			var inputValue = $(this).attr("class");
			// alert(inputValue)
			var targetBox = $("." + inputValue);
			
	        $(".box").not(targetBox).hide();
	        $(targetBox).show();
	    });
	});
	</script>
 <script type="text/javascript">
	function create_code (){
						$('.hide_btn').hide();

		                $('.loader').show();

	}
	 setTimeout(function() {
						    $('.flash_msg').fadeOut('fast');
							}, 3000);
</script>	