<%- include('../innerHeader.ejs')%>


<section class="id-code-box-sec" >
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				

			    <div class="personal-info-heading">
					<div class="row align-item-center">
						<div class="col-md-8">
							<h4 class="purple-heading">Company Information</h4>
						</div>
						<div class="col-md-4">
							<div class="text-right">
									<a href="javascript:downloadAdditional()" class="nodata">
											<div class="icon-for-dwnload">
												<div class="tooltip fade" data-title="Export Data">
													<img src="../assets/images/icons/dashboard-assets/export.png">
													 <img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
												</div>
												
											</div>
										</a>
								<a class="nodata" id="" onclick="printdiv()">
									<div class="icon-for-dwnload">
										<div class="tooltip fade" data-title="Print Data">
											<img src="../assets/images/icons/dashboard-assets/print.png">
										    <img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="personal-info-box table-responsive" id="companycontent">
						<table class="table" id="myTable">
						  <thead>
							<tr>
							  <th scope="col">Label</th>
							  <th scope="col">Content</th>
							  <th scope="col">Create Date</th>
							  <th scope="col">Action</th>
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <th scope="row">
								  <div class="for-flex-align">
									  <img src="../assets/images/icons/dashboard-assets/company.png">
									  Company Name
								  </div>
							  </th>
							  <%if(myreflectEntityData.entity_company_name!=null){%>
								<td> <%=myreflectEntityData.entity_company_name%></td>

							   <%}else{%>
								<td>Not Available</td>

								<%}%>
							  <td><%=moment(myreflectEntityData.createdAt).format('MMM DD, YYYY')%></td>
							  <td>
								  <div>
									  <a href="" data-toggle="modal" data-target="#company-name-Modal">
										  <img src="../assets/images/icons/dashboard-assets/edit.png">
									  </a>
								  </div>
							  </td>
							</tr>
							 <tr>
							  <th scope="row">
								  <div class="for-flex-align">
									  <img src="../assets/images/icons/dashboard-assets/companyregistration.png">
									  Company Registration Number
								  </div>
							  </th>
							  <%if(myreflectEntityData.entity_company_regno!=null){%>
								<td><%=myreflectEntityData.entity_company_regno%></td>

							   <%}else{%>
								<td>Not Available</td>

								<%}%>
							  <td><%=moment(myreflectEntityData.createdAt).format('MMM DD, YYYY')%></td>
							  <td>
								  <div>
									  <a href="" data-toggle="modal" data-target="#registration-no-Modal">
										<img src="../assets/images/icons/dashboard-assets/edit.png">
									  </a>
								  </div>
							  </td>
							</tr>
							 <tr>
							  <th scope="row">
								  <div class="for-flex-align">
									  <img src="../assets/images/icons/dashboard-assets/verified-emailID.png">
									  Company Email ID
								  </div>
							  </th>
							   <%if(myreflectEntityData.entity_company_emailid!=null){
								   console.log(myreflectEntityData.entity_company_emailid)%>
								
								<td><%=myreflectEntityData.entity_company_emailid%></td>

							   <%}else{%>
								<td>Not Available</td>

								<%}%>

							  <td><%=moment(myreflectEntityData.createdAt).format('MMM DD, YYYY')%></td>
							  <td>
								  <div>
									  <a href="" data-toggle="modal" data-target="#company-email-Modal">
										<img src="../assets/images/icons/dashboard-assets/edit.png">
									  </a>
								  </div>
							  </td>
							</tr>
							 <tr>
							  <th scope="row">
								  <div class="for-flex-align">
									  <img src="../assets/images/icons/dashboard-assets/DOB.png">
									  Date of Incorporation
								  </div>
							  </th>
							  <%if(myreflectEntityData.entity_dateof_incorporation!=null){%>
								<td>
									<%=moment(myreflectEntityData.entity_dateof_incorporation).format('MMM DD, YYYY')%>
								</td>

							   <%}else{%>
								<td>Not Available</td>

								<%}%>
							  <td><%=moment(myreflectEntityData.createdAt).format('MMM DD, YYYY')%></td>
							  <td>
								  <div>
									  <a href="" data-toggle="modal" data-target="#date-incorpo-Modal">
										<img src="../assets/images/icons/dashboard-assets/edit.png">
									  </a>
								  </div>
							  </td>
							</tr>
							 <tr>
							  <th scope="row">
								  <div class="for-flex-align">
									  <img src="../assets/images/icons/dashboard-assets/country.png">
									  Country
								  </div>
							  </th>
							  <%if(myreflectEntityData.entity_company_country!=null){%>
								<td><%=myreflectEntityData.entity_company_country%></td>

							   <%}else{%>
								<td>Not Available</td>

								<%}%>
							  <td><%=moment(myreflectEntityData.createdAt).format('MMM DD, YYYY')%></td>
							  <td>
								  <div>
									  <a href="" data-toggle="modal" data-target="#country-name-Modal">
										<img src="../assets/images/icons/dashboard-assets/edit.png">
									  </a>
								  </div>
							  </td>
							</tr>
							 <tr>
							  <th scope="row">
								  <div class="for-flex-align">
									  <img src="../assets/images/icons/dashboard-assets/address.png">
									  Address 
								  </div>
							  </th>
							  <%if(myreflectEntityData.entity_company_address!=null){%>
								<td><%=myreflectEntityData.entity_company_address%></td>

							   <%}else{%>
								<td>Not Available</td>

								<%}%>
							  <td><%=moment(myreflectEntityData.createdAt).format('MMM DD, YYYY')%></td>
							  <td>
								  <div>
									  <a href="" data-toggle="modal" data-target="#address-Modal">
										<img src="../assets/images/icons/dashboard-assets/edit.png">
									  </a>
									  <span class="tooltip fade" data-title="Your email is verified.">
										  <img class="tooltip-inner-img" src="../assets/images/icons/dashboard-assets/verified.png" >
										  <img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
									  </span>
									  
								  </div>
							  </td>
							</tr>
							  <tr>
							  <th scope="row">
								  <div class="for-flex-align">
									  <img src="../assets/images/icons/dashboard-assets/phone.png">
									  Phone Number
								  </div>
							  </th>
							  <%if(myreflectEntityData.entity_company_phoneno!=null){%>
								<td><%=myreflectEntityData.entity_company_phoneno%></td>

							   <%}else{%>
								<td>Not Available</td>

								<%}%>
							  <td><%=moment(myreflectEntityData.createdAt).format('MMM DD, YYYY')%></td>
							   <td>
								  <div>
									  <a href="" data-toggle="modal" data-target="#phone-no-Modal">
										<img src="../assets/images/icons/dashboard-assets/edit.png">
									  </a>
									  <a href="" data-toggle="modal" data-target="#phone-not-verified-Modal">
										  <span class="tooltip fade" data-title="Your phone number is not verified. Click here to verify.">
											  <img class="tooltip-inner-img" src="../assets/images/icons/dashboard-assets/verificationpending.png" >
											  <img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
										  </span>
									  </a>
									  
									  
								  </div>
							  </td>
							</tr>
						  </tbody>
						</table>
					</div>

				 <div class="personal-info-heading" id="additionalcontent">
					<div class="row align-item-center">
						<div class="col-xl-10 cl-lg-9 col-md-9">
							<ul class="nav nav-tabs all-doc-tabs" id="myTab" role="tablist">
							  <li class="nav-item">
							    <a class="nav-link active" id="doc1" data-toggle="tab" href="#doc-tab1" role="tab" aria-controls="doc-tab1" aria-selected="true">All Documents</a>
							  </li>
							  <li class="nav-item">
							    <a class="nav-link" id="doc2" data-toggle="tab" href="#doc-tab2" role="tab" aria-controls="doc-tab2" aria-selected="false">Certified Documents</a>
							  </li>
							  <li class="nav-item">
							    <a class="nav-link" id="doc3" data-toggle="tab" href="#doc-tab3" role="tab" aria-controls="doc-tab3" aria-selected="false">Self Attested Documents</a>
							  </li>
							 
							</ul>
						</div>
						<div class="col-xl-2 col-lg-3 col-md-3">
							<div class="text-right">
									<a href="javascript:downloadDocDiv()" class="nodata">
											<div class="icon-for-dwnload">
												<div class="tooltip fade" data-title="Export Data">
													<img src="../assets/images/icons/dashboard-assets/export.png">
													 <img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
												</div>
												
											</div>
										</a>
								<a class="nodata" id="" onclick="printDocdiv()">
									<div class="icon-for-dwnload">
										<div class="tooltip fade" data-title="Print Data">
											<img src="../assets/images/icons/dashboard-assets/print.png">
										    <img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>

				
				<div class="tab-content" id="doc_div" >
					<div class="tab-pane fade show active" id="doc-tab1" role="tabpanel" aria-labelledby="doc1">
						<div class="btn-all-dwnload">
						  <a href=""><img src="../assets/images/icons/dashboard-assets/upload-purple.png"> Upload</a>
						  <a href=""><img src="../assets/images/icons/dashboard-assets/download-purple.png"> Download</a>
						  <a href=""><img src="../assets/images/icons/dashboard-assets/set-docs-permission-purple.png"> Set Document Permission</a>
						  <a href=""><img src="../assets/images/icons/dashboard-assets/selfattest-purple.png"> Self Attest</a>
					  </div>
						 <div class="personal-info-box table-responsive">
						  <table class="table" id="myTable3">
							<thead>
							  <tr>
								<th scope="col">Label</th>
								<th scope="col">Content</th>
								<th scope="col">ID Number</th>
								<th scope="col">Expiry Date</th>
								<th scope="col">Create Date</th>
								<th scope="col">Action</th>
							  </tr>
							</thead>
							<tbody>
                                    <%DocData.forEach(doc_data=>{
										var i=0;%>

							
							  <tr id="tr_of_table">
								<th scope="row">
									<div class="for-flex-align">
										 <div class="checkbox">
										<label>
										  <input type="checkbox" value="">
										  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
										  <!-- Letter of Incorpration -->
										  <%=doc_data.dataValues.tbl_documents_master.document_name%>
										</label>
									  </div>
									  
									</div>
								</th> 
								<td>
									<div class="doc-img">
										<img src="https://ipfs.io/ipfs/<%=doc_data.dataValues.document_filename%>">
									</div>
								</td>
								<td><%=doc_data.dataValues.doc_unique_code%></td>
								<td>
									<%=moment(doc_data.dataValues.expire_date).format('MMM DD, YYYY')%>
								</td>
								<td>
									<%=moment(doc_data.dataValues.expire_date.createdAt).format('MMM DD, YYYY')%>
								</td>
								<td>
									
									<div class="dropdown-menu-new">
									  <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
										<div class="doc-img">
												<img src="../assets/images/icons/dashboard-assets/menu.png">
											</div>
									  </a>
									  <div class="dropdown-menu" aria-labelledby="profileDropdown">
										<a class="dropdown-item" href="" data-toggle="modal" data-target="#upload-doc-Modal<%=i%>"><img src="../assets/images/icons/dashboard-assets/upload.png"> Upload</a>
										<a class="dropdown-item"  href="javascript:void(0)" onclick="downloaddoclist()"><img src="../assets/images/icons/dashboard-assets/download.png"> Download</a>
										  <a class="dropdown-item" href="" data-toggle="modal" data-target="#set-docs-permission-Modal"><img src="../assets/images/icons/dashboard-assets/set-docs-permission.png"> Set Document Permission</a>
										  <a class="dropdown-item" href="" data-toggle="modal" data-target="#self-attested-Modal"><img src="../assets/images/icons/dashboard-assets/self-attest.png"> Self Attest</a>	
									  </div>
								   </div>
								</td>
							  </tr>
			<%})%>
							  <!-- <tr>
								<th scope="row">
									<div class="for-flex-align">
										 <div class="checkbox">
										<label>
										  <input type="checkbox" value="">
										  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
											 Company Addendum 
										</label>
									  </div>
									  
									</div>
								</th>
								<td>
									<div class="doc-img">
										<a href="" data-toggle="modal" data-target="#doc-img-Modal">
											<img src="../assets/images/icons/dashboard-assets/doc.png">
										</a>
									</div>
								</td>
								<td>-</td>
								<td>-</td>
								<td>jun 28, 2020</td>
								<td>
									
									<div class="dropdown-menu-new">
									  <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
										<div class="doc-img">
												<img src="../assets/images/icons/dashboard-assets/menu.png">
											</div>
									  </a>
									  <div class="dropdown-menu" aria-labelledby="profileDropdown">
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/upload.png"> Upload</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/download.png"> Download</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/set-docs-permission.png"> Set Document Permission</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/self-attest.png"> Self Attest</a>	
									  </div>
								   </div>
								</td>
							  </tr>
							  <tr>
								<th scope="row">
									<div class="for-flex-align">
										 <div class="checkbox">
										<label>
										  <input type="checkbox" value="">
										  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
											 Company License
										</label>
									  </div>
									  
									</div>
								</th>
								<td>
									<div class="doc-img">
										<img src="../assets/images/icons/dashboard-assets/doc.png">
									</div>
								</td>
								<td>-</td>
								<td>-</td>
								<td>jun 28, 2020</td>
								<td>
									
									<div class="dropdown-menu-new">
									  <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
										<div class="doc-img">
												<img src="../assets/images/icons/dashboard-assets/menu.png">
											</div>
									  </a>
									  <div class="dropdown-menu" aria-labelledby="profileDropdown">
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/upload.png"> Upload</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/download.png"> Download</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/set-docs-permission.png"> Set Document Permission</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/self-attest.png"> Self Attest</a>	
									  </div>
								   </div>
								</td>
							  </tr>
							  <tr>
								<th scope="row">
									<div class="for-flex-align">
										 <div class="checkbox">
										<label>
										  <input type="checkbox" value="">
										  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
										  Address Proof
										</label>
									  </div>
									  
									</div>
								</th>
								<td>
									-
								</td>
								<td>-</td>
								<td>-</td>
								<td>-</td>
								<td>
									
									<div class="dropdown-menu-new">
									  <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
										<div class="doc-img">
												<img src="../assets/images/icons/dashboard-assets/menu.png">
											</div>
									  </a>
										<div class="dropdown-menu" aria-labelledby="profileDropdown">
										  <a class="dropdown-item" href="" data-toggle="modal" data-target="#upload-doc-Modal"><img src="../assets/images/icons/dashboard-assets/upload.png"> Upload</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/download.png"> Download</a>
										  <a class="dropdown-item" href="" data-toggle="modal" data-target="#set-docs-permission-Modal"><img src="../assets/images/icons/dashboard-assets/set-docs-permission.png"> Set Document Permission</a>
										  <a class="dropdown-item" href="" data-toggle="modal" data-target="#self-attested-Modal"><img src="../assets/images/icons/dashboard-assets/self-attest.png"> Self Attest</a>	
									  </div>
								   </div>
								</td>
							  </tr>
   -->
							  
							</tbody>
						  </table>
					   </div>
					   <div class="text-center btn-set-doc">
						   <div class="row">
							   <div class="col-xl-4 offset-xl-2 col-lg-6 col-md-6 col-sm-6">
								   <a href="" data-toggle="modal" data-target="#set-all-permission-Modal"   class="btn-common-new">set documents permission</a>
							   </div>
							   <div class="col-xl-4  col-lg-6 col-md-6 col-sm-6">
								   <a href="" data-toggle="modal" data-target="#add-new-doc-Modal" class="btn-common-new">add new document</a>
							   </div>
						   </div>
						   
						   
					   </div>
					</div>
					<div class="tab-pane fade" id="doc-tab2" role="tabpanel" aria-labelledby="doc2">
  
						<div class="btn-all-dwnload">
						  <a href=""><img src="../assets/images/icons/dashboard-assets/download-purple.png"> Download Attested Document</a>
						  <a href=""><img src="../assets/images/icons/dashboard-assets/cancel-purple.png"> Cancel</a>
					  </div>
						<div class="personal-info-box table-responsive">
						  <table class="table" id="myTable3">
							<thead>
							  <tr>
								<th scope="col">Label</th>
								<th scope="col">Verifier</th>
								<th scope="col">Code</th>
								<th scope="col">Transaction ID</th>
								<th scope="col">Status</th>
								<th scope="col">Action</th>
							  </tr>
							</thead>
							<tbody>
							  <tr>
								<th scope="row">
									<div class="for-flex-align">
										 <div class="checkbox">
										<label>
										  <input type="checkbox" value="">
										  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
										  Driving License
										</label>
									  </div>
									</div>
								</th>
								<td>
									Heena Chawla
								</td>
								<td>WC-1012</td>
								<td width="20%">43b3v3vh3vh3jvh63vh3vhvh63v6h6vh3v63v63v63v63v3v6v3vjv33</td>
								<td>
									<div class="pending-status">Pending</div>
								</td>
								<td>
									
									<div class="dropdown-menu-new">
									  <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
										<div class="doc-img">
												<img src="../assets/images/icons/dashboard-assets/menu.png">
											</div>
									  </a>
									  <div class="dropdown-menu" aria-labelledby="profileDropdown">
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/view.png"> View Attested Document</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/download.png"> Download Attested Document</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/cancel.png"> Cancel</a>
									  </div>
								   </div>
								</td>
							  </tr>
							  <tr>
								<th scope="row">
									<div class="for-flex-align">
										 <div class="checkbox">
										<label>
										  <input type="checkbox" value="">
										  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
											 Utility Bill 
										</label>
									  </div>
									</div>
								</th>
								
								<td>
									Heena Chawla
								</td>
								<td>WC-1012</td>
								<td width="20%">43b3v3vh3vh3jvh63vh3vhvh63v6h6vh3v63v63v63v63v3v6v3vjv33</td>
								<td>
									<div class="approved-status">Approved</div>
								</td>
								<td>
									
									<div class="dropdown-menu-new">
									  <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
										<div class="doc-img">
												<img src="../assets/images/icons/dashboard-assets/menu.png">
											</div>
									  </a>
									  <div class="dropdown-menu" aria-labelledby="profileDropdown">
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/view.png"> View Attested Document</a>
										   <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/set-docs-permission.png"> Set Document Permission</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/download.png"> Download Attested Document</a>
									  </div>
								   </div>
								</td>
							  </tr>
							  <tr>
								<th scope="row">
									<div class="for-flex-align">
										 <div class="checkbox">
										<label>
										  <input type="checkbox" value="">
										  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
											 Passport
										</label>
									  </div>
									</div>
									
								</th>
								<td>
									Heena Chawla
								</td>
								<td>-</td>
								<td>-</td>
								<td>-</td>
								<td>
									
									<div class="dropdown-menu-new">
									  <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
										<div class="doc-img">
												<img src="../assets/images/icons/dashboard-assets/menu.png">
											</div>
									  </a>
									  <div class="dropdown-menu" aria-labelledby="profileDropdown">
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/upload.png"> Upload</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/download.png"> Download</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/set-docs-permission.png"> Set Document Permission</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/self-attest.png"> Self Attest</a>	
									  </div>
								   </div>
								</td>
							  </tr>
							  <tr>
								<th scope="row">
									<div class="for-flex-align">
										 <div class="checkbox">
										<label>
										  <input type="checkbox" value="">
										  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
											 Photo Identification
										</label>
									  </div>
									</div>
									
								</th>
								<td>
									-
								</td>
								<td>-</td>
								<td>-</td>
								<td>-</td>
								<td>
									
									<div class="dropdown-menu-new">
									  <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
										<div class="doc-img">
												<img src="../assets/images/icons/dashboard-assets/menu.png">
											</div>
									  </a>
									  <div class="dropdown-menu" aria-labelledby="profileDropdown">
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/upload.png"> Upload</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/download.png"> Download</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/set-docs-permission.png"> Set Document Permission</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/self-attest.png"> Self Attest</a>	
									  </div>
								   </div>
								</td>
							  </tr>
  
							  
							</tbody>
						  </table>
					   </div>
					</div>
					 <div class="tab-pane fade" id="doc-tab3" role="tabpanel" aria-labelledby="doc3">
						   <div class="btn-all-dwnload">
						  <a href=""><img src="../assets/images/icons/dashboard-assets/download-purple.png"> Download Attested Document</a>
						  <a href=""><img src="../assets/images/icons/dashboard-assets/cancel-purple.png"> Cancel</a>
					  </div>
						   <div class="personal-info-box table-responsive">
						  <table class="table" id="myTable3">
							<thead>
							  <tr>
								<th scope="col">Label</th>
								<th scope="col">Verifier</th>
								<th scope="col">Code</th>
								<th scope="col">Transaction ID</th>
								<th scope="col">Status</th>
								<th scope="col">Action</th>
							  </tr>
							</thead>
							<tbody>
							  <tr>
								<th scope="row">
									<div class="for-flex-align">
										 <div class="checkbox">
										<label>
										  <input type="checkbox" value="">
										  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
										  Driving License
										</label>
									  </div>
									</div>
								</th>
								<td>
									Heena Chawla
								</td>
								<td>WC-1012</td>
								<td width="20%">43b3v3vh3vh3jvh63vh3vhvh63v6h6vh3v63v63v63v63v3v6v3vjv33</td>
								<td>
									<div class="pending-status">Pending</div>
								</td>
								<td>
								
									<div class="dropdown-menu-new">
									  <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
										<div class="doc-img">
												<img src="../assets/images/icons/dashboard-assets/menu.png">
											</div>
									  </a>
									  <div class="dropdown-menu" aria-labelledby="profileDropdown">
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/view.png"> View Attested Document</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/download.png"> Download Attested Document</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/cancel.png"> Cancel</a>
									  </div>
								   </div>
								</td>
							  </tr>
							  <!-- <tr>
								<th scope="row">
									<div class="for-flex-align">
										 <div class="checkbox">
										<label>
										  <input type="checkbox" value="">
										  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
											 Utility Bill 
										</label>
									  </div>
									</div>
								</th>
								
								<td>
									Heena Chawla
								</td>
								<td>WC-1012</td>
								<td width="20%">43b3v3vh3vh3jvh63vh3vhvh63v6h6vh3v63v63v63v63v3v6v3vjv33</td>
								<td>
									<div class="approved-status">Approved</div>
								</td>
								<td>
									
									<div class="dropdown-menu-new">
									  <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
										<div class="doc-img">
												<img src="../assets/images/icons/dashboard-assets/menu.png">
											</div>
									  </a>
									  <div class="dropdown-menu" aria-labelledby="profileDropdown">
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/view.png"> View Attested Document</a>
										   <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/set-docs-permission.png"> Set Document Permission</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/download.png"> Download Attested Document</a>
									  </div>
								   </div>
								</td>
							  </tr>
							  <tr>
								<th scope="row">
									<div class="for-flex-align">
										 <div class="checkbox">
										<label>
										  <input type="checkbox" value="">
										  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
											 Passport
										</label>
									  </div>
									</div>
									
								</th>
								<td>
									Heena Chawla
								</td>
								<td>-</td>
								<td>-</td>
								<td>-</td>
								<td>
								
									<div class="dropdown-menu-new">
									  <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
										<div class="doc-img">
												<img src="../assets/images/icons/dashboard-assets/menu.png">
											</div>
									  </a>
									  <div class="dropdown-menu" aria-labelledby="profileDropdown">
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/upload.png"> Upload</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/download.png"> Download</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/set-docs-permission.png"> Set Document Permission</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/self-attest.png"> Self Attest</a>	
									  </div>
								   </div>
								</td>
							  </tr>
							  <tr>
								<th scope="row">
									<div class="for-flex-align">
										 <div class="checkbox">
										<label>
										  <input type="checkbox" value="">
										  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
											 Photo Identification
										</label>
									  </div>
									</div>
									
								</th>
								<td>
									-
								</td>
								<td>-</td>
								<td>-</td>
								<td>-</td>
								<td>
									
									<div class="dropdown-menu-new">
									  <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
										<div class="doc-img">
												<img src="../assets/images/icons/dashboard-assets/menu.png">
											</div>
									  </a>
									  <div class="dropdown-menu" aria-labelledby="profileDropdown">
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/upload.png"> Upload</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/download.png"> Download</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/set-docs-permission.png"> Set Document Permission</a>
										  <a class="dropdown-item" href=""><img src="../assets/images/icons/dashboard-assets/self-attest.png"> Self Attest</a>	
									  </div>
								   </div>
								</td>
							  </tr> -->
  
							  
							</tbody>
						  </table>
					   </div>
					 </div>
				  </div>
			</div>			
		</div>
	</div>
</section>



<!-- Modal -->
<div class="modal fade field-edit-modal" id="company-name-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<form action="/submit_myreflect_entity" method="POST" id="company-form-id">

		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-body">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			  <div class="create-wallet-box">
				  <div class="row align-item-center">
					  <div class="col-xl-2 col-lg-3 col-md-3">
						  <div>
							  <img src="../assets/images/icons/createidentity-assets/popup-company-icon.png">
						  </div>
					  </div>
					  <div class="col-xl-7 col-lg-7 col-md-7">
						  <h5 class="heading-purple">Update Information</h5>
					  </div>
				  </div>
				  <div class="row">
					  <div class="col-xl-12 col-lg-12 col-md-12 m-auto">
						  <div class="setup-inner-box for-protact">
							  <div class="create-rflet-id-form">
								  <div class="form-group">
									  <label>Label</label>
									  <div class="input-group">
										<input type="text" class="form-control" readonly placeholder="Company Name" value="Company Name">
										<div class="input-group-append">
										  <span class="input-group-text">
											  <img src="../assets/images/icons/dashboard-assets/company.png">
										  </span>
										</div>
									  </div>
								  </div>
								  <div class="form-group">
									  <div class="input-group">
										<input type="text" class="form-control" name="company_name" placeholder="Content" data-rule-required="true" data-msg-required="Please enter company name.">
										<input type="hidden" name="reflect_id" value="<%=reflect_id%>">

										<div class="input-group-append">
										  <span class="input-group-text">
											  <img src="../assets/images/icons/dashboard-assets/company.png">
										  </span>
										</div>
									  </div>
								  </div>
							  </div>
							  <div >
									<button class="btn-common-new" type="submit" id="com-name-btn">Save</button>
							
									<a class="btn-common-new"  data-dismiss="modal" href="">Cancel</a>
							  </div>
						  </div>
					  </div>
				   </div>
				 </div>
			 </div>
		  </div>
		</div>
		</form>
	  </div>
	  
	  
	  <div class="modal fade field-edit-modal" id="registration-no-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<form action="/submit_myreflect_entity" method="POST" id="reg-no-form-id">

		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-body">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			  <div class="create-wallet-box">
				  <div class="row align-item-center">
					  <div class="col-xl-2 col-lg-3 col-md-3">
						  <div>
							  <img src="../assets/images/icons/createidentity-assets/popup-company-icon.png">
						  </div>
					  </div>
					  <div class="col-xl-7 col-lg-7 col-md-7">
						  <h5 class="heading-purple">Update Information</h5>
					  </div>
				  </div>
				  <div class="row">
					  <div class="col-xl-12 col-lg-12 col-md-12 m-auto">
						  <div class="setup-inner-box for-protact">
							  <div class="create-rflet-id-form">
								  <div class="form-group">
									  <label>Label</label>
									  <div class="input-group">
										<input type="text" class="form-control" readonly placeholder="Company Registration Number" value="Company Registration Number">
										<div class="input-group-append">
										  <span class="input-group-text">
											  <img src="../assets/images/icons/dashboard-assets/companyregistration.png">
										  </span>
										</div>
									  </div>
								  </div>
								  <div class="form-group">
									  <div class="input-group">
										<input type="text" class="form-control" name="registration_No" placeholder="Content" data-rule-required="true" data-msg-required="Please enter registration number.">
										<input type="hidden" name="reflect_id" value="<%=reflect_id%>">

										<div class="input-group-append">
										  <span class="input-group-text">
											  <img src="../assets/images/icons/dashboard-assets/companyregistration.png">
										  </span>
										</div>
									  </div>
								  </div>
							  </div>
							  <div >
									<button class="btn-common-new" type="submit" id="reg-no-btn">Save</button>
							
									<a class="btn-common-new"  data-dismiss="modal" href="">Cancel</a>
							  </div>
						  </div>
					  </div>
				   </div>
				 </div>
			 </div>
		  </div>
		</div>
		</form>
	  </div>
	  
	  <div class="modal fade field-edit-modal" id="company-email-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<form action="/submit_myreflect_entity" method="POST" id="company-email-form-id">

		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-body">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			  <div class="create-wallet-box">
				  <div class="row align-item-center">
					  <div class="col-xl-2 col-lg-3 col-md-3">
						  <div>
							  <img src="../assets/images/icons/createidentity-assets/popup-email-icon.png">
						  </div>
					  </div>
					  <div class="col-xl-7 col-lg-7 col-md-7">
						  <h5 class="heading-purple">Update Information</h5>
					  </div>
				  </div>
				  <div class="row">
					  <div class="col-xl-12 col-lg-12 col-md-12 m-auto">
						  <div class="setup-inner-box for-protact">
							  <div class="create-rflet-id-form">
								  <div class="form-group">
									  <label>Label</label>
									  <div class="input-group">
										<input type="text" class="form-control" readonly placeholder="Company Email ID" value="Company Email ID">
										<div class="input-group-append">
										  <span class="input-group-text">
											  <img src="../assets/images/icons/dashboard-assets/verified-emailID.png">
										  </span>
										</div>
									  </div>
								  </div>
								  <div class="form-group">
									  <div class="input-group">
										<input type="email" class="form-control" name="company_email" placeholder="Content" data-rule-required="true" data-msg-required="Please enter company email." data-rule-email=”true” >
										<input type="hidden" name="reflect_id" value="<%=reflect_id%>">

										<div class="input-group-append">
										  <span class="input-group-text">
											  <img src="../assets/images/icons/dashboard-assets/verified-emailID.png">
										  </span>
										</div>
									  </div>
								  </div>
							  </div>
							  <div >
									<button class="btn-common-new" type="submit" id="com-email-btn">Save</button>
							
									<a class="btn-common-new"  data-dismiss="modal" href="">Cancel</a>
							  </div>
						  </div>
					  </div>
				   </div>
				 </div>
			 </div>
		  </div>
		</div>
		</form>

	  </div>
	  
	  <div class="modal fade field-edit-modal" id="date-incorpo-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<form action="/submit_myreflect_entity" method="POST" id="date-incorpo-form-id">
				<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-body">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			  <div class="create-wallet-box">
				  <div class="row align-item-center">
					  <div class="col-xl-2 col-lg-3 col-md-3">
						  <div>
							  <img src="../assets/images/icons/createidentity-assets/popup-dob-icon.png">
						  </div>
					  </div>
					  <div class="col-xl-7 col-lg-7 col-md-7">
						  <h5 class="heading-purple">Update Information</h5>
					  </div>
				  </div>
				  <div class="row">
					  <div class="col-xl-12 col-lg-12 col-md-12 m-auto">
						  <div class="setup-inner-box for-protact">
							  <div class="create-rflet-id-form">
								  <div class="form-group">
									  <label>Label</label>
									  <div class="input-group">
										<input type="text" class="form-control" readonly placeholder="Date of Incorporation" value="Date of Incorporation">
										<div class="input-group-append">
										  <span class="input-group-text">
											  <img src="../assets/images/icons/dashboard-assets/DOB.png">
										  </span>
										</div>
									  </div>
								  </div>
								  <div class="form-group">
									  <div class="input-group">
										<input type="text" class="form-control" id="datepicker4" name="date" placeholder="Content" data-rule-required="true" data-msg-required="Please enter date of incorporation.">
										<input type="hidden" name="reflect_id" value="<%=reflect_id%>">

										<div class="input-group-append">
										  <span class="input-group-text">
											  <img src="../assets/images/icons/dashboard-assets/DOB.png">
										  </span>
										</div>
									  </div>
								  </div>
							  </div>
							  <div >
									<button class="btn-common-new" type="submit" id="date-incorpo-btn">Save</button>
							
									<a class="btn-common-new"  data-dismiss="modal" href="">Cancel</a>
							  </div>
						  </div>
					  </div>
				   </div>
				 </div>
			 </div>
		  </div>
		</div>
			</form>
	  </div>
	  

<div class="modal fade field-edit-modal" id="country-name-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<form action="/submit_myreflect_entity" method="POST" id="country-form-id">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</spaentity_company_country>
        </button>
        <div class="create-wallet-box">
			<div class="row align-item-center">
				<div class="col-xl-2 col-lg-3 col-md-3">
					<div>
						<img src="../assets/images/icons/createidentity-assets/popup-country-icon.png">
					</div>
				</div>
				<div class="col-xl-7 col-lg-7 col-md-7">
					<h5 class="heading-purple">Update Information</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 m-auto">
					<div class="setup-inner-box for-protact">
						<div class="create-rflet-id-form">
						    <div class="form-group">
						    	<label>Label</label>
						    	<div class="input-group">
								  <input type="text" class="form-control" readonly placeholder="Country Name" value="Country Name" >
								  <div class="input-group-append">
								    <span class="input-group-text">
								    	<img src="../assets/images/icons/dashboard-assets/country.png">
								    </span>
								  </div>
								</div>
						    </div>
						    <div class="form-group">
								<div class="input-group">
								  <!-- <input type="text" class="form-control" name="country_name" placeholder="Content"> -->
								  <select class="form-control" name="country_name">
										<!-- <option value=""> Select country Name</option> -->
										
										<option value="1">1</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										</select>
								  <input type="hidden" name="reflect_id" value="<%=reflect_id%>">

								  <div class="input-group-append">
								    <span class="input-group-text">
								    	<img src="../assets/images/icons/dashboard-assets/country.png">
								    </span>
								  </div>
								</div>
							</div>
						</div>
						<div >
							<button class="btn-common-new" type="submit" id="country-btn">Save</button>
							
							<a class="btn-common-new"  data-dismiss="modal" href="">Cancel</a>

						</div>
					</div>
				</div>
			 </div>
	 	  </div>
       </div>
    </div>
  </div>
</form>
</div>

<div class="modal fade field-edit-modal" id="address-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<form action="/submit_myreflect_entity" method="POST" id="address-form-id">

		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-body">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			  <div class="create-wallet-box">
				  <div class="row align-item-center">
					  <div class="col-xl-2 col-lg-3 col-md-3">
						  <div>
							  <img src="../assets/images/icons/createidentity-assets/popup-address-icon.png">
						  </div>
					  </div>
					  <div class="col-xl-7 col-lg-7 col-md-7">
						  <h5 class="heading-purple">Update Information</h5>
					  </div>
				  </div>
				  <div class="row">
					  <div class="col-xl-12 col-lg-12 col-md-12 m-auto">
						  <div class="setup-inner-box for-protact">
							  <div class="create-rflet-id-form">
								  <div class="form-group">
									  <label>Label</label>
									  <div class="input-group">
										<input type="text" class="form-control" readonly placeholder="Address " value="Address">
										<div class="input-group-append">
										  <span class="input-group-text">
											  <img src="../assets/images/icons/dashboard-assets/address.png">
										  </span>
										</div>
									  </div>
								  </div>
								  <div class="form-group">
									  <div class="input-group">
										<input type="text" class="form-control" name="company_address" placeholder="Content" data-rule-required="true" data-msg-required="Please enter company address.">
										<input type="hidden" name="reflect_id" value="<%=reflect_id%>">

										<div class="input-group-append">
										  <span class="input-group-text">
											  <img src="../assets/images/icons/dashboard-assets/address.png">
										  </span>
										</div>
									  </div>
								  </div>
							  </div>
							  <div >
									<button class="btn-common-new" type="submit" id="com-add-btn">Save</button>
							
									<a class="btn-common-new"  data-dismiss="modal" href="">Cancel</a>
							  </div>
						  </div>
					  </div>
				   </div>
				 </div>
			 </div>
		  </div>
		</div>
		</form>
	  </div>
	  
	  
	  <div class="modal fade field-edit-modal" id="phone-no-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<form action="/submit_myreflect_entity" method="POST" id="phone-no-form-id">

		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-body">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			  <div class="create-wallet-box">
				  <div class="row align-item-center">
					  <div class="col-xl-2 col-lg-3 col-md-3">
						  <div>
							  <img src="../assets/images/icons/createidentity-assets/popup-mobile-icon.png">
						  </div>
					  </div>
					  <div class="col-xl-7 col-lg-7 col-md-7">
						  <h5 class="heading-purple">Update Information</h5>
					  </div>
				  </div>
				  <div class="row">
					  <div class="col-xl-12 col-lg-12 col-md-12 m-auto">
						  <div class="setup-inner-box for-protact">
							  <div class="create-rflet-id-form">
								  <div class="form-group">
									  <label>Label</label>
									  <div class="input-group">
										<input type="text" class="form-control" readonly placeholder="Phone Number" value="Phone Number">
										<div class="input-group-append">
										  <span class="input-group-text">
											  <img src="../assets/images/icons/dashboard-assets/phone.png">
										  </span>
										</div>
									  </div>
								  </div>
								  <div class="form-group">
									  <div class="input-group">
										<input type="text" class="form-control" name="phone_no" placeholder="Content" data-rule-required="true" data-msg-required="Please enter phone number." data-rule-digits=”true”>
										<input type="hidden" name="reflect_id" value="<%=reflect_id%>">

										<div class="input-group-append">
										  <span class="input-group-text">
											  <img src="../assets/images/icons/dashboard-assets/phone.png">
										  </span>
										</div>
									  </div>
								  </div>
							  </div>
							  <div >
									<button class="btn-common-new" type="submit" id="phone-btn">Save</button>
							
									<a class="btn-common-new"  data-dismiss="modal" href="">Cancel</a>
							  </div>
						  </div>
					  </div>
				   </div>
				 </div>
			 </div>
		  </div>
		</div>
		</form>
	  </div>
	  
	  
	  <div class="modal fade field-edit-modal" id="phone-not-verified-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-body">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			  <div class="create-wallet-box">
				  <div class="row align-item-center">
					  <div class="col-xl-2 col-lg-3 col-md-3">
						  <div class="for-icon-bg">
							  <img src="../assets/images/icons/createidentity-assets/popup-mobile-icon.png">
						  </div>
					  </div>
					  <div class="col-xl-10 col-lg-10 col-md-10">
						  <h5 class="heading-purple">Phone Number Verification</h5>
						  <p>Verify your phone number by entering the OTP sent to your registered email address.</p>
					  </div>
				  </div>
					 <div class="login-form-main phone-otp">
					   <div class="form-group">
						  <label>OTP</label>
						  <div class="otp-box digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off">
							  <input type="text" id="otp1" name="otp1" class="form-control text-center" placeholder="-" maxlength="1" data-next="otp2">
							  <input type="text" id="otp2" name="otp2" class="form-control" placeholder="-" maxlength="1" data-next="otp3" data-previous="otp1">
							  <input type="text" id="otp3" name="otp3" class="form-control" placeholder="-" maxlength="1" data-next="otp4" data-previous="otp2">
							  <input type="text" id="otp4" name="otp4" class="form-control" placeholder="-" maxlength="1" data-previous="otp3">
						  </div>
						</div>
						<div class="private-key-copy-box">
							<button class="btn-common-new">Continue</button>
						  <p class="extra-link">Don't got OTP?<a href="">Resend</a></p>
						</div>
				  </div>
				 </div>
			 </div>
		  </div>
		</div>
	  </div>




<div class="modal fade field-edit-modal" id="add-info-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="create-wallet-box">
			<div class="row align-item-center">
				<div class="col-xl-2 col-lg-3 col-md-3">
					<div>
						<img src="../assets/images/icons/createidentity-assets/popup-add-info-icon.png">
					</div>
				</div>
				<div class="col-xl-7 col-lg-7 col-md-7">
					<h5 class="heading-purple">Add Information</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 m-auto">
					<div class="setup-inner-box for-protact">
						<div class="create-rflet-id-form">
						    <div class="form-group">
						    	<div class="input-group">
								  <input type="text" class="form-control" placeholder="Label">
								  <div class="input-group-append">
								    <span class="input-group-text">
								    	<img src="../assets/images/icons/dashboard-assets/info-icon.png">
								    </span>
								  </div>
								</div>
						    </div>
						    <div class="form-group">
								<div class="input-group">
								  <input type="text" class="form-control" placeholder="Content">
								  <div class="input-group-append">
								    <span class="input-group-text">
								    	<img src="../assets/images/icons/dashboard-assets/info-icon.png">
								    </span>
								  </div>
								</div>
							</div>
						</div>
						<div >
							<a class="btn-common-new" href="">Save</a>
							<a class="btn-common-new" href="">Cancel</a>
						</div>
					</div>
				</div>
			 </div>
	 	  </div>
       </div>
    </div>
  </div>
</div>

<%DocData.forEach(doc_data=>{
	var i=0;

	%>
<div class="modal fade field-edit-modal" id="upload-doc-Modal<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="create-wallet-box">
			<div class="row align-item-center">
				<div class="col-xl-2 col-lg-3 col-md-3">
					<div>
						<img src="../assets/images/icons/createidentity-assets/popup-upload-icon.png">
					</div>
				</div>
				<div class="col-xl-7 col-lg-7 col-md-7">
					<h5 class="heading-purple">Upload Document</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 m-auto">
					<div class="setup-inner-box1 for-protact">
						<div class="create-rflet-id-form">
							<form action="/add-new-doc-entity" method="POST"  enctype="multipart/form-data" id="form_add_doc">
							<div class="form-group">
								<label>File Name</label>
								<div class="input-group">
									<input type="text" class="form-control"value="  <%=doc_data.dataValues.tbl_documents_master.document_name%>" readonly="" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label>File unique Id</label>
								<div class="input-group">
								    <input type="text" class="form-control"value="<%=doc_data.doc_unique_code%>" readonly="" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label>Expire Date</label>
								<div class="input-group">
								    <input type="text" class="form-control"value="<%=moment(doc_data.expire_date).format('MMM DD, YYYY')%>" readonly="" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label>Created Date</label>
								<div class="input-group">
				                    <input type="text" class="form-control"value="<%=moment(doc_data.createdAt).format('MMM DD, YYYY')%>" readonly="" placeholder="">
								</div>
							</div>
							<div class="form-group browse-file-section">
								<label>Upload Document</label>
								<input type="file" name="staff_image" class="file" style="visibility: hidden;position: absolute;" accept="image/x-png,image/jpeg">
								<div class="input-group col-xs-12">
									<span class="input-group-btn">
									<button class="browse btn btn-primary input-lg" type="button"> Choose a file</button>
									</span>
									<input type="text" class="form-control" readonly="" placeholder="">
								</div>
							</div>
							<div class="input-group for-radio-check-id-as responsive-field-radio">
								<input type="text" class="form-control" readonly="" placeholder="Select file type"value="">
								<div class="input-group-append">
									<span class="input-group-text">
										<div class="radio">
										<label>
											<input type="radio" name="o1" value="image">
											<span class="cr"><i class="cr-icon fa fa-circle"></i></span>
											Image
										</label>
										</div>
										<div class="radio">
										<label>
											<input type="radio" name="o1" value="video">
											<span class="cr"><i class="cr-icon fa fa-circle"></i></span>
											Video
										</label>
										</div>
									</span>
								</div>
							</div>
						</div>
						<input type="hidden" class="form-control" name="user_doc_id%"value="<%=doc_data.user_doc_id%>" readonly="" placeholder="">

						<div class="text-center">
							<button type="submit" class="btn-common-new" href="">Upload</button>
							<a class="btn-common-new" href="">Cancel</a>
						</div>
					</div>
				</div>
			 </div>
	 	  </div>
       </div>
    </div>
  </div>
</div>
<%})%>


<div class="modal fade field-edit-modal" id="self-attested-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="create-wallet-box">
			<div class="row align-item-center">
				<div class="col-xl-2 col-lg-3 col-md-3">
					<div>
						<img src="../assets/images/icons/createidentity-assets/popup-self-attest-icon.png">
					</div>
				</div>
				<div class="col-xl-7 col-lg-7 col-md-7">
					<h5 class="heading-purple">Self Attestation</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 m-auto">
					<div class="setup-inner-box for-protact">
						<div class="create-rflet-id-form">
						    <div class="licence-img">
						    	<img src="../assets/images/icons/createidentity-assets/licence.png">
						    </div>						    
							<div class="form-group for-signature-pad">
								<div class="row for-heading-sign">
									<label class="col-sm-6">Drow Your Sign</label>
								    <div class="col-sm-6 text-right">
								    	<button class="clear-sign" id="clear-signature">Clear</button>
								    </div>
								</div>
								<canvas id="signature" width="640" height="150"></canvas>
							</div>
						</div>
						<div >
							<a class="btn-common-new" href="">Save</a>
							<a class="btn-common-new" href="">Cancel</a>
						</div>
					</div>
				</div>
			 </div>
	 	  </div>
       </div>
    </div>
  </div>
</div>


<div class="modal fade field-edit-modal" id="set-docs-permission-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="create-wallet-box">
			<div class="row align-item-center">
				<div class="col-xl-2 col-lg-3 col-md-3">
					<div>
						<img src="../assets/images/icons/createidentity-assets/popup-set-doc-permission-icon.png">
					</div>
				</div>
				<div class="col-xl-7 col-lg-7 col-md-7">
					<h5 class="heading-purple">Document Permission</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 m-auto">
					<div class="setup-inner-box for-protact pt-15">
						<div class="create-rflet-id-form">
						    <div class="licence-img-small">
						    	<img src="../assets/images/icons/createidentity-assets/licence.png">
						    </div>						    
							 <div class="form-group select-verifier-box">
						    	<div class="input-group">
								  <div class="dropdown">
									  <button class="dropbtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									    Select Verifiers Via Code
									  </button>
									  <div class="dropdown-menu menu-for-id" aria-labelledby="dropdownMenuButton">
									    <a class="dropdown-item" href="#">
									    	<div class="for-verify-box-inner for-pending">
									    		<i class="fas fa-check"></i>
									    		<span class="user-img-verify">
									    			<img src="../assets/images/other/face1.jpg">
									    		</span>
									    		<span class="tooltip fade" data-title="On boarding Pending">
									    			Natasha-251100
									    			<img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
									    		</span>
									    	</div>
									    </a>
									    <a class="dropdown-item" href="#">
									    	<div class="for-verify-box-inner for-approve">
									    		<i class="fas fa-check"></i>
									    		<span class="user-img-verify">
									    			<img src="../assets/images/other/face1.jpg">
									    		</span>
									    		<span class="tooltip fade" data-title="On boarding Accepted">
									    			Heena-215020
									    			<img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
									    		</span>
									    	</div>
									    </a>
									    <a class="dropdown-item" href="#">
									    	<div class="for-verify-box-inner for-cancel">
									    		<i class="fas fa-check"></i>
									    		<span class="user-img-verify">
									    			<img src="../assets/images/other/face1.jpg">
									    		</span>
									    		<span class="tooltip fade" data-title="On boarding Rejected/ Not Requested.">
									    			Akansha-354653
									    			<img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
									    		</span>
									    	</div>
									    </a>
									  </div>
									</div>
								  <div class="input-group-append">
								    <button class="btn address-book" type="button">Address Book</button>
								  </div>
								</div>
						    </div>
							<div class="form-group for-verify-text">
								<textarea class="form-control" rows="5" placeholder="Message"></textarea>
							</div>

							<div class="personal-info-box for-download-view-table table-responsive">
								<table class="table">
								  <thead>
								    <tr>
								      <th scope="col">Label</th>
								      <th scope="col">Download</th>
								      <th scope="col">View</th>
								      <th scope="col">Certify</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr>
								      <th scope="row">
								      	<div class="for-flex-align">
								      		 <img src="../assets/images/icons/dashboard-assets/drivinglicense.png">
						      		     Driving License 
								      	</div>
								      </th>
								      <td>
								      	<div class="checkbox">
								          <label>
								            <input type="checkbox" value="">
								            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
								          </label>
								        </div>
								      </td>
								      <td>
								      	<div class="checkbox">
								          <label>
								            <input type="checkbox" value="">
								            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
								          </label>
								        </div>
								      </td>
								      <td>
								      	<div class="checkbox">
								          <label>
								            <input type="checkbox" value="">
								            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
								          </label>
								        </div>
								      </td>
								    </tr>
								  </tbody>
								</table>
							</div>
						</div>
						<div >
							<a class="btn-common-new" href="">Submit</a>
							<a class="btn-common-new" href="">Cancel</a>
						</div>
					</div>
				</div>
			 </div>
	 	  </div>
       </div>
    </div>
  </div>
</div>


<div class="modal fade field-edit-modal" id="add-new-doc-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-body">
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		  <div class="create-wallet-box">
			  <div class="row align-item-center">
				  <div class="col-xl-2 col-lg-3 col-md-3">
					  <div>
						  <img src="../assets/images/icons/createidentity-assets/popup-upload-icon.png">
					  </div>
				  </div>
				  <div class="col-xl-7 col-lg-7 col-md-7">
					  <h5 class="heading-purple">Add New Document</h5>
				  </div>
			  </div>
			  <form action="/add_new_doc" method="POST" enctype="multipart/form-data" id="add-new-doc-form">
			  <div class="row">
				  <div class="col-xl-12 col-lg-12 col-md-12 m-auto">
					  <div class="setup-inner-box for-protact">
						  <div class="create-rflet-id-form">
							  <div class="form-group browse-file-section">
									<input type="file" name="document" class="file" style="visibility: hidden;position: absolute;" accept="image/x-png,image/jpeg">
									<div class="input-group col-xs-12" data-rule-required="true" data-msg-required="Please upload file.">
									  <span class="input-group-btn">
										<button class="browse btn btn-primary input-lg" type="button"> Choose a file</button>
									  </span>
									  <input type="text" class="form-control" readonly="" placeholder="">
									</div>
								</div>
								<div class="form-group">
								  <div class="input-group">
									<select class="form-control" name="document_id" data-rule-required="true" data-msg-required="Please select document type.">
										<%if(allDocs){
												for(let docu of allDocs){%>
										<option value="<%=docu.doc_id%>"><%=docu.document_name%></option>
										<%}}%>
										</select>
								  </div>
							  </div>  
							  <div class="form-group">
								  <div class="input-group">
									<input type="text" id="datepicker2" class="form-control" name="expiry_date" placeholder="Expiry Date" data-rule-required="true" data-msg-required="Please select expiry date.">
								  </div>
							  </div>
							  <div class="form-group">
								  <div class="input-group">
									<input type="text" class="form-control" name="id_number" placeholder="ID Number" data-rule-required="true" data-msg-required="Please enter ID number.">
								  </div>
							  </div>
							  <input type="hidden" name="reflect_id" value="<%=reflect_id%>">

						  </div>
						  <div >
							  <button type="submit" class="btn-common-new" id="add-doc-btn">Upload</button>
							  <!-- <a class="btn-common-new" href="">Upload</a> -->
							  <a class="btn-common-new" href="">Cancel</a>
						  </div>
					  </div>
				  </div>
			   </div>
			</form>
			 </div>
		 </div>
	  </div>
	</div>
  </div>


<%- include('../innerFooter.ejs')%>

<script type="text/javascript" src="assets/js/jquery-ui.js"></script>
--><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>


<script type="text/javascript">
	$('#company-form-id').validate({
		 onfocusout: function(element) {
		 this.element(element);
		 },
		 errorClass: 'error_validate',
		 errorElement:'span',
		 highlight: function(element, errorClass) {
		 $(element).removeClass(errorClass);
		 },
		 submitHandler:function(form)
			{
			  $('#com-name-btn').attr('disabled',true);
			  form.submit();
			}
		 });
</script>
<script type="text/javascript">
	$('#company-email-form-id').validate({
		 onfocusout: function(element) {
		 this.element(element);
		 },
		 errorClass: 'error_validate',
		 errorElement:'span',
		 highlight: function(element, errorClass) {
		 $(element).removeClass(errorClass);
		 },
		 submitHandler:function(form)
			{
			  $('#com-email-btn').attr('disabled',true);
			  form.submit();
			}
		 });
</script>
<script type="text/javascript">
	$('#date-incorpo-form-id').validate({
		 onfocusout: function(element) {
		 this.element(element);
		 },
		 errorClass: 'error_validate',
		 errorElement:'span',
		 highlight: function(element, errorClass) {
		 $(element).removeClass(errorClass);
		 },
		 submitHandler:function(form)
			{
			  $('#date-incorpo-btn').attr('disabled',true);
			  form.submit();
			}
		 });
</script>
<script type="text/javascript">
	$('#country-form-id').validate({
		 onfocusout: function(element) {
		 this.element(element);
		 },
		 errorClass: 'error_validate',
		 errorElement:'span',
		 highlight: function(element, errorClass) {
		 $(element).removeClass(errorClass);
		 },
		 submitHandler:function(form)
			{
			  $('#country-btn').attr('disabled',true);
			  form.submit();
			}
		 });
</script>
<script type="text/javascript">
	$('#address-form-id').validate({
		 onfocusout: function(element) {
		 this.element(element);
		 },
		 errorClass: 'error_validate',
		 errorElement:'span',
		 highlight: function(element, errorClass) {
		 $(element).removeClass(errorClass);
		 },
		 submitHandler:function(form)
			{
			  $('#com-add-btn').attr('disabled',true);
			  form.submit();
			}
		 });
</script>
<script type="text/javascript">
	$('#phone-no-form-id').validate({
		 onfocusout: function(element) {
		 this.element(element);
		 },
		 errorClass: 'error_validate',
		 errorElement:'span',
		 highlight: function(element, errorClass) {
		 $(element).removeClass(errorClass);
		 },
		 submitHandler:function(form)
			{
			  $('#phone-btn').attr('disabled',true);
			  form.submit();
			}
		 });
</script>


<script type="text/javascript">
	$('#reg-no-form-id').validate({
		 onfocusout: function(element) {
		 this.element(element);
		 },
		 errorClass: 'error_validate',
		 errorElement:'span',
		 highlight: function(element, errorClass) {
		 $(element).removeClass(errorClass);
		 },
		 submitHandler:function(form)
			{
			  $('#reg-no-btn').attr('disabled',true);
			  form.submit();
			}
		 });
</script>

<script type="text/javascript">
	$('#add-new-doc-form').validate({
		 onfocusout: function(element) {
		 this.element(element);
		 },
		 errorClass: 'error_validate',
		 errorElement:'span',
		 highlight: function(element, errorClass) {
		 $(element).removeClass(errorClass);
		 },
		 submitHandler:function(form)
			{
			  $('#add-doc-btn').attr('disabled',true);
			  form.submit();
			}
		 });
</script>
<script>
	$(document).ready( function () {
    $('#myTable').DataTable();
} );
	$(document).ready( function () {
    $('#myTable2').DataTable();
} );
		$(document).ready( function () {
    $('#myTable3').DataTable();
} );
			$(document).ready( function () {
    $('#myTable4').DataTable();
} );
				$(document).ready( function () {
    $('#myTable5').DataTable();
} );
</script>
        <script>
    $('.digit-group').find('input').each(function() {
    $(this).attr('maxlength', 1);
    $(this).on('keyup', function(e) {
        var parent = $($(this).parent());
        
        if(e.keyCode === 8 || e.keyCode === 37) {
            var prev = parent.find('input#' + $(this).data('previous'));
            
            if(prev.length) {
                $(prev).select();
            }
        } else if((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 65 && e.keyCode <= 90) || (e.keyCode >= 96 && e.keyCode <= 105) || e.keyCode === 39) {
            var next = parent.find('input#' + $(this).data('next'));
            
            if(next.length) {
                $(next).select();
            } else {
                if(parent.data('autosubmit')) {
                    parent.submit();
                }
            }
        }
    });
});
</script>

<script>
	 $(document).on('click', '.browse', function(){
    var file = $(this).parent().parent().parent().find('.file');
    file.trigger('click');
  });
  $(document).on('change', '.file', function(){
    $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i,''));
  }); 
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>
 <script>
 	jQuery(document).ready(function($){
    
    var canvas = document.getElementById("signature");
    var signaturePad = new SignaturePad(canvas);
    
    $('#clear-signature').on('click', function(){
        signaturePad.clear();
    });
    
});
 </script>

 <script type="text/javascript">
   $(document).on('click', '.menu-for-id a', function() {
       $('.dropbtn').html($(this).html());  
   });
</script>


<script>
	$(document).on('click.bs.dropdown.data-api', '.dropdown.keep-inside-clicks-open', function (e) {
	  e.stopPropagation();
	});
</script>
<script>
	var reflect_id = $('#reflect_id').val();
			function downloadDocDiv(){
				html2canvas(document.getElementById('doc_div')).then(function(canvas) {
				var img = canvas.toDataURL("image/png");
				var doc = new jsPDF();
				doc.text(2,5, "MY REFLECT ID"+" "+reflect_id);
				doc.addImage(img,'JPEG',5,6);
				doc.save('Personal-info.pdf');
				});
			  }
			</script>
			<script>
			var reflect_id = $('#reflect_id').val();
			function downloadAdditional(){
				html2canvas(document.getElementById('companycontent')).then(function(canvas) {
				var img = canvas.toDataURL("image/png");
				var doc = new jsPDF();
				doc.text(2,5, "MY REFLECT ID"+" "+reflect_id);
				doc.addImage(img,'JPEG',5,6);
				doc.save('Additional-info.pdf');
				});
			  }
			</script>
<script>
	var reflect_id = $('#reflect_id').val();
	function printdiv(){
		
	  var restorepage = $('body').html();
		$('.nodata').hide();
	   var printcontent = $('#companycontent').clone();
	   $('body').empty().html(printcontent);
	   window.print();
	   $('body').html(restorepage);
	 
	
	}
	function printDocdiv(){
		
		var restorepage = $('body').html();
		  $('.nodata').hide();
		 var printcontent = $('#doc_div').clone();
		 $('body').empty().html(printcontent);
		 window.print();
		 $('body').html(restorepage);
	   
	  
	  }
	
	</script>

<script>
	var reflect_id = $('#reflect_id').val();
	function downloaddoclist(){
		html2canvas(document.getElementById('doc_div')).then(function(canvas) {
		var img = canvas.toDataURL("image/png");
		var doc = new jsPDF();
		doc.text(2,5, "MY REFLECT ID"+" "+reflect_id);
		doc.addImage(img,'JPEG',-10,10);
		doc.save('doc-list.pdf');
		});
	  }
	</script>
 <script>
    $("#datepicker").datepicker();
    $("#datepicker1").datepicker();
    $("#datepicker2").datepicker();
	$("#datepicker4").datepicker();
 </script>