<%-include('../innerHeader')%>
<style>
	.m-right-20{
		margin-right: 20px;
	}
	.another-drop-down .for-select-existing-doc.three-drop-custom .dropdwn-btn {
    min-width: 150px;
    height: 37px;
}
.select2-selection__rendered{
	background-color: transparent !important;
	border-color:#333; 
}.select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border: 1px solid #aaa !important;
    border-radius: 4px;
}
.mobile-no-select .select2-container--default .select2-selection--single{
	border: 1px solid #333 !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}
.close-filter.for-cross{
	font-size: 16px;
    position: absolute;
    right: 10px;
    top: 5px;
}
</style>

<section class="heading-sec mb-0">
	<div class="container">
		<ul class="breadcrumb custom-braed">
			<li class="upper">All Clients</li>
		</ul>
		<div class="row align-item-center">
			<div class="col-lg-9 col-md-6 col-sm-6">
				<div class="main-heading-dash">
					<img src="../assets/images/icons/profile/profile.png">
					<h4 class="upper">All Clients</h4>
				</div>
			</div>
		</div>
	</div> 
</section>
<section class="setup-id-sec">
	<div class="container">
		<div class="row personal-info-heading">
			<div class="col-md-12 custom-flex-row">
				<div class="responsive-search">
					<form class="response-search"> 
						 <div class="input-group search-address-book">
						 <input type="text" class="form-control autocomplete" id="myInputSearch" placeholder="Search by Client MyReflet ID/Type/Created" >

							<div class="input-group-append">
								<button class="btn btn-search" type="button"><img src="../assets/images/icons/search-black.png"></button>
							</div>
						</div>
					  </form>
				</div>
				<div class="text-right">
					<a href="">
						<div class="icon-for-dwnload">
							<div class="tooltip fade" data-title="Export Data" onclick="export_table();">
								<img src="../assets/images/icons/dashboard-assets/export.png">
						     	<img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
							</div>
						</div>
					</a>
					<a href="">
						<div class="icon-for-dwnload">
							<div class="tooltip fade" data-title="Print Data"onclick="print_table();">
								<img src="../assets/images/icons/dashboard-assets/print.png">
							    <img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		
		<!-- Button S-->
		<!-- <div class="btn-all-dwnload">
			<div>
				<a href=""><img src="../assets/images/icons/dashboard-assets/icon_add_book.png"> Add to address book</a>
				<a href=""><img src="../assets/images/icons/dashboard-assets/icon_send.png"> Send on-boarding documents</a>
				<a href=""><img src="../assets/images/icons/dashboard-assets/icon_eye_pur.png"> View Document</a>
				<a href=""><img src="../assets/images/icons/dashboard-assets/icon_message.png"> Manage messages</a>
			</div> 
		</div> -->
		<!-- Button E -->
		<% if(success_msg!=undefined && success_msg !='' ){ %>
			<div class="alert alert-success text-center  flash_msg "id="success_message">
			  <%= success_msg %>
		   </div>
		  <% }%>
		  <% if(err_msg!=undefined && err_msg !='' ){ %>
			<div class="alert alert-danger text-center  flash_msg " id="err_message">
					<%= err_msg %>
				 </div>
		   
			<% }%>
		<div class="personal-info-box table-responsive">
			<div id="div_data">
			<table class="table" id="myTable3">

				<thead>
			    	<tr>
			    		<th width="5%" scope="col">No.</th>
						  <th width="10%" scope="col">Client MyReflet ID</th>
						  <th width="15%" scope="col">Client Email</th>
				      	<th width="15%" scope="col">Client Contact No.</th>
				      	<th width="15%" scope="col">Client Country</th>
				      	<th width="15%" scope="col">Client Type</th>
				      	<th width="10%" scope="col">Created At</th>
				      	<th width="10%"class="hide_link" scope="col">View Clients Document</th>
			    	</tr>
			  	</thead>
				<tbody >
					<%console.log("SharedClientData.data : ",SharedClientData.data)%>
					<%	if(SharedClientData.data.length>0)
		  	{
			var i=0;
			var j=0;
			var k=1;
				for(let each_data of SharedClientData.data){
				  %>
				    <tr>
				    	<td class="upper"><%=k%>.</td>
				      	<th scope="row">
					      	<div class="for-flex-align">
					      		<div class="checkbox">
						          	<label>
							            <!-- <input class="hide_link" type="checkbox" value=""> -->
<!-- 							            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
 -->					      		     	<div>
					      		     		<span class="upper">
					      		     			<%if(each_data.rep_firstname){%>
					      		     			<%=each_data.rep_firstname%>
					      		     				<%}else if(each_data.entity_company_name){%>

                                         <%= each_data.entity_company_name %>
                                         <%}else{%>
										           <%= decrypt(each_data.full_name)%>
										           <%}%>
					      		     			</span><br>
					      		     		<span><%=each_data.reflect_code%></span>
					      		     	</div>
						         	 </label>
						        </div>
							</div>
						  </th>

					<!-- 	  <%if(each_data.rep_email)
						  {%>
							<td><%=each_data.rep_email%></td>

							<%}else{%> 
                         <td> <%=each_data.email%>
							
                      </td>
								<%}%> -->
						<td class="upper"><%=decrypt(each_data.email)%></td>
						<td class="upper"><%=decrypt(each_data.mobile_number)%></td>
						<td class="upper"><%=decrypt(each_data.birthplace)%></td>
						<td class="upper"><%=each_data.reflectid_by%></td>

				        <!-- <td class="upper"><%=each_data.descriptions%></td> -->
                        <td>
                        <p>	<%=moment(each_data.shared_created_id).format('MMM DD, YYYY')%></p> </td>
                    

                                        
                      
                        <td class="hide_link" >
					    	
					      	<a class="dropdown-item" href="/myreflect-all-client-view-doc?sender_my_reflect_id=<%=each_data.sender_my_reflect_id%>&receiver_my_reflect_id=<%=each_data.receiver_my_reflect_id%>">
										<i class="cr-icon fa fa-eye"></i>
						   </a>	
				      	</td>
				    </tr> 
				   
					<%
					i++;k++;		j++;				
				} 
				   }else{
	   %>
                       <tr>
						<td colspan="8"><center>No record found.</center> </td>
					   </tr>			 <%}%>
				</tbody>
			</table>
		
			   </div>
            <div class="pagination-list for-user">
          
            <% if (SharedClientData.totalPages > 0) { %>
             <ul class="pagination text-center">
               <% if (SharedClientData.currentPage == 1) { %>
                 <li class="disabled page-item"><a class="page-link">&lt;</a></li>
               <% } else { %>
                 <li class="page-item"><a class="page-link" href="/myreflect-client-all-doc">&lt;</a></li>
               <% } %>
          
          
          
               <% var i = (Number(SharedClientData.currentPage) > 5 ? Number(SharedClientData.currentPage) - 4 : 1) %>
               <% if (i !== 1) { %>
                 <!-- <li class="disabled"><a>...</a></li> -->
                 <li class="page-item disabled"><a class="page-link" >...</a></li>
               <% } %>
               <% for (; i <= (Number(SharedClientData.currentPage) + 4) && i <= SharedClientData.totalPages; i++) { %>
                 <% if (i == SharedClientData.currentPage) { %>
                   <!-- <li class="active"><a><%= i %></a></li> -->
                   <li class="page-item active">
                   <a class="page-link" href="#"><%= i %><span class="sr-only">(SharedClientData.currentPage)</span></a>
                   </li>
                 <% } else { %>
                   <li class="page-item"><a class="page-link" href="/myreflect-client-all-doc"><%= i %></a></li>
                 <% } %>
                 <% if (i == Number(SharedClientData.currentPage) + 4 && i < SharedClientData.totalPages) { %>
                   <!-- <li class="disabled"><a>...</a></li> -->
                   <li class="page-item disabled"><a class="page-link" >...</a></li>
                 <% } %>
               <% } %>
          
          
               <% if (SharedClientData.currentPage == SharedClientData.totalPages) { %>                       
                 <li class="disabled page-item"><a class="page-link">&gt;</a></li>
               <% } else { %>
                 <li><a class="page-link" href="/myreflect-client-all-doc">&gt;</a></li>
               <% } %>
          
             </ul>
          <% } %>
          
		   </div>
		</div>
		</div>
	</div>
</section>

<!-- Modal S -->


<!--Add Verifier Modal E -->

<%- include('../innerFooter')%>
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css"> -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>

 <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

        <script type="text/javascript" src="assets/js/custom.js"></script>
        <link rel="stylesheet" type="text/css" href="assets/css/select2.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>

 

        <script>
	$(document).on('click.bs.dropdown.data-api', '.dropdown.keep-inside-clicks-open', function (e) {
	  e.stopPropagation();
	});
</script> 
<script>
	$(document).on('click','.drop-down-wrapper',function(){
		$(".show-me-filter").removeClass("active");
		$(".filter-custom-dropdown").removeClass("active");

		$(this).parent().toggleClass("active");
		$(this).parent().find(".hide-custom").toggleClass("active");
	});
	$(document).on('click','.close-filter',function(){
		$(this).parent().parent().parent().removeClass("active");
		$(this).parent().parent().parent().parent().removeClass("active");
	});
	$(".close-filter1").click(function(){
		$(this).parent().parent().removeClass("active");
	});

	$(".drop-down-wrapper1").click(function(){
		$(".show-me-filter").removeClass("active");
		$(".filter-custom-dropdown").removeClass("active");

		$(this).parent().parent().find(".hide-custom").toggleClass("active");
	});
</script> 
<!-- for dropdown E -->
<script>
	$("#start-date").datepicker();
	$("#end-date").datepicker();
</script>
<!-- Add Filter S -->





<script>
	
	$('.cancel').click(function()
{
	location.reload();

})
$(document).ready(function() {
                $(".select2-country").select2();
         });
</script>
<script>
		function export_table(){
	//   alert('hhh') 
	// $('.hide_link').show();

	  $("#myTable3").table2excel({
		  filename: "access-market-list.xls",
		  exclude:'.hide_link',
	  });
	//   $('.hide_link').show();
	window.location.reload(true);

	};
	
	function print_table(){
		$('.hide_link').hide();
     
     // $("#user_div").print();
     var restorepage = $('body').html();
  // $('.nodata').hide();
   var printcontent = $('#myTable3').clone();
   $('body').empty().html(printcontent);
   window.print();
   $('body').html(restorepage);
 
   window.location.reload(true);

		}  
		setTimeout(function() {
        $('#success_message').fadeOut('fast');
        }, 3000);
		setTimeout(function() {
        $('#err_message').fadeOut('fast');
        }, 3000);
</script>
<script>

// $('.get_category_1').click(function(){
// 		// alert('ref_id')

// 		var ref_id = $("#ref_id").val();
// 		// alert(ref_id)
// 	if(ref_id!=""){
// 		$.ajax({
// 			type: "post",
// 			url: "/get-category-list",
// 			data:{reflect_id:ref_id},
// 			success: function (data) {
// 				alert(data);  
// 				$('#category_list_1').html(data);
			
//             }
// 		});
// 	}else{
// 				$('#category_list_1').html("");
// 	}
// })
</script>
<script>
	// var reflect_id


// $(document).on('change', ".mp_select", function(){
// 	reflect_id =   $(this).val()
// });

// $(document).on('change', ".mp_select", function(){
// 	reflect_id =   $(this).val()
// });
$('.reflect_code_1').click(function()
{
	// alert('mp_id')

	var label = $("#label_id").val();
	var reflect_code = $("#reflect_code").val();

// alert(label)
// alert(reflect_code)





	  

	  $.ajax({
  type: "post",
  url: "/post-address-book",
  data:{reflect_code:reflect_code,label:label},
  success: function (data) {
	  
	  location.reload();

  
  }
});
})


</script>

<script type="text/javascript">
	
	    $(document).ready(function(){
            $.ajax({
            type: "get",
            url: "/manage-ind-client-message-notification-count",
            data:{},
            success: function (data) {
                // alert(data[0].count_msg);
                
                 if(data[0].count_msg>0){
                    $('#client_manage_msg_notifications').addClass("badge");
                    $('#client_manage_msg_notifications').addClass("badge");

                    	  }else{
                    $('#verifier_manage_msg_notifications').removeClass("new-msg-dot");
                    $('#verifier_manage_msg_notifications').removeClass("badge");

                    $('#verifier_manage_msg_notifications').html("");
                 }
                
                
            }
        })   
    })
        </script>
        <script type="text/javascript">
function handleSelect(elm)
{
	// alert(elm)
window.location = elm.value;
}
</script>


<script>
	$('.date_apply').click(()=>
	{
		var startDate = $(".startDate").val();
	     var endDate = $(".endDate").val();

	     if(startDate&&endDate)
	     {
				     	setTimeout(function() {
			        $('#success_message_span').fadeOut('fast');
			        }, 100);
                  return true;
	     }else
	     {
	     			 $('.success_span').html("All the fields required");

                      return false;
	     }
		var date_list = $('input[name=check_date]:checked').map(function(_, el) {
        return $(el).val();
	}).get();

	var chunks = startDate.split('/');

function GetMonthName(monthNumber) {

var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];
return months[monthNumber - 1];

}
var month_num=chunks[0];

// alert(chunks[1])

// var parseDay =  parseInt(chunks[1]);

// alert(parseDay)


var formattedDate = [chunks[1],GetMonthName(month_num),chunks[2]].join("-");


	$('.create_class').text(formattedDate);
	// alert('startDate : '+startDate);
	// alert('endDate : '+endDate);
$.ajax({
			type: "post",
			url: "/search-msg-by-date",
			data:{startDate:startDate,endDate:endDate,date_list:JSON.stringify(date_list)},
			success: function (data) {
				// alert(data)
				$('#div_data').html("");
				$('#div_data').html(data);
			}
		})
	})
</script>
<script type="text/javascript">
	$('.checkbox_my_verifier').click(function() {
		// var userid = `${ userid}`
		// $('.complaints_by_status_list').html(" ")
		$(".all_list").hide();

    var reflect_list = $('input[name=status_check]:checked').map(function(_, el) {
        return $(el).val();
	}).get();
	if(reflect_list=='')
	{
		// $(".complaints_by_status_list").hide();

		window.location.reload(true);

	}
 // alert("check box select value : "+reflect_list) 
	$.ajax({
                      type : 'POST',
                      url  : '/search-msg-by-my-verifier',
					  data: {reflect_list:JSON.stringify(reflect_list)},
					  
                        success: function(data) {
				// alert(data)

							$('#div_data').html("");
			            	$('#div_data').html(data);
						
			}                                                    
           
})
})
	$('.checkbox_my_client').click(function() {
		// var userid = `${ userid}`
		// $('.complaints_by_status_list').html(" ")
		$(".all_list").hide();

    var reflect_list = $('input[name=name_check]:checked').map(function(_, el) {
        return $(el).val();
	}).get();
	if(reflect_list=='')
	{
		// $(".complaints_by_status_list").hide();

		window.location.reload(true);

	}
 alert("check box select value : "+reflect_list) 
	$.ajax({
                      type : 'POST',
                      url  : '/search-msg-by-my-client',
					  data: {reflect_list:JSON.stringify(reflect_list)},
					  
                        success: function(data) {
				// alert(data)

							$('#div_data').html("");
			            	$('#div_data').html(data);
						
			}                                                    
           
})
})
</script>
<script type="text/javascript">
	$(document).ready( function () {

		  $("#myInputSearch").on("keyup", function() {

            var value = $(this).val().toLowerCase();
            // alert(value)
            if(value){
            $.ajax({
		type: "post",
		url: "/search_client_at_receiver_side",
		data:{query:value,reflect_id:`<%=reflect_id%>`},
		success: function (data) {
			// alert(data);
			
			     $('#div_data').html("");
			            	$('#div_data').html(data);
						
			
	
		
		}
	})
    }else{
	     location.reload(true)}
	})
		})
</script>