<%-include('../innerHeader')%>


<section class="heading-sec">
	<div class="container">
		<div class="row align-item-center">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="main-heading-dash">
					<img src="../assets/images/icons/createidentity-assets/create-myreflet.png">
					<h4>Create MyReflet ID Code</h4>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="setup-id-sec">
	<form action="/submit_myreflect_verifier" method="POST" id="ver_form_id">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="white-box">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 m-auto">
							<div class="setup-inner-box for-protact responsive-field-radio">
								<div class="create-rflet-id-form">
									<div class="input-group for-radio-check-id-as">
									  <input type="text" class="form-control" readonly placeholder="You are Creating ID as an">
									  <div class="input-group-append">
									    <span class="input-group-text">
									    	 <div class="radio">
									          <label>
									            <input type="radio" id="entity"  name="o1" value="entity">
									            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
									            Entity
									          </label>
									        </div>
									         <div class="radio">
									          <label>
									            <input type="radio" id="representative"  name="o1" value="representative">
									            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
									            Representative
									          </label>
									        </div>
									    </span>
									  </div>
									</div>
									<div class="input-group for-radio-check-id-as">
									  <input type="text" class="form-control" readonly placeholder="Status">
									  <div class="input-group-append">
									    <span class="input-group-text">
									    	 <div class="radio">
									          <label>
									            <input type="radio" onclick="checkboxVerfier(value)" id="public" name="o2" value="public">
									            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
									            Public
									            <div class="tooltip fade text-tooltip" data-title="Your account will be confidential">
													<img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
												</div>
									          </label>
									        </div>
									         <div class="radio">
									          <label>
									            <input type="radio" onclick="checkboxVerfier(value)" id="private" name="o2" value="private">
									            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
									            Private
									            <div class="tooltip fade text-tooltip" data-title="Your account will be confidential">
													<img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
												</div>
									          </label>
									        </div>
										</span>
									  </div>
									</div>
									<span id="err_for_type" style="color:red"></span>

									<div class="input-group for-radio-check-id-as">
										<input type="text" class="form-control" readonly placeholder="Type">
										<div class="input-group-append">
										  <span class="input-group-text">
											   <div class="radio">
												<label>
												  <input type="radio" onclick="checkvaluefun(value)" name="verifier_type_name1" value="general" checked>
												  <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
												  Verifier/Certifier
												  <div class="tooltip fade text-tooltip" data-title="Your account will be confidential">
													  <img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
												  </div>
												</label>
											  </div>
											   <div class="radio">
												<label>
												  <input type="radio" onclick="checkvaluefun(value)"  name="verifier_type_name1" value="regular">
												  <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
												  Regulated
												  <div class="tooltip fade text-tooltip" data-title="Your account will be confidential">
													  <img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
												  </div>
												</label>
											  </div>
										  </span>
										</div>
									  </div>


								  <div class="for-entity"> 
								    <div class="input-group">
									  <input type="text" name="reflect_username" class="form-control" placeholder="MyReflet Username" data-rule-required="true" data-msg-required="Please enter myReflet Username.">
									  <div class="input-group-append">
									    <span class="input-group-text">
									    	<img src="../assets/images/icons/createidentity-assets/create-myreflet.png">
									    </span>
									  </div>
									</div>
									<div class="input-group">
										<input type="text" class="form-control" name="wallet_name" placeholder="Wallet Name">
										<div class="input-group-append">
										  <span class="input-group-text">
											  <img src="../assets/images/icons/createidentity-assets/create-myreflet.png">
										  </span>
										</div>
									  </div>
									<div class="input-group">
									  <input type="text" name="f_name" class="form-control" placeholder="First Name" data-rule-required="true" data-msg-required="Please enter first name.">
									  <div class="input-group-append">
									    <span class="input-group-text">
									    	<img src="../assets/images/icons/createidentity-assets/user.png">
									    </span>
									  </div>
									</div>
									<div class="input-group">
									  <input type="text" name="L_name" class="form-control" placeholder="Last Name" data-rule-required="true" data-msg-required="Please enter last name.">
									  <div class="input-group-append">
									    <span class="input-group-text">
									    	<img src="../assets/images/icons/createidentity-assets/user.png">
									    </span>
									  </div>
									</div>
									<div class="input-group">
									  <!-- <input type="email" name="email" class="form-control" placeholder="Email ID" data-rule-required="true" data-msg-required="Please enter email." data-rule-email="true"> -->
									  <input type="email" class="form-control" name="mail_id" value="<%=decrypt(email)%>" readonly="readonly">
									  <div class="input-group-append">
									    <span class="input-group-text">
									    	<img src="../assets/images/icons/createidentity-assets/email.png">
									    </span>
									  </div>
									</div>
									<div class="form-group for-select-existing-doc m-top-40">
						    	<div class="input-group ">
								  <div class="dropdown keep-inside-clicks-open">
									  <button class="dropdwn-btn btn-clr-placeholder" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									    Category
									  </button>
									  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

										<%verifier_category.forEach(cat_data=>{%>
											<div class="for-doc-select">
													<div class="checkbox"> 	
													  <label>
														<%=cat_data.category_name%>
														<input type="checkbox" class="product-list 
														"  onclick="checkCatName(value)" value="<%=cat_data.category_id%>"name="type_name">
														
														<span class="cr"><i class="cr-icon fa fa-check"></i></span>
													  </label>
													</div>	
												 </div>
										<%})%>
									    
									  </div>
									</div>
								 
								</div>
						    </div>
						     <span class="success_message_span success_span"style="color:red"></span>
								 </div>	
								 </div>
								</div>
								<input type="hidden" name="category_id" id="cat_name" >
								<input type="hidden" name="verifier_type" id="verifier_type" >
								<input type="hidden" name="wallet_id" value="<%=wallet_id%>" >
								<input type="hidden" name="reflect_code" value="<%=reflect_code%>" >
								<input type="hidden" name="verifier_type_name" id="verifier_type_name">
								<div class="private-key-copy-box ">
									<!-- <a class="btn-common-new text-center" href="my-reflet-id-view.php">Create myreflet id code</a> -->
									<button type="submit" id="sub_btn" class="btn-common-new text-center check_cat">Create myreflet id code</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
</section>



<%- include('../innerFooter')%>
<script type="text/javascript" src="assets/js/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script>
	$( () => {
		
		var abc = $("input[name='verifier_type_name1']:checked").val()
		// alert(abc)
		$("#verifier_type_name").val(abc)
	 	//  var abc = $("#verifier_type_name").val()
	})
</script>

<script type="text/javascript">
	$('#ver_form_id').validate({
		 onfocusout: function(element) {
		 this.element(element);
		 },
		 errorClass: 'error_validate',
		 errorElement:'span',
		 highlight: function(element, errorClass) {
		 $(element).removeClass(errorClass);
		 },
		 submitHandler:function(form)
			{
				if($("#public").prop("checked") || $("#private").prop("checked")){
		                   	// alert($("#public").prop("checked"))
						//   alert($("#private").prop("checked"))
						  $('#sub_btn').attr('disabled',true);
			              form.submit();
                }else{
					$("#err_for_type").text("please select any one.")
				}
			  
			}
		 });
</script>
<script>
	function checkboxVerfier(value){
		// alert(value)
	$("#verifier_type").val(value)
}
</script>
<script>
		function checkCatName(value){
			// alert(value)
		$("#cat_name").val(value)
		// $("#dropdownMenuButton").text("")
		// $("#dropdownMenuButton").text(value)


	}
	$('.check_cat').click(()=>
	{
		var id_list = $('input[name=type_name]:checked').val();
		// alert(id_list)
		if(!id_list)
	   {
		// alert(option_val)
     
		   $('.success_span').html('Please Select any Category');
            setTimeout(function() {
    $('.success_message_span').fadeOut('fast');
	}, 3000);
	return false;

	   }
	   else{
		return true;

	   }
	})
</script>
 <script type="text/javascript">
    $('.product-list').on('change', function() {
        $('.product-list').not(this).prop('checked', false);  
    });
  </script>
 <script>
	 function checkvaluefun(valueof){
		// 
	$("#verifier_type_name").val(valueof)
	 	 var abc = $("#verifier_type_name").val()
		//  alert(abc)
		//  alert(val)
	 }
 </script>