<%-include('../innerHeader')%>

<style>
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}



/* by dhruv */
	.client-dash-sec .wallet-box{
		position: relative;
		
	}
	
	.balance-value.alert.alert-warning {
		padding: 2px 10px;
		border-radius: 5px !important;
		color: #fff;
		position: absolute;
		right: 0;
		top: -16px;
	}
	.alert-warning {
		color: #856404;
		background-color: #28a745  !important;
		border-color: #28a745  !important;
	}
	
	.balance-value2.alert.alert-warning2 {
		padding: 3px 10px;
		border-radius: 5px !important;
		color: #fff;
		position: absolute;
		right: 0;
		top: -16px;
	}
	.alert-warning2 {
		color: #856404;
		background-color: #f2081e  !important;
		border-color: #f2081e  !important;
	}
	
	</style>
	
	
	
	
	
	<section class="heading-sec">
		<div class="container">
			<div class="row align-item-center">
				<div class="col-lg-9">
					<div class="custom-space-btw align-items-center">
						<div class="main-heading-dash">
							<img src="../assets/images/icons/home-assets/dashbord-grey.png">
							<h4>Dashboard: What Can I Do With My Reflet?</h4>
						</div>
						<div>
							
						</div>
					</div>
				</div>
				<div class="col-md-3">
						<div class="responsive-search">
									<form class="response-search"> 
										 <div class="input-group search-address-book">
											<input type="text" class="form-control autocomplete" id="myInput" placeholder="Search" onkeyup="autoSearch(value);" minlength="4" maxlength="4">
											<div class="input-group-append">
												<button class="btn btn-search" type="button"><img src="../assets/images/icons/search-black.png"></button>
											</div>
										</div>
									  </form>
								</div>
				</div>
				<div class="col-md-12">
					<div>
	
						<ul class="nav nav-tabs dashboard-tabs-outer" id="myTab" role="tablist">
						  <li class="nav-item">
							<a class="nav-link active" id="dash-tab" data-toggle="tab" href="#dashtab1" role="tab" aria-controls="home" aria-selected="true">
							<span>
								<img class="gray" src="../assets/images/icons/home-assets/wallet.png">
								<img class="purple" src="../assets/images/icons/home-assets/wallet-white.png">
							</span> 	
							Manage Wallet</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link"  href="myrequest" role="tab" >
							<span>
								<img class="gray" src="../assets/images/icons/home-assets/myrequests.png">
								<img class="purple" src="../assets/images/icons/home-assets/myrequests-white.png">
							</span> 
							New Requests
							</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link"  href="create-myrefletid" >
							<span>
								<img class="gray" src="../assets/images/icons/home-assets/myrefletID.png">
								<img class="purple" src="../assets/images/icons/home-assets/myrefletID-white.png">
							</span> 
							Create New MyReflet ID</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" id="dash-tab" data-toggle="tab" href="#dashtab4" role="tab" aria-controls="contact" aria-selected="false">
							<span>
								<img class="gray" src="../assets/images/icons/home-assets/icon_message1.png">
								<img class="purple" src="../assets/images/icons/home-assets/icon_message1-white.png">
							</span> 
							Send Messages</a>
						  </li>
						   <li class="nav-item">
							<a class="nav-link"  href="/address-book">
							<span>
								<img class="gray" src="../assets/images/icons/home-assets/addressbook.png">
								<img class="purple" src="../assets/images/icons/home-assets/addressbook-white.png">
							</span> 
							Address Book</a>
						  </li>
						   <li class="nav-item">
							<a class="nav-link" href="/complaint-list">
							<span>
								<img class="gray" src="../assets/images/icons/home-assets/complaints.png">
								<img class="purple" src="../assets/images/icons/home-assets/complaints-white.png">
							</span> 
						   Manage Complaints</a>
						  </li>
						   <li class="nav-item">
							<a class="nav-link" href="/get-certified-doc-list">
							<span>
								<img class="gray" src="../assets/images/icons/home-assets/code-verification-tool.png">
								<img class="purple" src="../assets/images/icons/home-assets/code-verification-tool-white.png">
							</span> 
							Self Certification</a>
						  </li>
						   <li class="nav-item">
							<a class="nav-link" href="/myrequest">
							<span>
								<img class="gray" src="../assets/images/icons/home-assets/mydocuments.png">
								<img class="purple" src="../assets/images/icons/home-assets/mydocuments-white.png">
							</span> 
							Send Document</a>
						  </li>
						   <li class="nav-item">
							<a class="nav-link" href="/my-reports-list">
							<span>
								<img class="gray" src="../assets/images/icons/home-assets/myrequests.png">
								<img class="purple" src="../assets/images/icons/home-assets/myrequests-white.png">
							</span> 
							Create New Report</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" href="/verifier">
							<span>
								<img class="gray" src="../assets/images/icons/home-assets/verifiers.png">
								<img class="purple" src="../assets/images/icons/home-assets/verifiers-white.png">
							</span> 
							Become A Verifier</a>
						  </li>
						 <!-- <li class="nav-item">
							  <div class="dropdown-menu-new">
											<a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
											  <span>
												<img class="gray" src="../assets/images/icons/home-assets/dashbord-grey.png">
												<img class="purple" src="../assets/images/icons/home-assets/dashboard.png">
											  </span> 
											  All Dashboards
											</a>
											<div class="dropdown-menu" aria-labelledby="profileDropdown">
												<a class="dropdown-item" href="/address-book" >
													<img src="../assets/images/icons/home-assets/addressbook.png"> Address Book
												</a>
												<a class="dropdown-item" href="/complaint-list">
													<img src="../assets/images/icons/home-assets/complaints.png"> Manage Complaints
												</a>
												<a class="dropdown-item" href="/get-certified-doc-list"><img src="../assets/images/icons/home-assets/code-verification-tool.png"> Self Certification
												</a>
												<a class="dropdown-item" href="/myrequest">
													<img src="../assets/images/icons/home-assets/mydocuments.png"> Send Document
												</a>
												<a class="dropdown-item" href="/my-reports-list">
													<img src="../assets/images/icons/home-assets/myrequests.png"> Create New Report
												</a>
												<a class="dropdown-item" href="/verifier">
													<img src="../assets/images/icons/home-assets/verifiers.png"> Become A Verifier
												</a>
	
											</div>
							</div>
						  </li>  -->
						</ul>
					</div>
				</div>
<!-- 					<div>
	
						<ul class="nav nav-tabs dashboard-tabs-outer" id="myTab" role="tablist">
						 <li class="nav-item search-dash">
								  <div class="responsive-search">
									<form class="response-search"> 
										 <div class="input-group search-address-book">
											<input type="text" class="form-control autocomplete" id="myInput" placeholder="Search" onkeypress="autoSearch(this);">
											<div class="input-group-append">
												<button class="btn btn-search" type="button"><img src="../assets/images/icons/search-black.png"></button>
											</div>
										</div>
									  </form>
								</div>
						  </li> 
						   <li class="nav-item">
							<a class="nav-link active" id="dash-tab" data-toggle="tab" href="#dashtab1" role="tab" aria-controls="home" aria-selected="true">
							<span>
								<img class="gray" src="../assets/images/icons/home-assets/wallet.png">
								<img class="purple" src="../assets/images/icons/home-assets/wallet-purple.png">
							</span> 	
							Manage Wallet</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" id="dash-tab" data-toggle="tab" href="#dashtab2" role="tab" aria-controls="profile" aria-selected="false">
							<span>
								<img class="gray" src="../assets/images/icons/home-assets/myrequests.png">
								<img class="purple" src="../assets/images/icons/home-assets/myrequests-purple.png">
							</span> 
							New Requests
							</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" id="dash-tab" data-toggle="tab" href="#dashtab3" role="tab" aria-controls="contact" aria-selected="false">
							<span>
								<img class="gray" src="../assets/images/icons/home-assets/myrefletID.png">
								<img class="purple" src="../assets/images/icons/home-assets/myrefletID-purple.png">
							</span> 
							Create New MyReflet ID</a>
						  </li> 
						  <li class="nav-item">
							<a class="nav-link" id="dash-tab" data-toggle="tab" href="#dashtab4" role="tab" aria-controls="contact" aria-selected="false">
							<span>
								<img class="gray" src="../assets/images/icons/home-assets/icon_message1.png">
								<img class="purple" src="../assets/images/icons/home-assets/icon_message.png">
							</span> 
							Send Messages</a>
						  </li> 
						 <li class="nav-item">
							  <div class="dropdown-menu-new">
											<a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
											  <span>
												<img class="gray" src="../assets/images/icons/home-assets/dashbord-grey.png">
												<img class="purple" src="../assets/images/icons/home-assets/dashboard.png">
											  </span> 
											  All Dashboards
											</a>
											<div class="dropdown-menu" aria-labelledby="profileDropdown">
												<a class="dropdown-item" href="" >
													<img src="../assets/images/icons/home-assets/addressbook.png"> Address Book
												</a>
												<a class="dropdown-item" href="">
													<img src="../assets/images/icons/home-assets/complaints.png"> Manage Complaints
												</a>
												<a class="dropdown-item" href=""><img src="../assets/images/icons/home-assets/code-verification-tool.png"> Self Certification
												</a>
												<a class="dropdown-item" href="">
													<img src="../assets/images/icons/home-assets/mydocuments.png"> Send Document
												</a>
												<a class="dropdown-item" href="">
													<img src="../assets/images/icons/home-assets/myrequests.png"> Create New Report
												</a>
												<a class="dropdown-item" href="">
													<img src="../assets/images/icons/home-assets/verifiers.png"> Become A Verifier
												</a>
	
											</div>
							</div>
						  </li>  
						</ul> 
					</div>
				</div>-->
				<div class="col-lg-12 col-md-8 col-sm-8">
					<div class="text-right">
						<a class="btn-common-new" href="create-wallets" style="margin-inline: 6px;">
						<!-- <img class="purple" src="../assets/images/icons/home-assets/wallet-purple.png"> -->
						Add New Wallet
					</a>
						<a class="btn-common-new" href="reflet-ids">
						<!-- <img class="purple" src="../assets/images/icons/home-assets/wallet-purple.png"> -->
						Link MyReflet ID
					</a>
					</div>
				</div> 
		
				<div class="col-md-12"> 
					<div class="white-box client-dash-sec">
						<div class="tab-content" id="myTabContent">
				<!-- message -->
				<% if(err_msg!=undefined && err_msg !='' ){ %>
					<div class="alert alert-danger text-center  flash_msg " id="error_msg">
						<%= err_msg %>
					   </div>
					 
					<% }%>
					 <% if(success_msg!=undefined && success_msg !='' ){ %>
					  <div class="alert alert-success text-center  flash_msg "id="success_message">
					  <%= success_msg %>
					 </div>
					<% }%>
						  <div class="tab-pane fade show active" id="dashtab1" role="tabpanel" aria-labelledby="dash-tab">
						   <h4 class="small-heading text-center"> My Crypto wallet</h4>
							  <td>
								<a href="all-wallets" class="view-link" style="float: right;">View All</a>
						</td>
						</h4> 
							  <div class="row">
								  <%  for(let i=0;i<cryptoWallet.length;i++) {%>
								<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
									<div class="white-box full-box wallet-box">
										<div class="row align-item-center">
										   <div class="col-xl-6 col-lg-12 col-md-12">
												 <!-- <div class="id-code-represent-heading"> 
												  <img src="../assets/images/icons/home-assets/Representative.png">
												  <span>Representative</span>
											  </div> -->
										   </div>
										   <% if(cryptoWallet[i].isLinked=='yes') {%>
										   <div class="col-xl-12 col-lg-12 col-md-12 text-right">
											   
												<label class="mb-0 balance-value ml-auto alert alert-warning" >Linked</label>
										   </div>
										   <% }else{ %>
										   <div class="col-xl-12 col-lg-12 col-md-12 text-right">
									   	 <label class="mb-0 balance-value2 ml-auto alert alert-warning2" >Not linked</label>
									   </div>
                                         <% } %>
										</div>
										<div>
										<div class="row inner-box-id-code">
												<div class="col-md-4 p-0">
													<div class="for-flex-align">
														<img src="../assets/images/icons/home-assets/user.png">
														<p>Wallet ID</p>
													</div>
												</div>
												<div class="col-md-6 dubble-dot-after p-0">
													<p><%= cryptoWallet[i].walletId %></p>
												</div>
											</div>
											<div class="private-key-copy-box mt-15">
												<div class="form-group">
													<label>Public key</label>
													<div class="input-group mb-3">
													  <input type="text" class="form-control" value="<%= cryptoWallet[i].walletAddress %>" id="wallet_addr<%=i %>" readonly>
													  <div class="input-group-append">
														<span class="tooltip">
														  <a class="btn-copy" href="javascript:void(0);"  onclick="myFunction1('<%=i %>')" onmouseout="outFunc('<%=i %>')"><img src="../assets/images/icons/createidentity-assets/copy.png">
															<span class="tooltiptext" id="myTooltip<%=i%>">Copy to clipboard</span>
														</a>
														</span>
													  </div>
													</div>
												</div>
											</div>
											<div class="row inner-box-id-code">
												<div class="col-md-4 p-0">
													<div class="for-flex-align">
														<img src="../assets/images/icons/home-assets/user.png">
														<p>MyReflet ID</p>
													</div>
												</div>
												<div class="col-md-6 dubble-dot-after p-0">
													<p><%= cryptoWallet[i].refletId %></p>
												</div>
											</div>
											<div class="row inner-box-id-code">
												<div class="col-md-4 p-0">
													<div class="for-flex-align">
														<% if(cryptoWallet[i].wallet_type=='BTC') {%>
														<img src="../assets/images/icons/wallet/bitcoin.svg">
														<% }else{ %>
															<img src="../assets/images/icons/wallet/ethereum.svg">
															<% } %>
														<p>Balance</p>
													</div>
												</div>
												<div class="col-md-6 dubble-dot-after p-0">
													<p><%= cryptoWallet[i].balance %></p>
												</div>
											</div>
											<div class="row inner-box-id-code">
												<div class="col-md-4 p-0">
													<div class="for-flex-align">
														<img src="../assets/images/icons/home-assets/user.png">
														<p>Wallet Type</p>
													</div>
												</div>
												<div class="col-md-6 dubble-dot-after p-0">
													<p><%= cryptoWallet[i].wallet_type %></p>
												</div>
											</div>
											<!-- <div class="row">
												<div class="col-md-3">
													<img src="../assets/images/icons/wallet/qrcode.png" class="img-fluid">
												</div>
												<div class="col-md-9">
													<h4 class="purple-heading">Just scan the wallet address</h4>
													<p>You can share this QR code with friends to receive ether or tokens in your wallet.</p>
													<div class="row mt-15">-->
														<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
														<a href="get_trans_history" onclick="location.href=this.href+'?wallet_type='+ `<%=encrypt(cryptoWallet[i].wallet_type) %>`+'&wallet_id='+`<%=encrypt(cryptoWallet[i].walletId) %>`;
															return false" class="btn-common-new"  style="padding: 4px 9px 3px 9px;"><i class="fas fa-eye"></i></a>
														</div>
														<!-- <div class="col-xl-6 col-lg-12 col-md-12">
															<a class="btn-common-new border-btn" href="" data-toggle="modal" data-target="#share-Modal"><img src="../assets/images/icons/wallet/share.png"> Share</a>
														</div>
													</div>
												</div>
											</div> -->
										 </div>
									</div>
								</div>
								<% } %>
							
							</div>		
			
		</div>
	</section>
	


<%- include('../innerFooter')%>



<script type="text/javascript" src="../assets/js/custom_qr.min.js"></script>


 <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

        <script type="text/javascript" src="assets/js/custom.js"></script>
        <link rel="stylesheet" type="text/css" href="assets/css/select2.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
<script>

$(document).ready(function() {
                $(".select2-country").select2();
         });
</script>

<script>
	var text_share,rowno;
	function show_share_modal(text_share,rowno)
	{
		alert(text_share);
		alert(rowno);
		var whatsup_url='https://api.whatsapp.com/send?text='+encodeURI('Please send ether to wallet address '+text_share);
		//var facebook_url='https://m.facebook.com/sharer.php?u=';
		var instagram_url='https://api.facebook.com/send?text='+encodeURI('Please send ether to wallet address ',+text_share);
		// var facebook_url=encodeURIComponent("Hey,I scored 4500"); window.open("https://www.facebook.com/sharer.php?u=http://192.168.1.137:3001/&description="+text_share);
	      var facebook_url="https://www.facebook.com/sharer.php?u=https://www.myreflet.com/&description="+text_share;

		$('#whatsup-url').attr('href',whatsup_url);
		// $('#instagram-url').attr('href',instagram_url);


		// $('#facebook-url').attr('href',facebook_url);

		// alert("wallet add"+text_share);
		$('#wallet-qrcode').html('');
		create_qrcode('wallet-qrcode',text_share,200,200);

		$('#share-Modal').modal('show');
	}


$(function(){

	var i=1;
	$('.qrcode').each(function(){


		var wallet_add=$('#wallet_addr'+i).val();


		// var wallet_div=$('#qrcode'+i).val();

		create_qrcode('qrcode'+i,wallet_add,110,110);

		// var qr_src=$('#qrcode'+i).html();

         //console.log("qr src",qr_src);
		i++;
	});

    

})

var qrdiv,qrtext;
function create_qrcode(qrdiv,qrtext,qrwidth,qrheight)
{

		var qrcode = new QRCode(qrdiv, {
	        text:qrtext,
		    width:qrwidth,
		    height:qrheight,
		    colorDark : "#000000",
		    colorLight : "#ffffff",
		    correctLevel : QRCode.CorrectLevel.H
	   });



       
		// var file = dataURLtoFile(base64_string,'qrcode.png');


		// $.ajax({
  //           url:""+authToken,
  //           type:"POST",
  //           data:fd,
  //           processData:false,
  //           contentType:false,
  //           cache:false,
  //           success:function(data){
  //               console.log("success " + data);
  //           },
  //           error:function(shr,status,data){
  //               console.log("error " + data + " Status " + shr.status);
  //           },
  //           complete:function(){
  //               console.log("Posted to facebook");
  //           }
  //       });
    		
}

// qrcode.clear(); // clear the code.
// qrcode.makeCode("http://naver.com"); // make another code.
// document.body.addEventListener('click', ()=>{
//             qrcode.clear(); 
//             qrcode.makeCode("http://google.ca/"); 
//         })

function shareit(TheImg)
{
	var base64_string=$('#wallet-qrcode').find('img').attr('src');

	// var u = dataURLtoFile(base64_string,'qrcode.png');
	 u=document.getElementById("whatsap_image").src
	//  u=document.getElementById("wallet-qrcode")
	 console.log("image",u)
     // t=document.title;
    // t=TheImg.getAttribute('alt');
    window.open('http://www.facebook.com/sharer.php?u=https://www.myreflet.com/&t='+encodeURIComponent("abc")+'&description='+encodeURIComponent("abc123"),'sharer');return false;
//}




	// var scored = document.getElementById('wallet-qrcode').innerHTML;
	

    //  var desc=encodeURIComponent("Hey,I scored 4500"); window.open("https://www.facebook.com/sharer.php?u=https://www.myreflet.com/&description=afafafbfb");
	// var authToken="EAACbCf6ZCDywBANgEtJuo5LBr4OhQaP7IrFioNzNgxktS3MZBu2tmpJKuwxkLHnl9SFHtSOM04jo3Ad0f18P1FCxFDYLAJNAzSM8kTZCJrCEN02lZAKaTZCONGHhlaDLL7juJZBGS6B1fiEHLTFJ7dG0lnGDktiDtv8Pojf85hfCvzTEZB9QZAkFoH9ADAfsmS4g4VWRXbISSGdUWvTRfiztGVy152wRwovMrTFqdtomvAZDZD";
 //    // var canvas = document.getElementById("c");
 //    // var imageData  = canvas.toDataURL("image/png");
 //    // try {
 //    //     blob = dataURItoBlob(imageData);
 //    // }
 //    // catch(e) {
 //    //     console.log(e);
 //    // }
 //    var base64_string=$('#wallet-qrcode').find('img').attr('src');

 //    var file = dataURLtoFile(base64_string,'qrcode.png');
    
 //    var fd = new FormData();
 //    fd.append("access_token",authToken);
 //    fd.append("source",file);
 //    fd.append("message","Photo Text");
 //    try {
 //        $.ajax({
 //            url:"https://graph.facebook.com/me/photos?access_token="+authToken,
 //            type:"POST",
 //            data:fd,
 //            processData:false,
 //            contentType:false,
 //            cache:false,
 //            success:function(data){
 //                console.log("success " + data);
 //            },
 //            error:function(shr,status,data){
 //                console.log("error " + data + " Status " + shr.status);
 //            },
 //            complete:function(){
 //                console.log("Posted to facebook");
 //            }
 //        });
 //    }
 //    catch(e) 
 //    {
 //        console.log(e);
 //    }
}

function shareit_data()
{
	var base64_string=$('#wallet-qrcode').find('img').attr('src');

	var file = dataURLtoFile(base64_string,'qrcode.png');
    // console.log(file);

    $.ajax({
            url:""+authToken,
            type:"POST",
            data:fd,
            processData:false,
            contentType:false,
            cache:false,
            success:function(data){
                console.log("success " + data);
            },
            error:function(shr,status,data){
                console.log("error " + data + " Status " + shr.status);
            },
            complete:function(){
                console.log("Posted to facebook");
            }
        });
    			

	//console.log(base64_string);
	// var img = document.createElement("img");
	// img.width = "250px";
	// img.height = "250px";
	// img.src = base64_string;
	// var preview = document.getElementById("img_preview");
	// preview.appendChild(img);

	//console.log('img',img);
}


function dataURLtoFile(dataurl,filename) {
 
	var arr = dataurl.split(','),
	    mime = arr[0].match(/:(.*?);/)[1],
	    bstr = atob(arr[1]), 
	    n = bstr.length, 
	    u8arr = new Uint8Array(n);
	    
	while(n--){
	    u8arr[n] = bstr.charCodeAt(n);
	}

	return new File([u8arr], filename, {type:mime});
}

</script>

<script type="text/javascript">
// function shareit(){
// 	var url=window.location.href; //Set desired URL here
// 	var img=$('#wallet-qrcode').find('img').attr('src'); //Set Desired Image here
// 	//var totalurl=encodeURIComponent(url+'?img='+img);
// 	var totalurl='http://192.168.1.137:3001/assets/images/icons/wallet/fb.png';

// 	//alert(img);

// 	// alert("url"+totalurl);

// 	 window.open ('http://www.facebook.com/sharer.php?u='+totalurl,'','width=500, height=500, scrollbars=yes, resizable=no');

// }

//  function shareit() {
//      var u=$('#wallet-qrcode').find('img').attr('src');

//      var blob_url=dataURItoBlob(u);

//      alert(blob_url);
//      // t=document.title;
//     t='img';
//     // window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;
// }


function dataURItoBlob(dataURI) {
  // convert base64 to raw binary data held in a string
  // doesn't handle URLEncoded DataURIs - see SO answer #6850276 for code that does this
  var byteString = atob(dataURI.split(',')[1]);

  // separate out the mime component
  var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0]

  // write the bytes of the string to an ArrayBuffer
  var ab = new ArrayBuffer(byteString.length);

  // create a view into the buffer
  var ia = new Uint8Array(ab);

  // set the bytes of the buffer to the correct values
  for (var i = 0; i < byteString.length; i++) {
      ia[i] = byteString.charCodeAt(i);
  }

  // write the ArrayBuffer to a blob, and you're done
  var blob = new Blob([ab], {type: mimeString});
  return blob;

}

</script>



 <script type="text/javascript">
	function copy_address(i_val) {
	  var copyText = document.getElementById("wallet_addr"+i_val);
	  if($('#wallet_addr').val() !="")
	  {
	  copyText.select();
	  document.execCommand("copy");
	  alert("Wallet address is copied.");
	  }  
	}  
</script>


 <script>
function myFunction1(i_val) {
  var copyText = document.getElementById("wallet_addr"+i_val);
  copyText.select();
  copyText.setSelectionRange(0, 99999);
  document.execCommand("copy");
  
  var tooltip = document.getElementById("myTooltip"+i_val);
  tooltip.innerHTML = "Copied";
    // tooltip.innerHTML = "Copied: " + copyText.value;

}

function outFunc(i_val) {
  var tooltip = document.getElementById("myTooltip"+i_val);
  tooltip.innerHTML = "Copy to clipboard";
}
</script>

   <script type="text/javascript">
function handleSelect(elm)
{
	// alert(elm)
window.location = elm.value;
}
</script>


<script>
function autoSearch(reflect_code)
{
	


	// if(reflect_code.length<4){
	// 	// alert(reflect_code.length)
	//   return false

	// }
	// alert(reflect_code)
	if(reflect_code){

    $.ajax({
            url:"/client-deshboard-search-wallet",
            type:"POST",
            data:{reflect_code},
            success:function(data){

				$("#myWalletAddBySearch").html("")
				$("#myWalletAddBySearch").html(data)
                // console.log("success " + data);
            },
            error:function(shr,status,data){
                console.log("error " + data + " Status " + shr.status);
            }
           
		});
	}else{
		setTimeout(function() {
			location.reload(true)

        }, 1000);
	}

}
</script>
